<div ng-controller="appendContactFormCtrl">
    <div class="TitleBar">
        <page-title title="'Website Contact Form Submissions'" sub-title="'These have been submitted by people from the website'">
            <a href class="btn btn-primary btn-sm" ui-sref="app.adminContactForm()">
                <span>View Contact Forms</span>
            </a>
        </page-title>
    </div>

    <div class="content container">
        <form name="form">
            <div>
                <div class="form-group">
                    <label>Created</label>
                    <div>{{enquiry.created | date :  "EEE dd MMM yyyy @ hh:mma"}}</div>
                </div>

                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control no-border" ng-model="enquiry.name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control no-border" ng-model="enquiry.email">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input class="form-control no-border" ng-model="enquiry.phone">
                </div>
                <div class="form-group">
                    <label>Referral</label>
                    <input class="form-control no-border" ng-model="enquiry.referral">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control no-border" ng-model="enquiry.message">{{enquiry.message}}</textarea>
                </div>


                <div ng-if="displaySaving || displaySaved" class="alert alert-danger">
                    <div ng-if="displaySaving">We are currently saving...</div>
                    <div ng-if="displaySaved">Saved..</div>
                    <hr>
                    <directive-display-joke></directive-display-joke>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-warning" ng-click="remove(enquiry)">Delete</button>
                    <button type="submit" class="btn btn-lg btn-default" ui-sref="app.adminContactForm()">Close</button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-click="save(enquiry)">Save Page</button>
                </div>
            </div>

        </form>
    </div>



</div>
