//Variables
@aside-width: 200px;


//@import "bower_components/bootstrap/less/bootstrap.less";
@import "template-less/app.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
@import "directive/toolbar/toolbar.less";
@import "partial/home/home.less";
@import "directive/aside/aside.less";
@import "partial/App/App.less";
@import "directive/asideNav/asideNav.less";
@import "directive/navItem/navItem.less";
@import "directive/pageTitle/pageTitle.less";
@import "directive/dataPanel/dataPanel.less";
@import "partial/signIn/signIn.less";
@import "partial/signUp/signUp.less";
@import "partial/jobsDetail/jobsDetail.less";
@import "partial/jobsMaster/jobsMaster.less";
@import "partial/bidMaster/bidMaster.less";
@import "partial/bidDetail/bidDetail.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html, body {
    height: 100%;
}
