<div ng-controller="adminContentBlockTypesCtrl">
    <div class="TitleBar">
        <page-title title="'Pages'">
            <a href class="btn btn-primary btn-addon btn-lg" ng-click="toggleAdd()">
                <i class="fa fa-plus"></i>
                <span>New {{pagetypesingle}}</span>
            </a>
        </page-title>
    </div>

    <div class="ttable adminContentTable">
        <div class="trow row">

            <div class="tcell bg-light lter leftMenu">
                <div class="menuItem" ng-repeat="thisresult in results" ng-mouseover="this1 = true" ng-mouseleave="this1 = false">
                    <div>{{thisresult.name}}</div>
                    <div ng-show="this1">
                        <a href ng-click="editPage(thisresult)">Edit</a>
                        <a href ng-click="delete(thisresult)">Delete</a>
                    </div>
                </div>
                <div class="menuItem" ng-show="!results.length">
                    <div>There are currently no {{pagetypeplural}}.</div>
                </div>
                <div class="menuItem text-center">
                    <a href ng-click="toggleAdd()">
                        <span>Add {{pagetypesingle}}</span>
                    </a>
                </div>
            </div>

            <div class="tcell rightside">
                <div class="content">
                    <div class="animate-show" ng-hide="hideThis">
                        <form name="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control no-border" ng-model="page.name">
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-lg btn-danger" ng-click="delete(page)">Delete</button>
                                <button type="submit" class="btn btn-lg btn-default" ng-click="close(page)">Close</button>
                                <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
                            </div>
                        </form>
                    </div>

                    <div ng-show="hideThis">
                        <span>Select to edit an existing page from the left menu, or</span>
                        <a ng-click="toggleAdd()">click to add a new page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
