<div ng-controller="adminAppendPackagesCtrl">
    <div class="TitleBar">
        <page-title title="'Append Packages'">
            <a href class="btn btn-primary btn-addon btn-sm" ui-sref="app.adminPackages">
                <i class="fa fa-plus"></i>
                <span>View Packages</span>
            </a>
        </page-title>
    </div>

    <div class="adminContent container-fluid">
        <div>
            <form name="form">
                <div class="form-group">
                    <label>House Name</label>
                    <input class="form-control no-border" ng-model="page.packageId" disabled>
                </div>

                <div class="well">
                    <div class="form-group">
                        <label>Lot Stage / Lot Number</label>
                        <select ng-model="page.land" ng-change="changeLand(page.land)">
                            <option ng-repeat="land in landResults" value="{{land._id}}">{{land.stage}} - {{land.lotNumber}}</option>
                        </select>
                    </div>

                    <div>Stage: {{page.stage}}</div>
                    <div>Lot Number: {{page.lotNumber}}</div>
                    <div>Land Price: {{page.landPrice}}</div>
                    <div>Land Size: {{page.landSize}}</div>
                </div>


                <div class="well">
                    <div class="form-group">
                        <label>Builder Home</label>
                        <select ng-model="page.home" ng-change="changeHome(page.home)">
                            <option ng-repeat="homeResult in homeResults" value="{{homeResult._id}}">{{homeResult.builder.name}} - {{homeResult.name}}</option>
                        </select>
                    </div>

                    <div>Builder: {{page.builder}}</div>
                    <div>Builder: {{page.builderName}}</div>
                    <div>Build Price: {{page.buildPrice}}</div>
                    <div>House Size: {{page.houseSize}}</div>
                    <div>Bedrooms: {{page.bedrooms}}</div>
                    <div>Bathrooms: {{page.bathrooms}}</div>
                    <div>Cars: {{page.cars}}</div>
                    <div>House Levels: {{page.houseLevels}}</div>
                </div>


                <div class="form-group">
                    <label>Package Build Price</label>
                    <input class="form-control no-border" ng-model="page.packageBuildPrice" ng-change="resetPackagePrice()">
                </div>

                <div class="form-group">
                    <a href="" ng-click="page.fixedPackageBuildPrice = !page.fixedPackageBuildPrice">
                        <span ng-show="page.fixedPackageBuildPrice">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="page.fixedPackageBuildPrice">
                            <i class="fas fa-square" ></i>
                        </span>
                        Fixed Price Package
                    </a>
                </div>

                <div class="form-group">
                    <label>Package Price</label>
                    <input class="form-control no-border" ng-model="page.packagePrice" ng-change="changePackagePrice()">
                </div>

                <div>
                    <h2>Files</h2>
                    <directive-file-management currentdoc="page" currentdoctype="'package'" ng-if="page._id"></directive-file-management>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-warning" ng-click="remove(page)">Delete</button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>
