<div ng-controller="adminLocationPointsCtrl">
    <div class="TitleBar">
        <page-title title="'Location Points'">
            <a href class="btn btn-primary btn-addon btn-lg" ng-click="editPage({})">
                <i class="fa fa-plus"></i>
                <span>New Location Point</span>
            </a>
        </page-title>
    </div>

    <div class="ttable adminContentTable">
        <div class="trow row">

            <div class="tcell bg-light lter leftMenu">
                <div class="menuItem" ng-repeat="thisresult in locationPoints" ng-mouseover="this1 = true" ng-mouseleave="this1 = false">
                    <div>{{thisresult.name}}</div>
                    <div ng-show="this1">
                        <a href ng-click="editPage(thisresult)">Edit</a>
                        <a href ng-click="delete(thisresult)">Delete</a>
                    </div>
                </div>
                <div class="menuItem" ng-show="!locationPoints.length">
                    <div>There are currently no Location Points.</div>
                </div>
                <div class="menuItem text-center">
                    <a href ng-click="editPage({})">
                        <span>Add Location Point</span>
                    </a>
                </div>
            </div>

            <div class="tcell rightside">
                <div class="content">
                    <div class="animate-show" ng-hide="hideThis">
                        <form name="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control no-border" ng-model="page.name">
                            </div>

                            <div class="form-group">
                                <label>Lat</label>
                                <input class="form-control no-border" ng-model="page.geo.lat">
                            </div>

                            <div class="form-group">
                                <label>Lng</label>
                                <input class="form-control no-border" ng-model="page.geo.lng">
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control no-border" ng-model="page.description">
                            </div>

                            <div class="form-group">
                                <label>Location Category</label>
                                <select ng-model="page.category">
                                    <option value="">---Please select---</option>
                                    <option ng-repeat="thisCategory in locationCategorys" value="{{thisCategory._id}}">{{thisCategory.name}}</option> <!-- interpolation -->
                                </select>
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-lg btn-danger" ng-click="delete(page)">Delete</button>
                                <button type="submit" class="btn btn-lg btn-default" ng-click="close(page)">Close</button>
                                <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
                            </div>
                        </form>
                    </div>

                    <div ng-show="hideThis">
                        <span>Select to edit an existing page from the left menu, or</span>
                        <a ng-click="editPage({})">click to add a new page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
