<div>
    <div class="displayFlex">
        <div class="flexGrow">
            <label>File Id</label>
            <input class="form-control no-border" ng-model="addFileId">
        </div>
        <div><a href ng-click="addFile(addFileId)">Add File by ID</a></div>
    </div>


    <div class="clearfix">
        <div class="ttable lotList">
            <div class="trow">
                <h2 class="tcell">ID</h2>
                <h2 class="tcell">File Name</h2>
                <h2 class="tcell">MimeType</h2>
                <h2 class="tcell">fileType</h2>
                <h2 class="tcell">Action</h2>
            </div>
            <div class="trow" ng-repeat="mediaFile in currentdoc.associatedFiles">
                <div class="tcell">{{mediaFile.fileId}}</div>
                <div class="tcell">
                    <a href
                       ng-href="http://clientstorage.altitudepm.com.au/{{mediaFile.storeName}}"
                       target="_blank">{{mediaFile.storeName}}
                    </a>
                </div>
                <div class="tcell">{{mediaFile.mimetype}}</div>
                <div class="tcell">
                    <select ng-model="mediaFile.fileType" ng-change="updateMediaFile(mediaFile)">
                        <option value="null">---Please select---</option>
                        <option ng-repeat="fileType in fileTypes" value="{{fileType._id}}">{{fileType.fileTypeName}}</option>
                    </select>
                </div>
                <div class="tcell text-right">
                    <a href ng-click="deleteMediaFile(mediaFile)">delete</a>
                </div>
            </div>
    </div>

</div>
