<div ng-controller="adminAppendContentBlocksCtrl">
    <div class="TitleBar">
        <page-title title="'Edit Content Blocks : Page Sub-Content'">
            <a href class="btn btn-primary btn-sm" ui-sref="app.adminContentBlocks()">
                <span>View Content Blocks</span>
            </a>
        </page-title>
    </div>



    <div class="adminContent container-fluid" >
        <div>
            <form name="form">
                <div class="form-group">
                    <label>Heading</label>
                    <input class="form-control no-border" ng-model="page.heading">
                </div>
                <div class="form-group">
                    <label>Sub Heading</label>
                    <input class="form-control no-border" ng-model="page.subHeading">
                </div>

                <div class="form-group">
                    <label>Link</label>
                    <input class="form-control no-border" ng-model="page.link">
                </div>

                <div class="form-group">
                    <label>Order</label>
                    <input class="form-control no-border" ng-model="page.order">
                </div>

                <div class="form-group">
                    <label>Css Class</label>
                    <input class="form-control no-border" ng-model="page.cssClass">
                </div>

                <div class="form-group">
                    <label>Pug Template</label>
                    <input class="form-control no-border" ng-model="page.pugTemplate">
                </div>

                <div class="form-group">
                    <label>Content Block Type</label>
                    <select ng-model="page.contentBlockType">
                        <option ng-repeat="contentBlockType in contentBlockTypes"
                                ng-selected="contentBlockType._id == page.contentBlockType"
                                value="{{contentBlockType._id}}">{{contentBlockType.name}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Page Content</label>
                    <div text-angular ta-unsafe-sanitizer="true" ng-model="page.pageContent"></div>
                </div>

                <div>
                    <h2>Files</h2>
                    <directive-file-management currentdoc="page" currentdoctype="'contentBlocks'" ng-if="page._id"></directive-file-management>
                </div>

                <div ng-if="displaySaving || displaySaved" class="alert alert-danger">
                    <div ng-if="displaySaving">We are currently saving...</div>
                    <div ng-if="displaySaved">Saved..</div>
                    <hr>
                    <directive-display-joke></directive-display-joke>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-warning" ng-click="remove(page)">Delete</button>
                    <button type="submit" class="btn btn-lg btn-default" ui-sref="app.adminContentBlocks()">Close</button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
                </div>

            </form>
        </div>
    </div>


</div>
