<div ng-controller="appendPagesCtrl">
    <div class="TitleBar">
        <page-title title="'Append Pages'">
            <a href class="btn btn-primary btn-sm" ui-sref="app.adminPages()">
                <span>View Pages</span>
            </a>
        </page-title>
    </div>

    <div class="adminContent container-fluid" >
        <div>
            <form name="form">
                <div class="form-group">
                    <label>Page Title</label>
                    <input class="form-control no-border" ng-model="page.name">
                </div>
                <div class="form-group">
                    <label>Page URL</label>
                    <input class="form-control no-border" ng-model="page.cms.pageUrl">
                </div>
                <div class="form-group">
                    <label>Show In Sitemap</label>
                    <div ng-click="page.cms.showInSitemap = !page.cms.showInSitemap">
                        <div >
                            <i class="fa fa-check" aria-hidden="true" ng-show="page.cms.showInSitemap"></i>
                            <i class="fa fa-times" aria-hidden="true" ng-hide="page.cms.showInSitemap"></i>
                            Show Page In Sitemap (Search Engine Index)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Published</label>
                    <div ng-click="page.cms.published = !page.cms.published">
                        <div >
                            <i class="fa fa-check" aria-hidden="true" ng-hide="page.cms.published"></i>
                            <i class="fa fa-times" aria-hidden="true" ng-show="page.cms.published"></i>
                            Published
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Page Template</label>
                    <select ng-model="page.cms.pageTemplate">
                        <option ng-repeat="templateFileName in templateFileNames" value="{{templateFileName.value}}">{{templateFileName.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Page Content</label>
                    <div text-angular ta-unsafe-sanitizer="true"  ng-model="page.pageContent"></div>
                </div>

                <hr/>

                <div>
                    <div class="form-group">
                        <label>Header Slider</label>
                        <select ng-model="page.headerSlider">
                            <option value="undefined">-- NOT SELECTED --</option>
                            <option ng-repeat="contentBlockType in contentBlockTypes"
                                    value="{{contentBlockType._id}}">{{contentBlockType.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Header Image / Slider</label>
                        <div ng-click="page.hideHero = !page.hideHero">
                            <div >
                                <i class="fa fa-check" aria-hidden="true" ng-show="page.hideHero"></i>
                                <i class="fa fa-times" aria-hidden="true" ng-hide="page.hideHero"></i>
                                Hide Hero Image
                            </div>
                        </div>

                        <div ng-click="page.coverHero = !page.coverHero">
                            <div >
                                <i class="fa fa-check" aria-hidden="true" ng-show="page.coverHero"></i>
                                <i class="fa fa-times" aria-hidden="true" ng-hide="page.coverHero"></i>
                                Display Hero As Background Cover
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="page._id">
                    <div class="form-group">
                        <label>Add Content Blocks</label>
                        <select ng-model="testsomething.someSelectedContentBlock">
                            <option ng-repeat="contentBlockType in contentBlockTypes"
                                    value="{{contentBlockType._id}}">{{contentBlockType.name}}</option>
                        </select>
                        <a href ng-click="addContentType()" class="btn btn-primary btn-sm">Add Content Type</a>
                    </div>
                    <div>
                        <div class="ttable lotList">
                            <div class="trow">
                                <h2 class="tcell">Content Block Type</h2>
                                <h2 class="tcell">ID</h2>
                                <h2 class="tcell">Block Title</h2>
                                <h2 class="tcell">Template / Layout</h2>
                                <h2 class="tcell">Action</h2>
                            </div>
                            <div class="trow" ng-repeat="contentTypes in page.contentBlocks">
                                <div class="tcell">{{contentBlockTypesObject[contentTypes.blockType].name}}</div>
                                <div class="tcell">{{contentTypes.blockType}}</div>
                                <div class="tcell">
                                    <input class="form-control no-border" ng-model="contentTypes.blockTitle">
                                </div>
                                <div class="tcell">
                                    <input class="form-control no-border" ng-model="contentTypes.layout">
                                </div>
                                <div class="tcell">
                                    <a href ng-click="blockShiftDown(contentTypes)" ng-hide="$last">Down</a>
                                    <a href ng-click="blockShiftUp(contentTypes)" ng-hide="$first">Up</a>
                                    <a href ng-click="blockDelete(contentTypes)">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div>
                    <h2>Page Files</h2>
                    <directive-file-management currentdoc="page" currentdoctype="'pages'" ng-if="page._id"></directive-file-management>
                </div>

                <hr/>

                <div ng-if="displaySaving || displaySaved" class="alert alert-danger">
                    <div ng-if="displaySaving">We are currently saving...</div>
                    <div ng-if="displaySaved">Saved..</div>
                    <hr>
                    <directive-display-joke></directive-display-joke>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-warning" ng-click="remove(page)" ng-if="page._id">Delete</button>
                    <button type="submit" class="btn btn-lg btn-default" ui-sref="app.adminPages()">Close</button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
                </div>
            </form>
        </div>
    </div>


</div>
