#builderFilesSection

  #builderFilesBreadcrumbs

  #builderFolders

  #builderFiles

  script.
    var api_key = 'AIzaSyCZfOhKtmHpEAmSJzORrlyuUePowXOPWnU';
    var projectFolder = '0B-FN9BqVQ8lmU0RWdmNza0ZLUUU';

    function getFolderContent(currentFolder) {
      var getUrl = "https://www.googleapis.com/drive/v3/files?q='" + currentFolder + "'+in+parents&key=" + api_key;
      $.ajax({
        type: 'GET',
        url: getUrl,
        success: function (result) {
          compileLinks(result.files);
        }
      });
    }

    $(document).ready(function () {
      $(function () {
        getFolderContent(projectFolder);
        resetBreadcrumbs();
      })
    })

    var folderContent = {}
    function compileLinks(currentFolderResults) {
      folderContent = {
        folders: [],
        files: []
      }
      for (var i = 0; i < currentFolderResults.length; i++) {
        var thisFile = currentFolderResults[i];
        if (thisFile.mimeType === 'application/vnd.google-apps.folder') {
          folderContent.folders.push(thisFile);
        } else {
          thisFile.downloadLink = 'https://drive.google.com/uc?export=download&id=' + thisFile.id;
          thisFile.viewLink = 'https://drive.google.com/file/d/' + thisFile.id + '/edit?usp=sharing';
          folderContent.files.push(thisFile);
        }

        if (i === currentFolderResults.length -1) {
          displayFolderContent()
        }
      }
    }

    function openGoogleFolder(folderId, folderName) {
      getFolderContent(folderId)
      resetBreadcrumbs(folderId, folderName);
      return false;
    }

    function displayFolderContent() {
      $('#builderFolders').empty()
      if (folderContent.folders.length > 0) {
        $('#builderFolders').append('<h2>Folders</h2>');
      }
      for (var oi = 0; oi < folderContent.folders.length; oi++) {
        var addThisFolder = '<div class="folderItem">';
        addThisFolder += '<a href="" onclick="return openGoogleFolder(' + "'" + folderContent.folders[oi].id + "','" + folderContent.folders[oi].name + "'" +')">';
        addThisFolder += '<i class="fa fa-folder-open"></i>';
        addThisFolder += folderContent.folders[oi].name;
        addThisFolder += '</a>';
        addThisFolder += '</div>';

        $('#builderFolders').append(addThisFolder);
      }

      $('#builderFiles').empty()
      if (folderContent.files.length > 0) {
        $('#builderFiles').append('<h2>Files</h2>');
      }
      for (var fi = 0; fi < folderContent.files.length; fi++) {
        var addThisFile = '<div class="fileItem">';
        addThisFile += '<a href="' + folderContent.files[fi].viewLink + '" target="_blank">';
        if (folderContent.files[fi].mimeType == 'application/pdf') {
          addThisFile += '<i class="fas fa-file-pdf" aria-hidden="true"></i>';
        } else {
          addThisFile += '<i class="fas fa-file" aria-hidden="true"></i>';
        }
        addThisFile += folderContent.files[fi].name;
        addThisFile += '</a>';
        addThisFile += '</div>';

        $('#builderFiles').append(addThisFile);
      }
    }



    // HANDLE BREADCRUMBS
    var breadcrumbs = [{
      id: projectFolder,
      name: 'Home'
    }];

    function resetBreadcrumbs(folderId, folderName) {
      if (folderId && folderName) {
        var thisBreadcrumb = {
          id: folderId,
          name: folderName
        };

        var currentBreadcrumb = -1;
        for (var i = 0; i < breadcrumbs.length; i++) {
          if (breadcrumbs[i].id == folderId) {
            currentBreadcrumb = i;
          }

          if (i == breadcrumbs.length -1) {
            if (currentBreadcrumb == -1) {
              breadcrumbs.push(thisBreadcrumb)
              console.log("added breadcrumbs: ", breadcrumbs);
            } else {
              var remainingBreadcrumbs = breadcrumbs.length - currentBreadcrumb;
              breadcrumbs.splice(currentBreadcrumb + 1, remainingBreadcrumbs);
              console.log("removed breadcrumbs: ", breadcrumbs);
            }
          }
        }
      }

      $('#builderFilesBreadcrumbs').empty()
      for (var cb = 0; cb < breadcrumbs.length; cb++) {
        if (cb !== 0) {
          $('#builderFilesBreadcrumbs').append('<i class="fas fa-angle-right"></i>');
        }

        var displayBreadcrumb = '<a class="breadcrumbName" href="" onclick="return openGoogleFolder(' + "'" + breadcrumbs[cb].id + "','" + breadcrumbs[cb].name + "'" +')">';
        displayBreadcrumb += breadcrumbs[cb].name;
        displayBreadcrumb += '</a>';
        $('#builderFilesBreadcrumbs').append(displayBreadcrumb);
      }
    }