//- includes/footer.jade

#ContactUs
  .containerPadding.containerBorder
    .container
      +footerForm()


include ./map.pug


#siteFooter.backgroundDark.fontWhite.pad20
  .container
    .displayFlex.flexWrap
      .flexGrow
        .footerHeading
          h3 Pages
        .footerContent.displayFlex.flexColumn
          a(href="/")
            span Home
          a(href="/i/for-sale")
            span For Sale
          a(href="/i/community")
            span Community
          a(href="/i/Location")
            span Location
          a(href="/i/plans")
            span Individual Plans
      .flexGrow
        .footerHeading
          h3 Contact Us
        .footerContent.displayFlex.flexColumn
          div Oakland Way
          div Beaudesert QLD 4285
          a(href="tel:1300625526", target="_blank")
            i.fas.fa-phone.iconPadRight
            span 1300 625 526
          a(href="mailto:sales@oaklandestate.com.au", target="_blank")
            i.fas.fa-envelope.iconPadRight
            span sales@oaklandestate.com.au
      .flexGrow
        .footerHeading
          h3 Get Social
        .footerContent.displayFlex.flexColumn
          a(href="https://www.facebook.com/oaklandestate/", target="_blank")
            i.fab.fa-facebook-f.iconPadRight
            span facebook.com/oaklandestate/
      img.imgStamp(src="/assets/images/Altitude_Stamp.jpg")
      hr
    .copyright
      i.far.fa-copyright.iconPadRight
      | Copyright Oakland Village #{(new Date()).getFullYear()}. All Rights Reserved.


.
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5aa49353d7591465c7087408/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->