#siteHeader
  .navbar.navbar-desktop
    img(src="/assets/images/OaklandVillageLogo-White.png")
    ul.flexGrow
      +buildMenu(menus.byType.mainMenu)
    a(href="tel:1300625526").btn.btn-large.btn-default Call
    .displayFlex.flexHorizontalCenter.btn.btn-large.btn-light(onclick="return openEnquiryModal({mandrillTemplate: 'somerfield-enquiry'})") ENQUIRE
  .navabar.navbar-mobile
    img(src="/assets/images/OaklandVillageLogo-White.png")
    .displayFlex.flexGrow.flex-end
    a(href="", onclick="return openEnquiryModal({mandrillTemplate: 'oakland-enquiry'})")
      i.menu-icon.fas.fa-envelope(onclick="return openEnquiryModal({mandrillTemplate: 'oakland-enquiry'})")

    a#mobileShowMenu.wrapper-menu.displayFlex.margin20(href="", onclick="return showMobileMainMenu();")
      .line-menu.half.start
      .line-menu
      .line-menu.half.end

  #siteNavigation
    .textUppercase.textBold.flexFullHeight.backgroundLightDarker
      if !menus.byType.mainMenu
        div no main menu
      else
        .displayFlex.mobileFlexColumn.pad20.fontLight
          +buildMenu(menus.byType.mainMenu)



script.
  var wrapperMenu = document.querySelector('.wrapper-menu');

  wrapperMenu.addEventListener('click', function () {
    wrapperMenu.classList.toggle('open');
  })