//- include/htmlHead.jade

meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
meta(name='charset', content='utf-8')

- var liveEnvironment = true;
if liveEnvironment == true
  // - LIVE ENVIRONMENT
  // link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css')
  // link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  // link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js")
  script(src="/assets/js/jquery.min.js")
  script(src="/assets/js/lian.js")
  script(defer="defer", src="https://use.fontawesome.com/releases/v5.0.9/js/all.js", integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl", crossorigin="anonymous")
  // script(async, src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  // script(async, src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js", data-concat="false")
  // script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
  // script(async, src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
  // script(async, src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.0/moment.min.js")
  // - end LIVE ENVIRONMENT
else
  // - PRODUCTION
  // link(rel='stylesheet', href='/assets/production-links/fonticons.css')
  // link(rel='stylesheet', href='/assets/production-links/bootstrap.min.css')
  // link(rel='stylesheet', href='/assets/production-links/animate.min.css')
  // link(rel='stylesheet', href='/assets/production-links/font-awesome.min.css')
  // link(rel='stylesheet', href='/assets/production-links/simple-line-icons.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')

  script(src="/assets/js/jquery.min.js")
  //script(src="/assets/js/lian.js")
  script(defer="defer", src="https://use.fontawesome.com/releases/v5.0.9/js/all.js", integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl", crossorigin="anonymous")
  // script(async, src="/assets/production-links/less.min.js", data-concat="false")
  // script(src="/assets/production-links/bootstrap.min.js")
  // script(async, src="/assets/production-links/underscore-min.js")
  // script(async, src="/assets/production-links/moment.min.js")
  // END PRODUCTION ENVIRONMENT

// ALL ENVIRONMENTS
// link(rel='stylesheet', href='/assets/fonts/fonticons.css')
// link(rel='stylesheet', href='/assets/stylesheets/main.css')
// link(rel='stylesheet', href='/assets/stylesheets/customise.css')
link(rel="icon" href="/assets/images/OaklandLogo.png")
link(rel='stylesheet', href='/assets/stylesheets/public.css')
link(rel='stylesheet', href='/assets/stylesheets/lian.css')

// END ALL ENVIRONMENTS



if liveEnvironment == true
  // GOOGLE ANALYTICS
  script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-109411421-1")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-109411421-1');



  // GOOGLE TAG MANAGER
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PH78DD4');


  // JSON-LD markup generated by Google Structured Data Markup Helper.
  script(type="application/ld+json").
    {
      "@context" : "http://schema.org",
      "@type" : "LocalBusiness",
      "name" : "Somerfield Estate, Holmview",
      "image" : "http://somerfieldestate.com.au/assets/images/SomerfieldLogo.png",
      "telephone" : "07 5609 8491",
      "email" : "sales@somerfieldestate.com.au",
      "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "276 Wuraga Road",
      "addressLocality" : "276 Wuraga Road",
      "addressRegion" : "QLD",
      "addressCountry" : "Australia",
      "postalCode" : "4207"
      },
      "url" : "http://somerfieldestate.com.au/"
    }



  // FB Ad Manager Pixel Integration -> Advanced Matching
  // Facebook Pixel Code
  script.
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1460928370672704');
    fbq('track', 'PageView');
  noscript
    img(height="1", width="1", style="display:none", src="https://www.facebook.com/tr?id=1460928370672704&ev=PageView&noscript=1")
  // DO NOT MODIFY
  // End Facebook Pixel Code
