
.mapArea
  #map(style="height:350px;")
  script.
    function initMap() {
      var myLatLng = {lat: -27.993449, lng: 153.011222};

      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 8
      });

      // Create a marker and set its position.
      var marker = new google.maps.Marker({
        map: map,
        position: myLatLng,
        title: 'Oakland Estate, Beaudesert'
      });
    }

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMzHcfavnRoDVV84cRCghWPzYSAOlDunE&callback=initMap", async="", defer="")