<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span>File Upload</span>
        </div>
        <div class="panel-body">
            <div>
                <div>
                    <div>
                        <div class="uploadArea uploadImageArea"
                             ngf-drop="uploadItems($files,'jamesTest', 'jamesTest2')"
                             ngf-select="uploadItems($files,'jamesTest', 'jamesTest2')"
                             ng-model="fileUpload"
                             ngf-drag-over-class="'dragover'"
                             ngf-multiple="true"
                             ngf-allow-dir="true"
                             accept="image/*,application/pdf"
                             ngf-pattern="'image/*,application/pdf'">
                            <span>Drop product images here</span>
                            <span>or</span>
                            <span class="btn btn-default btn-raised btn-sm">click to upload</span>
                        </div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    </div>
                    <div ng-show="uploadingFiles > 0">
                        <div>Uploading Files</div>
                    </div>
                </div>

                <div>
                    <a href
                       ng-repeat="mediaFile in mediaFiles"
                       ng-click="selectImage(mediaFile._id)"
                       ng-style="{'border': mediaFile._id == currentGroupColour.colourImage ? '2px solid #f15d30' : null, 'background-image': 'url(https://storage.cloud.google.com/escapehomes/{{mediaFile.storeName}})'}"
                       style="display:inline-block; padding: 7px; margin-bottom: 7px; width: 150px;height:170px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
