<div>
    <a href ng-click="toggleFileInsertModalOpen()">Select Image</a>
    <div class="pageFileInsertModal" ng-if="fileInsertModalOpen">
        <div class="modalOuter displayFlex flexRows" ng-init="getMediaFiles()">
            <div class="modalHeader">
                <div class="col-md-10"><h4 class="modal-title"><span class="glyphicon glyphicon-picture"></span> Upload Image</h4></div>
                <div class="col-md-2 right">
                    <a href ng-click="toggleFileInsertModalOpen()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>

            <div class="modalBody">
                <div class="modalBodyInner">
                    <div ng-repeat="mediaFile in mediaFiles"
                         ng-click="selectImage(mediaFile)"
                         ng-if="(mediaFile.mimetype === 'image/png' || mediaFile.mimetype === 'image/jpeg')">
                        <div style="width:200px; height:230px;">
                            <a href
                               ng-href="http://clientstorage.altitudepm.com.au/{{mediaFile.storeName}}"
                               target="_blank">
                                <div><img ng-src="http://clientstorage.altitudepm.com.au/{{mediaFile.storeName}}" style="max-width:200px; max-height:200px;"/></div>
                                <div>{{mediaFile.originalName}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modalFooter">
                <button ng-click="toggleFileInsertModalOpen()" type="button" class="btn btn-default pull-left">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right">Insert Image</button>
                <button class="btn btn-primary pull-right"
                        ng-click="imageUploader($event)">
                    <span class="glyphicon glyphicon-picture mR5"></span>Upload Image</button>
            </div>
        </div>

    </div>
</div>

