<div ng-controller="listcontactFormCtrl">
    <div class="TitleBar">
        <page-title title="'Website Contact Form Submissions'" sub-title="'These have been submitted by people from the website'"></page-title>
    </div>


    <div class="container-fluid">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">Date / Time</h2>
                <h2 class="tcell">Name</h2>
                <h2 class="tcell">Email</h2>
                <h2 class="tcell">Phone</h2>
                <h2 class="tcell">Referral</h2>
                <h2 class="tcell">Form Details</h2>
                <h2 class="tcell">Action</h2>
            </div>
            <div class="trow" ng-repeat="thisresult in results | orderBy: 'created': true" >
                <div class="tcell">{{thisresult.created | date :  "EEE dd MMM yyyy @ hh:mma"}}</div>
                <div class="tcell">{{thisresult.name}}</div>
                <div class="tcell">{{thisresult.email}}</div>
                <div class="tcell">{{thisresult.phone}}</div>
                <div class="tcell">{{thisresult.referral}}</div>
                <div class="tcell">
                    <div ng-if="thisresult.formPlacement || thisresult.formType">{{thisresult.formPlacement}}: {{thisresult.formType}}</div>
                </div>
                <div class="tcell">
                    <a href ui-sref="app.adminContactFormId({enquiryId: thisresult._id})">Edit</a>
                </div>
            </div>
        </div>
        <div>
            <a href ui-sref="app.adminNewContentBlock()">Add Content Block</a>
        </div>
    </div>



</div>
