/**
 * PAGE LAYOUTS
 */

html {
    height: 100%;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;

    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    font-size: 14px;
    color: #58666e;
}


.table-body {
    position: relative;
    overflow: hidden; /* to clear the float on the container */
    display: table;
    /* height: 100%; */
    width: 100%;
}
.table-row {
    display: table-row;
}
.row1 {
    height: 50px;
}
.leftside {
    /* background-color: #1C2B36 !important;
    color: #efefef;
    */
    padding:0;

    border-right: 1px solid #dee5e7;
    background-color: #eee;

    float: none !important;
    display: table-cell;
    vertical-align: top;

    width: 265px;
    min-width: 265px;
}

.rightside {
    padding-left: 0 !important;
    padding-right: 0 !important;

    float: none !important;
    display: table-cell;
    vertical-align: top;
}
.leftpad {
    padding-left: 20px !important;
}
.borderright {
    border-right: 1px solid #dee5e7;
}
.siteFooter {
    border-top: 1px solid #dee5e7;
}
.ejlogo {
    text-align: left;
    padding-left: 15px;
}
.ejlogo img {
    padding-right: 8px;
    display: inline;
}
.ejlogo.signupPage {
    font-size: 37px;
    text-align: center;
}
.ejlogo.signupPage img {
    height: 80px;
}
.signUpBody {
    max-width: 550px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #eee;
    padding: 20px;
}

.homeLeftMenu {
    float: left;
    width: 200px;
}

.homeRightContent {
    position: relative;
    margin-left: 200px;
}

.siteFooter {
    background-color: #303030;
}

.siteFooter,
.siteFooter a {
    color: #BBB;
    text-decoration: none;
}

.siteFooter hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #666;
    margin: 1em 0;
    padding: 0;
}

.siteFooter h3 {
    color: #FEFEFE;
}

.footerContactForm {
    background-color: #F6F8F8;
    padding-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid #dee5e7;
}
.footerContactForm input {
    margin-bottom: 4px;
}
.footerContactForm #contactSubmit {
    margin-top: 3px;
}
.footerContactForm #contactMessage {
    height: 97px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .homeLeftMenu {
        float: none;
        display: block;
        width: 100%;
    }
    .homeRightContent {
        position: relative;
        display: block;
        margin-left: 0;
    }
    .homeRightContent img {
        max-width: 50%;
    }
}
.scrollToTop {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 7px;
}
.scrollToTop a,
.scrollToTop a:hover {
    color: #fff;
}

/**
 * MEMBERS LOGIN
 */
#memberLogin .loginItem {
    float: left;
}
#memberLogin #memberName {
    width: 85px;
    line-height: 30px;
}
#memberLogin #memberLoginArea {
    width: 345px;
}
#memberLogin #memberEmail {
    width: 147px;
}
#memberLogin #memberPassword {
    width: 147px;
}
#memberLogin #memberSubmit {
    width: 51px;
}

#memberLogin button.dropdown-toggle {
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
}

#memberLogin .visible-xs .memberLoginArea {
    margin: 10px;
}


/**
 * PAGE STYLES
 */

.text-black {
    color: #000 !important;
}
h3, .h3 {
    font-size: 24px;
}
.text-muted {
    color: #98a6ad !important;
}
a {
    color: #363f44;
    text-decoration: none;
    cursor: pointer;
}

.socialbuttons i {
    padding-right: 7px;
    width: 18px;
}


/**
 * TOP NAVIGATION BAR
 */

#memberLogin {
    background-color: #303030;
    padding-top: 4px;
    padding-bottom: 4px;
}
#gpcHead {
    background-color: #e62425;
    color: #ffffff
}

#gpcHeader {
    margin-bottom: 0;
    border:0;
}
#gpcHeader,
#gpcHeader a {
    color: #ffffff;
}

#gpcHeader .dropdown-menu > li > a {
    color: #333;
}

#gpcHeader .navbar-fixed-top {
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

#gpcHeader .active a {
    background-color: #303030;
}

.navbar-brand {
    max-height: 50px;
    padding:0;
    padding-left: 15px;
    padding-right: 15px;
}
.logo {
    max-width: 100% !important;
    max-height: 50px !important;
    display: inline !important;
    margin-top: 8px;
}

.app #gpcHeader nav {
    border: 0;
}

.app #gpcHeader .navbar-brand {
    padding-top: 7px;
    padding-left: 2px;
    width: 140px;
}

.app .TitleBar {
    margin-top: 50px;
}

nav {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

#memberLogin span {
    padding-right: 5px;
}

#memberEmail {
    margin-right: 2px;
}
#memberPassword {
    margin-right: 1px;
}

@media screen and (min-width: 801px) {
    .navbar-brand {
        text-align: center;
        width: 265px;
        max-height: 50px;
        padding:0;
    }
}


/**
 * HEADING AREA
 */

.bg-light.lter, .bg-light .lter {
    background-color: #f6f8f8;
}
.wrapper-md {
    padding: 20px;
}





/**
 * LEFT NAVIGATION
 */

#listNavigation {
    padding-bottom: 80%;
}

.leftside hr {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    margin-bottom: 8px;
}

.listNavItem {
    border-top: 1px solid #e5e5e5;
    font-size: 11px;
}
.listNavHeading {
    padding: 10px 24px 10px 8px;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    color: #656565;
    text-shadow: 0 1px 0 #f6f6f6;
}

#listNavigation ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 12px;
    padding-right: 10px;
    padding-bottom: 19px;
}
#listNavigation ul li {
    padding-top: 5px;
    line-height: 11px;
}
ul.QueryNav {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.listSubNav ul {
    padding-bottom: 5px !important;
}
.listSubNavCount {
    color: #999;
}
.listSubIcon {
    font-size: 8px;
    padding-right: 3px;
}
li.ShowMore {
    margin-top:6px;
}

#AgeItemSummary, #LocationItemSummary {
    padding: 0 15px;
}
#AgeForm {
    margin-top: 4px;
    margin-bottom: 10px;
}
#AgeForm .form-group {
    max-width:25%;
    min-width:43px;
}
#AgeForm .form-group input {
    width:100%;
}
#AgeForm #AgeBetween.form-group {
    margin: 0 6px;
    min-width:0;
}
#AgeForm input[type="submit"] {
    margin-left: 5px;
}
#AgeForm .formline2 {
    margin-top: 5px;
}
.inQuery {
    color: #ff0000 !important;
}


.noAnimation.collapsing {
    -webkit-transition: none;
    transition: none;
}


/**
 * GENERAL CSS SHORTCODES
 */

.m-b {
    margin-bottom: 10px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-n {
    margin: 0 !important;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}
.b-l {
    border-left: 1px solid #dee5e7;
}
.b-t {
    border-left: 1px solid #dee5e7;
}
.p-r {
    padding-right: 5px;
}

.ttable {
    display: table;
    border-collapse: collapse;
}
.trow {
    display: table-row;
}
.tcell {
    display: table-cell;
    padding: 2px 10px;
}
.trow .tcell {
    vertical-align: top;
}
.tHeaderRow .tcell {
    vertical-align: bottom
}
.tHeaderHead {
    font-weight: bold;
}
.tcellDescription {
    width: 270px;
}
.tcellPrice {
    width: 175px;
}

/**
 * IMAGE SHORTCODES
 */

.thumb-sm {
    width: 40px;
    display: inline-block;
}
.avatar {
    position: relative;
    display: block;
    border-radius: 500px;
    white-space: nowrap;
}
.avatar img {
    border-radius: 500px;
    width: 100%;
}
.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img, .thumb-btn img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}



/**
 * CSS FONT SHORTCODES
 */

.font-thin {
    font-weight: 300 !important;
}
small, .small {
    font-size: 13px;
}

.radio label, .checkbox label {
    line-height: 34px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-top: 0;
}



/**
 * MEDIA LISTING FORM
 */
.mediaFormHeader {
    margin-bottom: 20px;
    font-size: 11px;
}
.mediaFormHeader div {
    text-align: center;
}
#mediaForm .headerContent {
    font-weight: normal;
    font-size: 13px;
    color: #58666e;
}
#mediaForm .headerContent .headerContentHeading {
    font-weight: 500;
}
.labelDescription {
    font-size: 13px;
    color: #58666e;
    font-weight: normal;
}
#mediaForm .list-group-item {
    border: 0;
    padding: 0;
    margin-bottom: 30px;
}

#mediaForm #stateCoverage .checkbox {
    margin:0;
    margin-bottom:2px;
}

#mediaForm .checkbox label {
    line-height: normal;
}
#mediaForm .checkbox input[type="checkbox"] {
    margin-top: 2px;
}

#mediaForm .priceTermsAndConditions textarea {
    font-size: 11px;
}
#mediaForm .showComplete {
    position: relative;
    z-index: 10;
    color: green;
}
#mediaForm #ageGenderSegmentation {
    margin-top: 40px;
    margin-bottom: 50px;
}
#mediaForm #productViews {
    margin-top: -15px;
}
#mediaForm .uploadArea {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
}
#mediaForm .uploadArea.dragover {
    color: #222;
    border-color: #222
}
#mediaForm .uploadImageArea {
    line-height: 150px;
}
#mediaForm .uploadMediaKitArea {
    line-height: 40px;
    height: 150px;
}
#mediaForm .uploadImageArea span {
    padding-left: 10px;
    padding-right: 10px;
}
#mediaForm .imageDisplay {
    padding-top: 8px;
}
.imageDisplay .imageList {
    display:inline-block;
}
#mediaForm .imageDisplay .imageActions {
    position: absolute;
    width: 100px;
    height: 100px;
    float: left;
    font-size: 22px;
}
#mediaForm .imageDisplay .imageActions .iconBackground {
    background-color: #58666E;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    text-align: center;
    line-height: 26px;
    color: #EEEEEE;
}
#mediaForm .imageDisplay .imageActions .deleteIcon {
    float: right;
    top: 3px;
    right: 3px;
    position: absolute;
}
#mediaForm .imageDisplay .imageActions .leftIcon {
    float: left;
    top: 69px;
    left: 3px;
    position: absolute;
}
#mediaForm .imageDisplay .imageActions .rightIcon {
    float: right;
    top: 69px;
    right: 3px;
    position: absolute;
}


@media screen and (max-width: 767px) {
    #findMediaNav {
       /* background-color: #fff; */
    }
    #findMediaNav .dropdown-menu {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #findMediaNav .navbar-right .dropdown-toggle {
        display: none;
    }
    .TitleBar .col-xs-12 {
        width: 50% !important;
    }
    .TitleBar .hidden-xs {
        display: block !important;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .TitleBar h1 {
        line-height: 34px;
    }
}

/**
 * IMAGE GALLERY
 */
.sliderCtrl {
    width: 100%;
}

.imageGallery {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.slider-menu {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    z-index: 100000;
}
.slider-menu .slider-inner {
    position: relative;
    overflow: hidden;
    height: 150px;
    overflow-x: scroll;
}
.slider-menu ul {
    transform: translate3d(0px, 0px, 0px);
}
.slider-menu ul .activeImage{
    border: red 1px solid;
}
.slider-menu img,
.slider-area .slider-area-inner img {
    width: auto;
    height: auto;
}
.slider-menu img {
    max-height: 150px;
}

.slider-area {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 150px;
}
.slider-area .slider-area-inner {
    background-color: #333;
    position: relative;
    height: 100%;
    width: 100%;
}
.slider-area .slider-area-inner .slider-theImage {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 150px;
    width: 100%;
    text-align: center;
    left: 0;
}
.slider-controls {
    position: absolute;
}
.slider-controls a {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 40px;
    position: fixed;
    z-index: 1;
}
.slider-controls .slider-close {
    top: 0;
    right: 0;
}
.slider-controls .slider-previous {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 150px;
}
.slider-controls .slider-next {
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 150px;
}
.slider-controls .slider-playpause {
    position: fixed;
    top: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    padding-bottom: 150px;
    width: 100%;
    text-align: center;
}
.slider-controls .slider-playpause div {

}

/**
 * DIV SELECTOR AREA (WITH ACCORDION)
 */
.divSelector {
    border: 1px solid rgba(100, 100, 100, .4);
    border-width: 0 0 1px 1px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .25);

    color: #666;
    font-size: 12px;
    line-height: 31px;

}
.divSelector .showMoreArrow {
    border-right: 1px solid #e9eaed;
    height: 14px;
    padding: 2px 1px 2px 0;
    width: 14px;
}
.divSelector .selectorHeadingArea {
    background: white;
    border-bottom: 1px solid #e9eaed;

    padding-right: 10px;
    padding-left: 8px;

}
.divSelector .selectorSubListings {
    padding-left: 30px;
    padding-right: 10px;
    background-color: #eee
}
.divSelector .selectorAll {
    border-top: 1px solid #d9d9d9;
}
.divSelector .selectorAll a {
    color: #666;
}


/**
 * SELECT OPTIONS APPEARANCE
 */
.optionsAppearance .optionsSelected {
    border: 1px solid #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    height: 30px;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 5px;
    overflow: hidden;
    line-height: 30px;
}
.optionsAppearance .optionsCarets div {
    height:7px;
    position: relative;
    top: -4px;
}

.optionsAppearance .optionsValues {
    position: absolute;
    z-index: 10001;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 400;
    box-shadow: 2px 2px 6px 1px #d2d2d2;
    margin-left: -20px;

}
.optionsAppearance .optionsValuesBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.optionsAppearance .optionsValues div:hover {
    background-color: #337ab7;
    color: #fff;
}
.optionsAppearance .optionsValues .optionsValueOption {
    padding-left: 5px;
    padding-right: 15px;
}
.optionsAppearance .optionsValues .selectedTick {
    width: 17px;
    font-size: 11px;
    line-height: 14px;
    height: 14px;
    padding-left: 1px;
    padding-top: 1px;
}




/**
 * ADD BUSINESS
 */
.uploadArea {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
}
.uploadArea.dragover {
    color: #222;
    border-color: #222
}
.uploadImageArea {
    line-height: 150px;
}
#mediaForm .uploadImageArea span {
    padding-left: 10px;
    padding-right: 10px;
}
#mediaForm .imageDisplay {
    padding-top: 8px;
}
#mediaForm .imageDisplay .imageList {
    display:inline-block;
}


/**
 * MEDIA LISTING PAGE APPEARANCE
 */
#mediaListingPage article {
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    margin: 20px;
    font-size: 12px;
}
#mediaListingPage .listingImage {
    margin-bottom: 12px;
    position: relative;
    width: 150px;
    height: 156px;

    border: 1px solid #E3E3E3;
    padding: 2px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
#mediaListingPage .listingImage .listingImageIcon {
    background-color: #F5F5F5;
    font-size: 36px;
    line-height: 150px;
    text-align: center;
}
#mediaListingPage .listingImage img {
    max-width: 146px;
    max-height: 152px;
    width: auto;
    height: auto;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#mediaListingPage .listingHeaderContent {
    padding-left: 160px;
}
#mediaListingPage .audienceInfo.well {
    padding: 8px 10px;
}
#mediaListingPage .audienceInfo ul {
    padding-left: 15px;
}
#mediaListingPage header h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
#mediaListingPage header h1 a {
    color: #088df6;
}
#mediaListingPage .sellerName {
    font-weight: bold;
}
#mediaListingPage .audienceInfo h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
#mediaListingPage .listingHeading {
    font-weight: 500;
    text-transform: uppercase;
}
#mediaListingPage .listingHighlight {
    font-size: 25px;
}



/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

/*
.homeRightContent li {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.homeRightContent {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.homeRightContent li {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}
*/
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.isotopeMenuButtons button {
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
    display: block;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


.loadMoreImages {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.loadMoreImages a {
    width: 100%;
}
.carousel-showMore {
    left: 84px;
    position: relative;
    top: -150px;
    width: 197px;
    height: 150px;
    padding-top: 48px !important;
    padding: 5px;
}

.slider .item img {
    width: 100%;
    height: auto;
}


/**
 * DISPLAY PROJECTS
 */
#displayProjects .project {
    padding: 10px;
}

#displayProjects .projectArea {
    background-color: #F6F8F8;
    position: relative;
    min-height: 250px;
}

#displayProjects .project a {
    color: #162951;
    text-decoration: none;
}

#displayProjects .projectContent {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    height: 92%;
    width: 95%;
    top: 0;
    left: 0;
    margin: 2.5%;
    -webkit-transition: 250ms;
    transition: 250ms;
}

#displayProjects .project a:hover .projectContent {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 250ms;
    transition: 250ms
}


#displayProjects .projectContent .projectAddress {
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
}

#displayProjects .projectContent .projectReadMore {
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

#displayProjects .projectRibbon {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}


#displayProjects .projectRibbonInner {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}


#displayProjects .projectRibbonInner:before,
#displayProjects .projectRibbonInner:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

#displayProjects .projectRibbonInner:before {
    left: 0;
}
#displayProjects .projectRibbonInner:after {
    right: 0;
}

