#Benefits h2,
#Benefits h3,
#Material_Comparison h2,
#Material_Comparison h4 {
    color: #333333;
}

#Environment h2,
#Environment h3 {
    color: #333333;
}
.filter,
.filter-group {
    border: 0.5px solid #e9e0d2;
    border-radius: 23px;
    height: 44PX;
    padding: 5px;
    justify-content: center;
}
.filter-item:active, .filter-item {
    padding:10px;
    margin:4px;

}
.filter button,
.filter-group a.filter-item {
   border: none;
   border-radius: 16px;
   display: inline-block;
   color: #e9e0d2;
   font-size:12px;
    padding: 0.5em;
    justify-content: center;
    background: none;
   width: 32px;
   height: 32px;
    text-align: center;
}

.filter button:hover,
.filter-group a.filter-item.active,
.filter-group a.filter-item:hover {
    background: #e9e0d2;
    color: #333;
    transition: 1s;
}

input[type="checkbox"] {
    display: none;
}

.filter .group {
    background: #333;
    border-radius: 76px;
    width: 200px;

}
.filter .groupedBtn{
    border-radius: 76px;
    width: 200px;
}

body.packageMenuTrue {
    overflow: hidden;
}

body.packageMenuTrue .packageMenu {
    overflow: auto;
    z-index: 999;
}

h1, h2, h3, h4, h5,
.siteFont {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}
h4{
    font-size: 22px;
}
.highlightHeading {
    color: #333333;
}#devider{
    border: 0.5px solid #333333;
    width: 20%;
    margin: auto;
    margin-top: 5%;

 }


@media (min-width: 768px) {
    #siteNavBar, #siteNav {
        text-align: center;
    }

    .navbar-nav {
        float: none !important;
        display: inline-block;
        margin: 0;
        margin-bottom: -4px;
        height: 44px;

    }

    ul.navbar-nav li {

    }
}


/**
 * PAGE LAYOUTS
 */

html {
    height: 100%;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica';
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    font-size: 14px;
    color: #333333;
}

.mt {
    margin-top: 20px;
}
.highlightHeading{
    margin: 8px;
}

#bodyContent {
}

.middleThis-outer {
    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.homepageBlocks {
 border: 0 !important;
}


.middleThis {
    display: table-cell;
    vertical-align: middle;
}


@media screen and (max-width: 767px) {
    #siteNav.collapsing,
    #siteNav.collapse.in {
        background-color: #fff;
        max-height: none;
        border-bottom: solid 5px #fff;
    }
    #siteNav ul {
        margin-top: 0;
    }
    #siteNav li {
        text-align: center;
    }

    #siteNav a {
        background-color: #fff   !important;
        font-weight: bold;
        margin: 0 !important;
        line-height: 50px;
    }
    .navbar-toggle {
        background-color: #333;
        padding: 25px;
        margin: 0;
        border-radius: 0;
        border: none;


    }.phone {
         background-color: #D0C0A7;
         padding: 25px;
         margin: 0;
         border-radius: 0;
         border: none;
         font-size: 16px;
         float: left;
     }
}
.center{
    text-align: center;
}
.right{
    justify-content: right;
    text-align: right;

}
@media screen and (max-width: 900px) {
    .headerPhone {
        margin-top: 51px !important;
    }

    .headerPhone a {
        border-radius: 4px;
        height: 44px;
        font-size: 30px !important;
    }

    .headerPhone a span {
        display:none
    }

    .headerPhone a i {
        margin: 0 !important;
        font-size: 26px;
        text-align: center;
        color: #888 !important;
        background-color: #eee;

        border-color: #ddd !important;
        border-radius: 22px !important;
        height: 44px !important;
        line-height: 44px !important;
        width: 44px !important;
    }

}

@media screen and (max-width: 767px) {

    .headerPhone a {
        margin-right: 0 !important;
    }

    .headerImage {
        height: 80%  !important;
    }

    .headerImage .sliderText {
        padding-top: 20px !important;
    }

    .packageIcons,
    .packageLand {
        text-align: left;
    }

    .packageIcons .col-sm-4 {
        margin-bottom: 8px;
    }

    .packageLand .col-sm-4 div {
        display: inline-block;
    }

    .packageLand .lotText {
        margin-right: 3px;
    }
}



@media screen and (min-width: 768px) {
    .navbar-default .navbar-nav > .active > a {
        background-color: transparent;
        font-weight: bold;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu > li > a:hover {
        background-color: transparent;
    }

    .hideLarge {
        display: none;
    }
}





/**
 * SITE COLOURS
 */

.bg-lightGrey {
    background-color: #eaeeef;
}

.bg-lightBlue {
    background-color: #7FBED8;
}

.bg-darkGrey {
    background-color: #1e1e28;
    color: #ffffff;
}
.bg-darkGrey a {
    color: #ffffff;
}
.font-darkGrey {
    color: #3c3c3c !important;
}
.font-blue {
    color: #2BBED8 !important;
}


#siteNavBar {
    border-radius: 0 !important;
    border: 0 !important;
    margin-bottom: 0 !important;
}

.navbar {
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.headerRow1 {
    /* height: 100px; */
}

.headerRow2 {
    background-color: #9eae47;
}

.navbar-brand {
    padding: 0;
    margin-left: 15px !important;
    margin-right: 30px;
}


#siteNavBar ul.nav a {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.row{
    margin: 15px;
}
.dropdown-menu>.active>a {
    background-color: #9eae47;
}

#siteNavBar ul.nav a:hover {
    background-color: #a6b748;
}
#siteNavBar ul.nav li.active {
    background-color: #a6b748;
}

.headerForm h2 {
    margin-top:15px;
    color: #9eae47;
}

.headerForm input {

}

.headerForm button {
    background-color: #9eae47;
    color: #fff;
    font-weight: bold;
}

.headerPhone {
    margin-top: 50px;
}

.headerPhone a {
    margin-right: 15px;
    font-size: 18px;
}

.headerPhone a i {

}


.phoneSection1,
.phoneSection2 {
    display: inline-block;
}

.phoneSection1 {
    font-size: 33px;
    padding-right: 5px;
    line-height: 36px;
    font-weight: 300;
}

.phoneSection1 .fa-phone {
    margin-right: 4px;
    font-size: 25px;
    border: 1px solid #000;
    border-radius: 16px;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
    padding-left: 1px;
    position: relative;
    top: -2px;
}

.phoneSection2 .phoneLine2 {
    font-size: 12px;
    margin-top: -6px;
    letter-spacing: 5px;
}

.siteFooter {
    color: #e9e0d2;
}

 .slider img {
    width: 100%;
}

.sectionContent {
    padding-top: 50px;
    padding-bottom: 140px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}


#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}


iframe {
    border: 0;
}

.subMenu {
    margin-bottom: 50px;
    margin-top: 30px;
}

.subMenu a {
    color: rgba(26,26,26,.4);
    line-height: 25px;
}

.dropdown-menu {
    /* background-color: #3C3C3C; */
    background-color: #9eae47;
}


.siteFooter {
    padding-top: 20px;
}

.siteFooter i {
    margin-right: 10px;
}

.sectionContent.staffContent {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jobTitle {
    margin-bottom: 10px;
}







.whyItemsContainer {
    padding: 0;
    text-align: justify;
    background: #eee;
}

.whyItemsContainer:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.whyItemsContainer .whyItem,
.whyItemsContainer .gap {
    display: inline-block;
    width: 50%;
}

.whyItemsContainer .whyItem {
    text-align: left;
    background: #393939;
    color: #ffffff;
    padding: 2%;
    vertical-align: top;
    /*display: none; <-- uncomment this rule for use with MixItUp*/
}

/* Flex box progressive enhancements: */

.whyItemsContainer {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -webkit-align-content: flex-start;
}

@media all and (min-width: 420px){
    .whyItemsContainer .whyItem,
    .whyItemsContainer .gap {
        width: 33.333%;
    }
}


:target:before {
    content:"";
    display:block;
    height:90px; /* fixed header height*/
    margin:-90px 0 0; /* negative fixed header height */
}


/**
 * SLIDER TEST
 */

#slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;

}

a.control_prev, a.control_next {
    display: block;
    position: absolute;
    top: 50%;
    height: 100px;
    text-align: center;
    width: 65px;
    color: #FFFFFF;
    margin-top: -50px;
    z-index: 1000;
    font-size: 80px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    overflow: hidden;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev i {
    position: absolute;
    top: 50%;
    line-height: 100px;
    margin-top: -50px;
    left: -50px;
}

a.control_next {
    position: absolute;
    top: 50%;
    line-height: 100px;
    margin-top: -50px;
    right: 0;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}


/**
 * END SLIDER TEST
 */



/**
 * BOOTSTRAP SLIDER
 */
button{
    border: none;
}
#myCarousel {
    width: 100%;
}
.carousel-control {
    display: block;
    position: absolute;
    top: 50%;
    height: 100px;
    text-align: center;
    width: 65px;
    color: #FFFFFF;
    margin-top: -50px;
    z-index: 1000;
    font-size: 80px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    overflow: hidden;

    background: none !important;
    opacity: 1 !important;
}

.carousel-control.left i {
    position: absolute;
    top: 50%;
    line-height: 100px;
    margin-top: -50px;
    left: -50px;
}

.carousel-control.right i {
    position: absolute;
    top: 50%;
    line-height: 100px;
    margin-top: -50px;
    left: 0;
}

.carousel-inner .item {
    width: 100%;
    height: 450px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/assets/images/Homepage/HomepageSlider.jpeg);
}


#myCarousel .sliderHeading {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

#myCarousel .sliderSubheading {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.carousel-caption {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/**
 * END BOOTSTRAP SLIDER
 */





#sliderContainer {
    height: 450px;
    overflow: hidden;
}

.headerImage {
    height: 750px;
    background-position: center;
}

#sliderContainer .headerImage,
#slider .headerImage {
    background-image: url(/assets/images/Homepage/HomepageSlider.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.headerImage .sliderText {
    color: #FFF;
    padding-left: 50px;
    padding-top: 200px;
}

.headerImage .sliderHeading {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}

.headerImage .sliderSubheading {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 15px;
}

#communityContainer .headerImage {
    background: url(/assets/images/Community/slider.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container .contactus{
    height: 50%;
}
@media (min-width: 768px) {
    .newsContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        justify-content: space-between;
    }

    .newsItem {
        flex: 1;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    .newsItem {
        margin-bottom: 20px;
    }

    .newsItem .displayImage {
        height: 300px !important;
    }
}

#communityContainer h1.highlightHeading {
    font-size: 60px;
}
.container{
    width: 100%
}
#homepageContainer .newsItem {
    background-color: #9eae47;
    color: #fff !important;
}
.pageContent{
    font-size: 16px;
    justify-content: center;
}
#homepageContainer .newsItem h3 {
    color: #333 !important;
}
.displayText p{
    color: #333
}
.newsItem .displayImage {
    height: 200px;
    overflow: hidden;
    position: relative;
}

.newsItem .displayImage img {
    min-width:100%;
    min-height: 100%;
}

.newsItem .displayText {
    padding: 25px;
    padding-top: 0;
}

.REAWidget-tool-set, .REAWidget-terms {
    display: none;
}

.verticallymiddle {
    padding-top: 15%;
    width: 100%;
    max-width: 440px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    z-index: 5;
    overflow: hidden;
}

.overlayText{
    font-family: Roboto;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.headerContainer {
    background: #e9e0d2;
    margin-left: -15px;
    margin-right: -15px;
}

.headerColumn {
    flex: 1;
}
.box{
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.box2{
    text-align: center;
    padding: 5%;
}

.headerColumn button.navbar-toggle {
    float: none;
    margin-top: 56px;
}
@media (min-width: 768px) {
    .headerColumn1 {
        display: none;
    }
}
.regBttn{
    background-color: #D0C0A7;
    width: 50%;

}a:hover{
    text-decoration: none;
 }
.rightcol{
    display: -webkit-flex;
    text-align: center;
    justify-content: space;
    height: 60px;
    color: #0a1015;
    font-weight: bold;
}
.rightcol:nth-child(2){
}
.rightcol > article{
    flex: 2;
    order: 2;
    background:#333;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e9eaed;
}
.rightcol > article {
    flex: 2;
    order: 2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rightcol > nav {
    flex: 1;
    order: 1    ;
    padding: 20px;
}

.displayFlex {
    display: flex;
    margin-bottom: 20px;
}


#packageSearch .displayFlex {
    margin-bottom: 15px;
}

#packageSearch .searchHeading, #searchFields .searchHeading {
    flex: 1;
    margin-right: 40px;
}

#packageSearch .searchSelection {
    width: 80px;
    margin-right: 10px;

}

form#packageSearch .searchSelection select {
    width: 100%;
}

.searchHeading {
    font-size: 16px;
    font-weight: 100;
    font-family: Roboto;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}

.landParent {
    display: flex;
    flex-wrap:wrap;
    padding-right: 5px;
}
.everything{
    display: flex;
}
select{
    border: none;
    margin: 5px;
}
.landChild {
    margin: 10px 0 0 10px;
    font-family: "Roboto";
    width: calc(100% * (1 / 3) - 10px - 1px);
}

.landchild .imgcontainer img {
    max-height: 300px;
}

#HLContainer {
    display: flex;
}

.mobile #HLContainer {
    display: block;
}

.mobile .packageMenu {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 100px;
    overflow: auto;
}

.bgColor{
    background: #333;
}
#HLPackages {
    display: flex;
}
.packageMobile{
    float: top;
    background: #333;
    padding: 20px;
}
#HLPackages .landChild {
    width: calc(100% * (1 / 4) - 10px - 1px);
}
.sdfsa{
    display: flex;

}

.packageMenu {
    background-color: #333;
    padding: 20px;
    position: relative;
    display: flex;

}
.mobile .packageMenu{
    display: none;
}
.mobile .packageText{
    background-color: #333;
    padding: 20px;
    display: block;
    position: relative;
    color: white;
    font-family: "Roboto";
    font-size: large;
    flex-grow: 1;


}.packageMenuButton{
    display: none;
 }
.flexRow{
     display: none;
}
#packageSearch{
    justify-content: center;
}
.mobile .flexRow{
    display:flex;
}
.packageResults2 {
    flex: 1;
}

.mobile .landParent{
}
@media screen and (min-width: 525px) {
    .packageMenu {
        background-color: #333;
        padding: 20px;
        position: relative;

    }
    body{
        padding-top: 100px;
    }
}
@media screen and (max-width: 950px) {
    .landChild {
        width: calc(100% * (1 / 2) - 10px - 1px);
    }

    #HLPackages .landChild {
        width: calc(100% * (1 / 2) - 10px - 1px);
    }

    .headerFormMoreInfo,
    .phoneSection1 span,
    .phoneSection2 {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .landChild {
        width: calc(100% * (1 / 1) - 10px - 1px);
    }
    #HLPackages .landChild {
        width: calc(100% * (1 / 2) - 10px - 1px);
    }
    body{
        padding-top: 60px;
    }
    .landParent{

    }
    .headerFormMoreInfo,
    .phoneSection1 span,
    .phoneSection2 {
        display: none;
    }
}
.icon-bar{
    background: #fff;
    border: none;
}
.ribbon {
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    font-family: 'Oswald', sans-serif;
    font-size: 24px;

    text-transform: uppercase;
}

.soldRibbon {
    background: #e43;
}

.holdRibbon {
    background: #e82;
}

.flexGrid {
    display: flex;
}

.gridHeading {
    font-weight: bold;
    border-bottom: 1px solid #dee5e7;
}
.flexCol {
    flex: 1;
}

#resultsGrid {
    display: none;
}

#resultsGrid .flexGrid:nth-child(even) {
    background: #e6e6e6
}

#resultsGrid .landHold,
#resultsGrid .landHold a {
    background-color:  rgba(238, 136, 34, .9) !important;;
    color: #fff;
}

#resultsGrid .landSold,
#resultsGrid .landSold a {
    background-color: rgba(238, 68, 51, .9) !important;
    color: #fff;
}

.text{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
}
button.launch {
    background-color: #F9A300;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

button.launch:hover {
    cursor: pointer;
    background-color: #FABD44;
}

button.change {
    background-color: #F88F00;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

button.change:hover {
    cursor: pointer;
    background-color: #F89900;
}

button:active {
    outline: none;
    border: none;
}
select{
    background: none;
}
form#searchFields select,
form#packageSearch select,
form#searchFields input[type="submit"],
form#packageSearch input[type="submit"] {
    width: 100px;
    border-radius: 18px;
    font-size: 11px;
    line-height: 1.3;
    background-color:#e9e0d2;
    height: 36px;
    margin: 5px;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.information{
    display: none;
}
.imgcontainer {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: large;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    display: flex;
    padding: 15px;
    transition: .5s ease;
}

.imgtext {
    color: white;
    font-size: 14px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
;

}
form#searchFields input[type="submit"],
form#packageSearch input[type="submit"] {
    margin-top: 50px;
    background-color: #333;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
}

form#searchFields .cleanSelect:after {
    right: 23px;
    top: 23px;
    position: absolute;
    color: rgba(0,0,0,.3);
    content: "\f13a";
    font-size: 20px;
    float: right;
}

.headerForm .formMessages {
    margin-top: -5px;
}

.formMessages {
    color: #fb0001;
}

#headerContactForm {
    margin-bottom: 8px;
}

.icon-bg {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #9eae47;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.icon-bg i {
    color: #FFF;
    font-size: 22px;
    border-radius: 100%;
    position: relative;
    top: 7px;
}

/**
 * PACKAGE CSS
 */

.packageDetails {
    padding: 10px;
    margin: 0;
    background: #e9e0d2;
}
.information{
    padding: 10px;
    margin: 0;
}

.packageName {
    font-size: 18px;
    height: 31px;
    text-transform: uppercase;
}
.packageAttributes, .packageDetails, .information{
    display: flex;
}
.packageAttributes div{
    padding: 0 5px;
}
.builderDetails {
    background: #e9e0d2;

}
.builderName {
    margin-left: 2px;
    flex-grow: 1;
}
.booottons{
}
.packageLand {
    margin-top: 10px;
    font-size: 15px;
}

.lotNumber {
    margin-top: -5px;
    font-size: 18px;
}

.packageIcons {
    font-size: 20px;
}
.packageEnquiry {
    font-size: 15px;
    padding: 10px;
    color: white;
}

.packagePrice {
    font-size: 14px;
    text-align: left;
    font-family: "Roboto";
    letter-spacing: 2;
    color: #9eae47;
    flex-grow: 1;
}
#footerRestrict{
    margin: 0 25%;
}
/**
 * END PACKAGE CSS
 */
.img-responsive{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
}
.imgContainer {
    position: relative;
}
.img-responsive:hover, .img-responsive:active{
    transition: .5s ease;
    opacity: 0.35;
    text-align: center;
}
.middle {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.text {

}
.displayImage img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.displayImage .imageLinkOverlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.displayImage .imageLinkOverlay .imageLinkText {
    background-color: #b59c75;
    color: #3c3c3c;
    font-size: 16px;
    padding: 16px 32px;
}

a.newsItem:hover .displayImage img {
    opacity: 0.3;
}

a.newsItem:hover .displayImage .imageLinkOverlay {
    opacity: 1;
}

.masterplanImage img {
    width: 100%;
}

#builderFilesSection {
    font-size: 16px;
}

#builderFilesSection .folderItem,
#builderFilesSection .fileItem {
    margin-bottom: 5px;
}

#builderFilesSection i {
    margin-right: 7px;
}
.builder{
    display: relative;
    background: #333;
    color: white;
    justify-content: center;
    padding: 1.5em;
    margin: 0.1em;

}
.builder a{
    text-decoration: none;
    color: #eee;
}.builder:hover, builder:hover a{
    background: rgba(0,0,10,0.9);
 }
.builder-wrap{
    padding: 0.5em;
}.builder.active, .builder.active a{
    background: #EEEEEE;
    color: #333333;
 }


/**
 * LOCATION MAP
 */

.LocationMapContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
}

.LocationMapColumn {
    width: 250px;
    background-color: #e6e6e6;
}

.LocationMap {
    flex: 1;
}

#locationMap {
    width: 100%;
    height: 100%;
}

@media (max-width: 480px) {
    .LocationMapContainer {
        flex-direction: column-reverse;
        height: auto;
    }

    .LocationMapColumn {
        width: 100%;
    }

    .locationMap {
        height: 400px;
    }
}

/**
 * END LOCATION MAP
 */

.lifestyleBlocks.switchContent {
    background-color: #f3f1ef;
}

.lifestyleRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.switchContent .lifestyleRow {
    flex-direction: row-reverse;
}

.switchContent .lifestyleContent {
    text-align: left;
}

.lifestyleColumn {
    flex: 50%;
}

.lifestyleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.lifestyleContentInner {
    width: 80%
}

@media (max-width: 480px) {
    .lifestyleRow,
    .switchContent .lifestyleRow {
        flex-direction: column-reverse;
    }

    .lifestyleColumn {
        flex: auto;
    }

    .lifestyleContent {
        text-align: left;
    }

    .lifestyleBlocks .container {
        padding: 0;
    }

    .navbar-brand img {
        height: 40px !important;
        margin-top: 50px !important;
    }
}


.FbNews .uiScaledImageContainer {
    display: none;
}

/*New Block!*/

.new-block .block-item:nth-child(odd) {
    background-color: #f4f2f0;
}

.new-block .sectionContent {
    padding: 0;
    border: none;
    min-height: 300px;
}

.new-block .content-container, .new-block .block-standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.new-block .block-item {
    display: flex;
}


section {
    height:calc(90% - 50px);
}

.affix {
    padding:0px;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;

}

.affix-top {
    padding-top:15px;
    padding-bottom:15px;
    -webkit-transition:padding 0.5s linear;
    -moz-transition:padding 0.5s linear;
    -o-transition:padding 0.5s linear;
    transition:padding 0.5s linear;
}
.new-block .block-standard .text-center {
    max-width: 600px;
    align-self:center;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e9e0d2;
    color: #333;
}.navbar-default .navbar-toggle{
    color: #e9e0d2;
 }
.mobile .packageMenuButton{
     color: #f2f2f2;
     background: #333333;
     padding: 25px;
 }
.packageMenuTrue i.packageMenuButton.fa.fa-times{
    display: block;
}
i.packageMenuButton.fa.fa-times{
    display: none;
}
.packageMenuTrue i.packageMenuButton.fa.fa-caret-down{
    display: none;
}
i.packageMenuButton.fa.fa-caret-down{
    display: block;
}
a.builderName{
    color: white;

}
a.builderName:hover{
    color: rgba(0,0,0,0.3);
}
.buttonDisplay{
    padding: 0.6em 1em;
    text-align: center;
    font-weight: bold;
    color: #e9e0d2;
    background: #333;
}
.builderDet{
    padding: 5px 15px;
    background: #e9e0d2;
    text-align: center;
    font-family: "Roboto";
}
.buttonDisplay:hover{
    background-color: #e9e0d2;
    color: #333;
    transition: 1s;
}
.fa-download, .fa-envelope{
    padding-left: 10px;
}
.col-md-4 #spaceLeft{
    margin-right: 30px;
}


.button {
    color: white;
    text-decoration: none;
    background-color: #333333;
    padding: 17px;
    margin: 8px;
    border: none;
    flex-grow: 1;
}
.button:hover {
    text-decoration: none;
    color: white;
    background-color: #baa373;
}.textnull{
    background: #fff;
 }
.box3{
    margin-top: 10%;
    margin-bottom: 10%;
}
.new-block .image-container, .new-block .content-container {
    flex: 1;
}

.new-block .image-container img {
    max-width: 100%;
}

.new-block .content-container {
    /*padding: 10px;*/
}

.new-block .padding-left {
    margin-left: 20px;
}

.new-block .padding-right {
    margin-right: 20px;
}

.no-border {
    border: none;
}

@media (min-width: 768px) {
    .limit-width {
        max-width: 500px;
    }
}

.new-block .flex-end {
    align-items: flex-end;
}

.new-block .flex-start {
    align-items: flex-start;
}

.new-block .flex-center {
    justify-content: center;
}

.new-block .block-item .padding {
    padding: 20px;
}

.new-block .block-item.default-block {
    min-height: 300px;
    align-items: center;
}

.new-block .background-cover h3 {
    color: white;
    font-size: 26pt;
    margin: 0;
}

.new-block .background-cover .left {
    text-align: right;
    flex: 1;
    padding:20px;
}

.new-block .background-cover .right {
    padding: 20px;
    color: white;
    flex: 2;
}

.new-block .background-cover .content {
    max-width: 700px;
}
.dropdown-menu{
    width: 1920;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    color: #333 !important;
    font-weight: bold;
}

.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder  { /* Firefox 18- */
    color: #333 !important;
    font-weight: bold;
}

.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #333 !important;
    font-weight: bold;
}

.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
    color: #333 !important;
    font-weight: bold;
}
p{margin: 0;}

.contact-form textarea{
    border: 1px solid #333;
    border-radius: 0;
    padding: 17px;
    flex: 1;
    background: transparent;
    margin: 10px 0;
}
.contact-form input{
    border: 1px solid #333;
    border-radius: 0;
    padding: 17px;
    flex: 1;
    background: transparent;

}
.contact-form select{
    margin: 8px;
    border: 1px solid #333;
    border-radius: 0;
}.extext{
    display: flex;
 }
.contactinputs input.row{
    margin: 10px 0.5;
}
h3{
    font-size: 16px;
    font-weight: 100;
    font-family: Roboto;
}

.responsive-right-align-text {
    text-align: right;
}

@media (max-width: 300px){
    .new-block .block-item {
        display: block;
    }

    .new-block .background-cover .left {
        text-align: left;
        padding-top:40px;
    }

    .new-block .block-item.default-block {
        min-height: inherit;
    }

    .responsive-right-align-text {
        text-align: left;
    }

}

.buttonLayout a{
    text-decoration: none;
    display: block;
    width: 250px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    border: 1px solid #333;
    padding: 15px;
    margin-top: 50px;
    transition: 1s;
}
.col-lg-4{
    text-align: right;
}

.buttonLayout a:hover{
    background: #333;
    color: #e9e0d2;
}
.headerButton a{
    display: flex;
    transition: 1s;
    margin: 0 auto;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #e9e0d2;
    color: #333;
    border: 1px solid #e9e0d2;
    padding: 20px;
    width: 50%;
    margin-top: 30px;
    justify-content: center;

}
.headerButton a:hover{
    color: #e9e0d2;
    border: 1px solid #333;
    background-color: #333;
}

.background-cover {
    background-size: cover;
}




/**
 * COLUMN LAYOUT CONTENT
 */
.block-item2 .container {
    display: flex;
    flex-direction: row;
}

.block-item2.block-reverse .container {
    flex-direction: row-reverse;
}

.block-item2:nth-child(odd) {
    background-color: #f4f2f0;
}

.block-item2 .block-column {
    flex-basis: 50%;
}

.block-item2 .block-image {
    text-align: right;
}

.block-item2.block-reverse .block-image {
    text-align: left;
}

.block-item2 img {
    width: 100%;
}

.block-item2 .block-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-item2 .block-content-inner {
    padding: 0 0 0 40px;
}

.block-item2.block-reverse .block-content-inner {
    padding: 0 40px 0 0;
    text-align: right;
}

@media (max-width: 480px) {
    .block-item2 .container {
        display: block;
    }

    .block-item2 .block-content-inner,
    .block-item2.block-reverse .block-content-inner {
        padding: 0;
        text-align: left;
    }
}



ul.MegaMenu {
    width: 100%;
}

#siteMessageHandler {
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
    z-index: 99999999999;
    color: #ffffff;
}

.modalSendSuccessful {
    display: none;
}

.messageSendSuccessful .modalSendSuccessful {
    display: block;
}

.messageSendSuccessful .modalForm {
    display: none;
}



