@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.eot');
    src: url('Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('Gotham-Bold.woff') format('woff'), url('Gotham-Bold.ttf') format('truetype'), url('Gotham-Bold.svg#4b05af1f343b473876284bf412b923ab') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: url('Gotham-Book.eot?#iefix') format('embedded-opentype'), url('Gotham-Book.woff') format('woff'), url('Gotham-Book.ttf') format('truetype'), url('Gotham-Book.svg#65526539dec42e535893223c14767f58') format('svg');
    font-style: normal;
    font-weight: 400;
}

.center {
    margin: 0 auto !important;
    display: block;
    float: none !important
}

.text-center {
    text-align: center
}

.container.nopad {
    padding-left: 0;
    padding-right: 0
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%
    }

    .column, .columns {
        margin-left: 4%
    }

    .column:first-child, .columns:first-child {
        margin-left: 0
    }

    .one.column, .one.columns {
        width: 4.6666666667%
    }

    .two.columns {
        width: 13.3333333333%
    }

    .three.columns {
        width: 22%
    }

    .four.columns {
        width: 30.6666666667%
    }

    .five.columns {
        width: 39.3333333333%
    }

    .six.columns {
        width: 48%
    }

    .seven.columns {
        width: 56.6666666667%
    }

    .eight.columns {
        width: 65.3333333333%
    }

    .nine.columns {
        width: 74%
    }

    .ten.columns {
        width: 82.6666666667%
    }

    .eleven.columns {
        width: 91.3333333333%
    }

    .twelve.columns {
        width: 100%;
        margin-left: 0
    }

    .one-third.column {
        width: 30.6666666667%
    }

    .two-thirds.column {
        width: 65.3333333333%
    }

    .one-half.column {
        width: 48%
    }

    .offset-by-one.column, .offset-by-one.columns {
        margin-left: 8.6666666667%
    }

    .offset-by-two.column, .offset-by-two.columns {
        margin-left: 17.3333333333%
    }

    .offset-by-three.column, .offset-by-three.columns {
        margin-left: 26%
    }

    .offset-by-four.column, .offset-by-four.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-five.column, .offset-by-five.columns {
        margin-left: 43.3333333333%
    }

    .offset-by-six.column, .offset-by-six.columns {
        margin-left: 52%
    }

    .offset-by-seven.column, .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }

    .offset-by-eight.column, .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-nine.column, .offset-by-nine.columns {
        margin-left: 78%
    }

    .offset-by-ten.column, .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }

    .offset-by-eleven.column, .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }

    .offset-by-one-third.column, .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }

    .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }

    .offset-by-one-half.column, .offset-by-one-half.columns {
        margin-left: 52%
    }
}

html {
    font-size: 62.5%
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004)
}

body {
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Gotham', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222
}

.u-full-width {
    width: 100%;
    box-sizing: border-box
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box
}

.u-pull-right {
    float: right
}

.u-pull-left {
    float: left
}

.alignleft {
    display: inline;
    float: left !important;
    margin-right: 1.5em
}

.alignright {
    display: inline;
    float: right !important;
    margin-left: 1.5em
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
    content: "";
    display: table
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
    clear: both
}

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both
}

body, button, input, select, textarea {
    color: #404040;
    font-size: 12px;
    line-height: 1.5
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: bold;
    clear: both;
    color: #162951
}

h1 {
    font-size: 47px;
    line-height: 56px;
    margin-bottom: 20px
}

h1.title-arrow {
    background: url('../img/icon-arrow-down.svg') bottom left no-repeat;
    padding-bottom: 35px;
    margin-bottom: 30px
}

h2 {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 10px
}

h3 {
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 10px
}

h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px
}

h5 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px
}

h6 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px
}

p {
    margin-top: 0;
    line-height: 24px
}

dfn, cite, em, i {
    font-style: italic
}

blockquote {
    margin: 0 1.5em
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

mark, ins {
    background: #fff9c0;
    text-decoration: none
}

big {
    font-size: 125%
}

html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    background: #fff
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1
}

ul, ol {
    margin: 0 0 1.5em 0em;
    padding-left: 15px;
    line-height: 24px
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em
}

dt {
    font-weight: bold
}

dd {
    margin: 0 1.5em 1.5em
}

img {
    height: auto;
    max-width: 100%
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1
}

th:first-child, td:first-child {
    padding-left: 0
}

th:last-child, td:last-child {
    padding-right: 0
}

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    height: 25px;
    padding: 5px 5px !important;
    background-color: #fff;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    font-weight: bold;
    color: #162951;
    border-radius: 0;
    -webkit-border-radius: 0px
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 1px solid #162951;
    outline: 0
}

label, legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600
}

fieldset {
    padding: 0;
    border-width: 0
}

input[type="checkbox"], input[type="radio"] {
    display: inline
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal
}

select {
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white url('../img/icon-select-arrow.svg') 98% center no-repeat
}

::-webkit-input-placeholder {
    color: #162951
}

:-moz-placeholder {
    color: #162951
}

::-moz-placeholder {
    color: #162951
}

:-ms-input-placeholder {
    color: #162951
}

a.button + a.button {
    margin-left: 10px
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    display: inline-block;
    height: 40px;
    padding: 0 30px;
    color: #162951;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #eeeeee;
    border: 0px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: 150ms;
    transition: 150ms
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    color: white;
    background-color: #162951;
    outline: 0
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
    -webkit-transition: 150ms;
    transition: 150ms
}

.hidelabel label {
    display: none !important
}

body .gform_wrapper label.gfield_label + div.ginput_container {
    margin-top: 8px !important
}

.gform_wrapper {
    overflow: inherit;
    margin: 0;
    max-width: 100% !important
}

a {
    color: #162951;
    text-decoration: none
}

a:visited {
    color: #4d4d4d
}

a:hover, a:focus, a:active {
    color: #4d4d4d
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.main-navigation li {
    float: left;
    position: relative;
    padding-right: 30px
}

.main-navigation a {
    display: block;
    text-decoration: none;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    color: #162951
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0
}

.main-navigation ul ul a {
    width: 200px
}

.main-navigation ul li:hover > ul {
    left: auto
}

.main-navigation ul ul li:hover > ul {
    left: 100%
}

.menu-toggle {
    display: none
}

@media screen and (max-width: 600px) {
    .menu-toggle, .main-navigation.toggled .nav-menu {
        display: block
    }

    .main-navigation ul {
        display: none
    }
}

.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: left;
    width: 50%
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%
}

nav.social {
    padding: 22px 0;
    float: right
}

nav.social a {
    display: inline-block
}

nav.social a img {
    height: 15px
}

.gridnav-container {
    width: 960px
}

.gridnav-item {
    width: 320px;
    height: 320px;
    float: left;
    display: block;
    position: relative
}

.gridnav-item.landscape {
    width: 640px
}

.gridnav-item.portrait {
    height: 640px
}

.gridnav-item img {
    position: absolute;
    top: 0;
    left: 0
}

.gridnav-wrap {
    float: left;
    width: 640px;
    height: 640px
}

a.gridnav-overlay {
    width: 100%;
    height: 100%;
    background: white;
    border: 15px solid #162951;
    opacity: 0;
    -webkit-transition: 250ms;
    transition: 250ms;
    position: relative;
    display: block
}

a.gridnav-overlay h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}

.gridnav-item:hover > .gridnav-overlay {
    opacity: 1;
    -webkit-transition: 250ms;
    transition: 250ms
}

.hero {
    padding-top: 175px
}

.content-pad-top {
    padding-top: 175px
}

section {
    padding: 50px 0
}

.highlight {
    background-color: #eeeeee
}

.soliloquy-image {
    width: 100% !important
}

.hero .soliloquy-container .soliloquy-prev {
    display: block;
    width: 56px;
    height: 112px;
    position: absolute;
    top: 50%;
    margin-top: -56px;
    left: 0;
    z-index: 1320;
    background: url(../img/slider-arrow-left.svg) no-repeat scroll 50% 50%;
    opacity: 0.75;
    -webkit-transition: 250ms;
    transition: 250ms
}

.hero .soliloquy-container .soliloquy-prev:hover {
    opacity: 1;
    -webkit-transition: 250ms;
    transition: 250ms
}

.hero .soliloquy-container .soliloquy-next {
    display: block;
    width: 56px;
    height: 112px;
    position: absolute;
    top: 50%;
    margin-top: -56px;
    right: 0;
    z-index: 1320;
    background: url(../img/slider-arrow-right.svg) no-repeat scroll 50% 50%;
    opacity: 0.75;
    -webkit-transition: 250ms;
    transition: 250ms
}

.hero .soliloquy-container .soliloquy-next:hover {
    opacity: 1;
    -webkit-transition: 250ms;
    transition: 250ms
}

.testimonials p {
    margin-bottom: 50px
}

.current-projects {
    padding-bottom: 30px
}

.current-projects .row {
    padding-bottom: 30px
}

a.project {
    width: 49%;
    margin-left: 2%;
    float: left;
    position: relative;
    height: 100%;
    margin-bottom: 2%
}

a.project:nth-of-type(odd) {
    margin-left: 0
}

a.project:hover .project-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: 250ms;
    transition: 250ms
}

.project-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 92%;
    width: 95%;
    top: 0;
    left: 0;
    margin: 2.5%;
    -webkit-transition: 250ms;
    transition: 250ms
}

.project-overlay span {
    font-size: 16px;
    line-height: 24px;
    padding: 20px;
    position: absolute;
    bottom: 0
}

.project-image img {
    vertical-align: top
}

.project-title {
    font-size: 20px;
    line-height: 24px;
    padding: 20px
}

.project-excerpt {
    height: 405px;
    background: #162951;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold
}

.project-excerpt p {
    line-height: 34px
}

.project-excerpt {
    display: table
}

.project-excerpt-content {
    display: table-cell;
    margin: 0;
    vertical-align: middle
}

.project-content {
    font-size: 14px;
    line-height: 24px;
    color: #162951
}

.hero > img {
    width: 100%
}

.button-container {
    padding-top: 30px
}

.login {
    background: #eeeeee;
    height: 50px;
    display: block
}

.login-content {
    padding: 12px
}

.login-content > * {
    display: inline-block
}

.login-content span {
    height: 30px;
    padding-right: 20px
}

.login-content span img, .login-content span h6 {
    display: inline-block
}

input[type="submit"].button-alt {
    background: #162951;
    color: white;
    padding: 0px 10px;
    line-height: 20px;
    height: 25px;
    margin-left: -2px;
    display: inline-block
}

input[type="submit"].button-alt:hover {
    background: #4d4d4d;
    color: white
}

a.button-alt {
    background: #162951;
    color: white;
    padding: 3px 20px;
    line-height: 20px;
    height: 25px;
    margin-left: -2px;
    display: inline-block
}

a.button-alt:hover {
    background: #4d4d4d;
    color: white
}

.member-name {
    padding: 3px 20px;
    line-height: 20px;
    height: 25px;
    margin-left: -2px;
    display: inline-block;
    background-color: white
}

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 999
}

.header {
    background: white;
    padding: 30px 0;
    width: 100%
}

h1.site-title {
    margin-bottom: 0;
    line-height: 0
}

h1.site-title a {
    display: block
}

footer .container {
}

.register {
    background: #eeeeee;
    padding: 30px 0
}

.register .gform_wrapper ul li.gfield {
    clear: none;
    float: left;
    width: 50%
}

.register input[type="submit"] {
    width: 99%;
    color: white;
    background: #162951;
    height: 30px;
    padding: 5px 5px;
    line-height: 22px
}

.register input[type="submit"]:hover {
    color: #162951;
    background: white
}

.register .gform_wrapper textarea.large {
    height: 124px;
    width: 97.5%
}

.register .gform_wrapper .gform_footer {
    padding: 2px 0 0 0;
    margin: 0;
    clear: both
}

.register .validation_error, .register .validation_message {
    display: none
}

.register .gform_wrapper li.gfield.gfield_error, .register .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: transparent;
    margin-bottom: 0 !important;
    padding: 0;
    border-top: none;
    border-bottom: none
}

.register .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container, .register .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description, .register .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label, .register .gform_wrapper li.gfield.gfield_error.gfield_contains_required fieldset legend.gfield_label {
    margin-left: 0px
}

.register .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
    margin-top: 0;
    margin-bottom: 0 !important
}

.register .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    max-width: inherit
}

.contact {
    background: #162951;
    color: white;
    padding: 30px 0
}

.contact h5, .contact h6, .contact a {
    color: white
}

.contact p {
    text-transform: uppercase;
    font-size: 10px
}

.footer {
    padding: 10px 0
}

.footer p {
    font-weight: bold;
    color: #162951;
    font-size: 10px;
    margin: 0
}

.mobile-only {
    display: none !important
}

html, body {
    overflow-x: hidden
}

@media (min-width: 1001px) {
    .header .container {
        height: auto !important
    }
}

@media (max-width: 1000px) {
    body {
        padding-top: 140px
    }

    body, button, input, select, textarea {
        font-size: 16px
    }

    .container .columns, .container .column {
        min-width: 100%;
        margin: 0
    }

    .mobile-only {
        display: block !important
    }

    .mobile-hidden {
        display: none
    }

    .mobile-padtop {
        padding-top: 30px
    }

    .content {
        padding-top: 30px
    }

    .hero {
        padding-top: 0
    }

    .login form input {
        clear: both;
        display: block !important;
        margin-top: 10px !important
    }

    .login div.member-name, .login a.button-alt {
        display: block;
        margin-top: 10px
    }

    .login {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%
    }

    .login .login-content {
        padding: 0 12px;
        line-height: 50px;
        float: none
    }

    .login .login-content span {
        height: 50px;
        padding-left: 75px;
        display: block
    }

    .login .login-content span em {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 75px;
        text-align: center;
        height: 50px;
        background: #162951 url(../img/login-arrow.svg) no-repeat center center;
        background-size: 25px;
        cursor: pointer
    }

    .login .login-content span img {
        width: 26px;
        margin-top: 12px;
        vertical-align: top
    }

    .login .login-content span h6 {
        line-height: 50px;
        margin: 0;
        font-size: 20px
    }

    .login .login-content form {
        display: block;
        line-height: 50px;
        padding: 25px 0
    }

    .login .login-content input {
        font-size: 20px;
        height: auto;
        display: inline-block;
        padding: 0 5px !important;
        margin-left: 2px
    }

    .login .login-content input[type=submit] {
        padding: 0 10px !important;
        line-height: 30px;
        margin: 0;
        display: block
    }

    .header {
        padding: 0
    }

    .header .container {
        height: 90px;
        overflow: hidden;
        width: 100%;
        padding: 30px;
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 10;
        background: #fff
    }

    .header .container .site-branding {
        width: 200px;
        margin-bottom: 30px
    }

    #menu-toggle {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 10px 35px 16px 0px;
        cursor: pointer
    }

    #menu-toggle span, #menu-toggle span:before, #menu-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #000;
        position: absolute;
        display: block;
        content: '';
        -webkit-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out
    }

    #menu-toggle span:before {
        top: -10px
    }

    #menu-toggle span:after {
        bottom: -10px
    }

    #menu-toggle.active span {
        background-color: transparent
    }

    #menu-toggle.active span:before, #menu-toggle.active span:after {
        top: 0
    }

    #menu-toggle.active span:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    #menu-toggle.active span:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    .main-navigation ul {
        display: block;
        margin: 0 -30px
    }

    .main-navigation ul li {
        float: none;
        padding: 0 30px;
        border-bottom: 3px solid #eee
    }

    .main-navigation a {
        font-size: 20px
    }

    nav.social {
        margin: 0 -30px;
        padding: 10px 30px 500px;
        background: #eee;
        float: none
    }

    nav.social a, nav.social a.mobile-only {
        display: inline-block !important
    }

    nav.social a img {
        height: 30px;
        margin-right: 10px
    }

    section#about {
        padding-top: 0
    }

    section:first-of-type {
        padding-top: 0
    }

    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px
    }

    .container .full-width {
        width: auto;
        float: none;
        display: block;
        margin: 0 -30px
    }

    .container .full-width img {
        width: 100%
    }

    p {
        line-height: 30px
    }

    h1.title-arrow {
        padding-bottom: 50px
    }

    h4 {
        margin-bottom: 20px
    }

    ul, ol {
        line-height: 30px;
        margin: 0 0 20px 0
    }

    .testimonial-single {
        display: none
    }

    .testimonial-arrows {
        text-align: center
    }

    .testimonial-arrows em {
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../img/testimonial-arrows.svg) no-repeat top left;
        background-size: 200% 100%;
        background-position: 0 0;
        cursor: pointer
    }

    .testimonial-arrows em.right {
        background-position: 100% 0;
        margin-left: 150px
    }

    .register .gform_wrapper ul li.gfield {
        width: 100%
    }

    .register ul li.gfield input, .register ul li.gfield select, .register ul li.gfield textarea {
        width: 100% !important;
        height: auto !important;
        padding: 5px 0 !important;
        margin: 5px 0 !important
    }

    .register ul li.gfield select, .register ul li.gfield textarea {
        background: #fff !important;
        padding: 5px 10px !important
    }

    .register ul li.gfield textarea {
        height: 125px !important
    }

    .gform_wrapper .gform_footer input[type=submit] {
        margin-top: 20px !important;
        height: auto !important;
        padding: 10px 0 !important
    }

    .contact p {
        font-size: 16px
    }

    .contact h5 {
        margin-bottom: 25px
    }

    .contact h6 {
        font-size: 22px;
        margin-bottom: 15px
    }

    .footer p {
        font-size: 12px;
        line-height: 20px
    }

    .footer .textright {
        text-align: left
    }

    #backtotop {
        display: block;
        width: 40px;
        height: 40px;
        background: url(../img/arrow-up.svg) no-repeat top left;
        position: absolute;
        bottom: 12px;
        right: 20px
    }

    a.project {
        width: 100%;
        margin: 0
    }

    a.project img {
        width: 100%
    }

    a.project .project-title {
        font-size: 20px;
        line-height: 30px;
        padding: 20px
    }

    .project-overlay {
        height: 95%
    }

    .project-excerpt {
        height: auto !important
    }

    .project-excerpt p {
        margin-bottom: 0px;
        font-size: 30px;
        line-height: 40px
    }

    .project-excerpt-content {
        display: block
    }

    .project-content p {
        font-size: 20px;
        line-height: 30px
    }
}
