<div ng-controller="listPagesCtrl">
    <div class="TitleBar">
        <page-title title="'Pages'">
            <a href class="btn btn-primary btn-sm" ui-sref="app.adminNewPageId()">
                <i class="fa fa-plus"></i>
                <span>New Page</span>
            </a>
        </page-title>
    </div>


    <div class="adminContent container-fluid">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">URL</h2>
                <h2 class="tcell">In Sitemap</h2>
                <h2 class="tcell">Page Name</h2>
                <h2 class="tcell">Page Template</h2>
                <h2 class="tcell">Published</h2>
                <h2 class="tcell">Action</h2>
            </div>
            <div class="trow" ng-repeat="thisresult in pageResults">
                <div class="tcell">
                    <a ng-href="/i/{{thisresult.cms.pageUrl}}" target="_blank">{{thisresult.cms.pageUrl}}</a>
                </div>
                <div class="tcell">
                    <i class="fa fa-check" aria-hidden="true" ng-show="thisresult.cms.showInSitemap"></i>
                    <i class="fa fa-times" aria-hidden="true" ng-hide="thisresult.cms.showInSitemap"></i>
                </div>
                <div class="tcell">{{thisresult.name}}</div>
                <div class="tcell">{{thisresult.cms.pageTemplate}}</div>
                <div class="tcell">
                    <i class="fa fa-check" aria-hidden="true" ng-hide="thisresult.cms.published"></i>
                    <i class="fa fa-times" aria-hidden="true" ng-show="thisresult.cms.published"></i>
                </div>
                <div class="tcell">
                    <a href ui-sref="app.adminPageId({pageId: thisresult._id})">Edit</a>
                </div>
            </div>
        </div>
        <div class="text-center alert">
            <a class="btn btn-primary btn-sm" href ui-sref="app.adminNewPageId()">Add Page</a>
        </div>
    </div>

</div>
