<div>
    <nav class="nav navbar navbar-default navbar-fixed-top navbar-inverse" id="gpcHead">

        <div class="container-fluid">
            <!-- navbar header -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#findMediaNav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- brand -->
                <a href="/admin/#/home" class="navbar-brand">Oakland Village - Admin</a>
                <!-- / brand -->
            </div>
            <!-- / navbar header -->


            <!-- navbar collapse -->
            <div id="findMediaNav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav mainMenu">
                    <li ui-sref-active="active">
                        <a ui-sref="app.home">
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href>
                            Page Content
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminPages">
                                    <span>Pages</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminContentBlocks">
                                    <span>Content Blocks</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminContentBlockTypes">
                                    <span>Content Block Types</span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    <li ui-sref-active="active" class="">
                        <a ui-sref="app.adminContactForm">
                            <span>Customer Contacts</span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href>
                            Estate Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminLand">
                                    <span>Land</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminHomes">
                                    <span>Homes</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminPackages">
                                    <span>Packages</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminBuilders">
                                    <span>Builders</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminLocationPoints">
                                    <span>Location Points</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminLocationCategorys">
                                    <span>Location Categories</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href>
                            File Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminFileManagement">
                                    <span>Files</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminFileTypes">
                                    <span>Files Types</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href>
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminUsers">
                                    <span>Users</span>
                                </a>
                            </li>

                            <li ui-sref-active="active" class="">
                                <a ui-sref="app.adminMenus">
                                    <span>Menus</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>


                <!-- nabar right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-click="logOut()">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

</div>
