<div class="bg-light lter b-b wrapper-md">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h1 class="m-n font-thin h3 text-black">{{title}}</h1>
            <small class="text-muted">{{subTitle}}</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>
