<form data-ng-submit="insert()">
    <div class="modal-header">
        <div class="col-md-10"><h4 class="modal-title"><span class="glyphicon glyphicon-picture"></span> Upload Image</h4></div>
        <div class="col-md-2 right">
            <a class="close" href data-ng-click="$dismiss()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <div class="modal-body">
        <div class="modal-body-wrapper">
            <div ng-hide="showImageUploader">
                <div ng-repeat="mediaFile in mediaFiles"
                     class="clearfix" style="display:inline-block; margin:10px; border: 1px solid #000; border-radius: 4px;padding: 5px;"
                     ng-click="selectImage(mediaFile)"
                     ng-class="mediaFile._id == selectedImage._id ? 'selectedImage' : ''"
                     ng-if="(mediaFile.mimetype === 'image/png' || mediaFile.mimetype === 'image/jpeg')">
                    <div style="width:200px; height:230px;">
                        <a href
                           ng-href="http://clientstorage.altitudepm.com.au/{{mediaFile.storeName}}"
                           target="_blank">
                            <div><img ng-src="http://clientstorage.altitudepm.com.au/{{mediaFile.storeName}}" style="max-width:200px; max-height:200px;"/></div>
                            <div>{{mediaFile.originalName}}</div>
                        </a>
                    </div>
                </div>
            </div>

            <div ng-show="showImageUploader">
                <directive-file-upload></directive-file-upload>
            </div>
        </div>
    </div>

    <div class="modal-footer center clearfix">
        <button data-ng-click="$dismiss()" type="button" class="btn btn-default pull-left">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right">Insert Image</button>
        <button class="btn btn-primary pull-right"
                ng-click="imageUploader($event)">
            <span class="glyphicon glyphicon-picture mR5"></span>Upload Image</button>
    </div>
</form>