<div class="nav">
    <div id="listNavigation">
        <!-- Location Filter -->

        <div class="listNavItem LocationItem">
            <div class="listNavHeading">
                <div class="listNavChevron pull-right">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </div>
                <div class="listNavLabel">Buy Media</div>
            </div>

            <div id="LocationItemSummary">
                <div class="LocationItemSummary">

                    <ul class="listSubNav">
                        <li>
                            <a href="">Media Directory</a>
                        </li>
                        <li>
                            <a href="">My Favourites</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="listNavItem LocationItem">
            <div class="listNavHeading">
                <div class="listNavChevron pull-right">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </div>
                <div class="listNavLabel">Sell Media</div>
            </div>

            <div id="LocationItemSummary">
                <div class="LocationItemSummary">

                    <ul class="listSubNav">
                        <li>
                            <a href="">Media Listings</a>
                        </li>
                        <li>
                            <a href="" ui-sref="app.businessDetails">Business Details</a>
                        </li>
                        <li>
                            <a href="">Authorised Users</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="listNavItem LocationItem">
            <a href ui-sref="app.personalProfile">
                <div class="listNavHeading">
                    <div class="listNavChevron pull-right">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                    <div class="listNavLabel">Personal Details</div>
                </div>
            </a>
        </div>


        <!-- Admin Navigation -->
        <div class="adminNav">
            <div class="listNavItem LocationItem">
                <div class="listNavHeading">
                    <div class="listNavChevron pull-right">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                    <div class="listNavLabel">Site Admin</div>
                </div>

                <div id="LocationItemSummary">
                    <div class="LocationItemSummary">

                        <ul class="listSubNav">
                            <li>
                                <a href="" ui-sref="app.adminUsers">Users</a>
                            </li>
                            <li>
                                <a href="" ui-sref="app.adminBusinesses">Businesses</a>
                            </li>
                            <li>
                                <a href="" ui-sref="app.mediaListingList">Media Listings</a>
                            </li>
                            <li>
                                <a href="" ui-sref="app.adminAdTypes">Ad Types</a>
                            </li>
                            <li>
                                <a href="" ui-sref="app.adminInterests">Interest Categories</a>
                            </li>
                            <li>
                                <a href="" ui-sref="app.adminPaymentTypes">Payment Types</a>
                            </li>
                            <li>
                                <a href="" ui-sref="app.adminCommitmentPeriod">Commitment Periods</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
