<div ng-controller="adminListHomesCtrl">
    <div class="TitleBar">
        <page-title title="'Homes'">
            <a href class="btn btn-primary btn-addon btn-sm" ui-sref="app.adminNewHome">
                <i class="fa fa-plus"></i>
                <span>New Homes</span>
            </a>
        </page-title>
    </div>

    <div class="adminContent container-fluid">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">
                    <a href="" ng-click="selectAllRows()">
                        <span ng-show="Object.keys(selectedRows).length == homeResults.length">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="Object.keys(selectedRows).length == homeResults.length">
                            <i class="fas fa-square" ></i>
                        </span>
                    </a>
                </h2>
                <h2 class="tcell">Builder</h2>
                <h2 class="tcell">House Name</h2>
                <h2 class="tcell">House Price</h2>
                <h2 class="tcell">House Size (m2)</h2>
                <h2 class="tcell">Bedrooms</h2>
                <h2 class="tcell">Bathrooms</h2>
                <h2 class="tcell">House Levels</h2>
                <h2 class="tcell">Cars</h2>
                <h2 class="tcell">Duplex</h2>
                <h2 class="tcell">Files</h2>
                <h2 class="tcell">Actions</h2>
            </div>
            <div class="trow" ng-repeat="thisresult in homeResults">
                <div class="tcell">
                    <a href="" ng-click="selectRow(thisresult)">
                        <span ng-show="selectedRows[thisresult._id]">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="selectedRows[thisresult._id]">
                            <i class="fas fa-square" ></i>
                        </span>
                    </a>
                </div>

                <div class="tcell">{{thisresult.builder.name}}</div>
                <div class="tcell">{{thisresult.name}}</div>
                <div class="tcell">{{thisresult.housePrice}}</div>
                <div class="tcell">{{thisresult.houseSize}}</div>
                <div class="tcell">{{thisresult.bedrooms}}</div>
                <div class="tcell">{{thisresult.bathrooms}}</div>
                <div class="tcell">{{thisresult.houseLevels}}</div>
                <div class="tcell">{{thisresult.cars}}</div>
                <div class="tcell">{{thisresult.duplex}}</div>

                <div class="tcell">
                    <div>{{thisresult.associatedFiles.length}}</div>
                </div>

                <div class="tcell">
                    <a href ng-click="remove(thisresult)">remove</a>
                    <a href ui-sref="app.adminHomeId({homeId: thisresult._id})">edit</a>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="Object.keys(selectedRows).length > 0" class="navbar-fixed-bottom bg-lightGrey">
        <a href="" class="btn btn-danger" ng-click="deleteRows()">Delete</a>
    </div>

</div>
