<div ng-controller="landListCtrl" class="">
    <div class="TitleBar">
        <page-title title="'Land'">
            <a href class="btn btn-primary btn-addon btn-sm"  ui-sref="app.adminNewLand">
                <i class="fa fa-plus"></i>
                <span>New Lot</span>
            </a>
        </page-title>
    </div>

    <div class="alert-warning text-center">
        <div>
            <span>There were </span>
            <span>{{ Object.keys(googleImportObjectNew).length || 'NO'}} new records and </span>
            <span>{{ Object.keys(googleImportObjectUpdates).length || 'NO'}} updates </span>
            <span>found in the pricelist:</span>
            <a href ng-click="getGooglePricelist()">
                <span>Recheck Updates</span>
            </a>
        </div>

        <div>
            <a href class="btn btn-default btn-sm" ng-click="hideNoUpdates()">
                <i class="fa fa-plus"></i>
                <span>View Only Updates</span>
            </a>
            <a href class="btn btn-default btn-sm" ng-click="updateAllFromGoogle()">
                <i class="fa fa-plus"></i>
                <span>Update All</span>
            </a>
        </div>
    </div>

    <div class="adminContent container-fluid landController">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">
                    <a href="" ng-click="selectAllRows()">
                        <span ng-show="Object.keys(selectedRows).length == landResults.length">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="Object.keys(selectedRows).length == landResults.length">
                            <i class="fas fa-square" ></i>
                        </span>
                    </a>
                </h2>
                <h2 class="tcell">Lot Id</h2>
                <h2 class="tcell" ng-repeat="(columnKey, columnData) in columnsList">{{columnData.columnName}}</h2>
                <h2 class="tcell">File Count</h2>
                <h2 class="tcell">Disclosure Image</h2>
                <h2 class="tcell">Disclosure PDF</h2>
                <h2 class="tcell">Action</h2>
            </div>

            <div class="trow newDataRow" ng-repeat="(newId, isNew) in googleImportObjectNew">
                <div class="tcell"></div>
                <div class="tcell">{{googleImportObject[newId].lotId}}</div>
                <div class="tcell" ng-repeat="(columnKey, columnData) in columnsList">{{googleImportObject[newId][columnKey]}}</div>
                <div class="tcell"></div>
                <div class="tcell"></div>
                <div class="tcell"></div>
                <div class="tcell">
                    <a href ng-click="save(googleImportObject[newId])">Add New Record</a>
                </div>
            </div>

            <div class="trow"
                 ng-repeat-start="thisresult in landResults | orderBy: 'lotId'"
                 ng-hide="(showUpdatesOnly && !googleUpdateResults[thisresult.lotId])"
                 ng-class="{'alert-danger': (thisresult.sold && !showUpdatesOnly),
                  'alert-warning': (thisresult.hold && !showUpdatesOnly),
                  'googleUpdateAvailableTop': googleUpdateResults[thisresult.lotId]}">

                <div class="tcell">
                    <a href="" ng-click="selectRow(thisresult)">
                        <span ng-show="selectedRows[thisresult._id]">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="selectedRows[thisresult._id]">
                            <i class="fas fa-square" ></i>
                        </span>
                    </a>
                </div>

                <div class="tcell">
                    {{thisresult.lotId}}
                </div>

                <div class="tcell" ng-repeat="(columnKey, columnData) in columnsList">{{thisresult[columnKey]}}</div>

                <div class="tcell">{{thisresult.associatedFiles.length}}</div>

                <div class="tcell">
                    <a href ng-repeat="associatedFile in thisresult.associatedFiles"
                       ng-if="associatedFile.fileType == '59c0b28744c464c9c912a9ba'"
                       ng-href="http://clientstorage.altitudepm.com.au/{{associatedFile.storeName}}"
                       target="_blank">
                        <img ng-src="http://clientstorage.altitudepm.com.au/{{associatedFile.storeName}}" style="height:30px;"/>
                    </a>
                </div>

                <div class="tcell">
                    <a href ng-repeat="associatedFile in thisresult.associatedFiles"
                       ng-if="associatedFile.fileType == '59c050a1074c13c12070aa71'"
                       ng-href="http://clientstorage.altitudepm.com.au/{{associatedFile.storeName}}"
                       target="_blank">Lot Disclosure</a>
                </div>

                <div class="tcell">
                    <a href ui-sref="app.adminLandId({lotId: thisresult._id})">edit</a>
                </div>
            </div>

            <div class="trow updateDataRow" ng-repeat-end
                 ng-if="googleImportObjectUpdates[thisresult.lotId]"
                 ng-class="{'googleUpdateAvailableBottom': googleImportObjectUpdates[thisresult.lotId]}">

                <div class="tcell">
                    <div><b>UPDATE</b></div>
                    <div>{{googleImportObject[thisresult.lotId].lotId}}</div>
                </div>

                <div class="tcell" ng-repeat="(columnKey, columnData) in columnsList"
                     ng-class="{'alert-danger' : googleImportObject[thisresult.lotId][columnKey] !== thisresult[columnKey]}">
                    {{googleImportObject[thisresult.lotId][columnKey]}}
                </div>

                <div class="tcell"></div>
                <div class="tcell"></div>
                <div class="tcell"></div>

                <div class="tcell">
                    <a href ng-click="updateLand(thisresult)">update</a>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="Object.keys(selectedRows).length > 0" class="navbar-fixed-bottom bg-lightGrey">
        <a href="" class="btn btn-danger" ng-click="deleteRows()">Delete</a>
    </div>

</div>
