<li ng-class="{active:active && items.length}">
    <a href class="auto" ng-click="active = !active; clicked();">
          <span class="pull-right text-muted" ng-if="items.length">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
        <b ng-if="badgeClass" class="badge {{badgeClass}} pull-right">{{badgeValue}}</b>
        <i class="glyphicon {{icon || 'glyphicon-stats'}} icon"></i>
        <span class="font-bold">{{name}}</span>
    </a>
    <ul class="nav nav-sub dk" ng-if="items.length">
        <li ui-sref-active="active" ng-repeat="item in items">
            <a ui-sref="item.state">
                <span>{{item.name}}</span>
            </a>
        </li>
    </ul>
</li>
