<div class="container w-xxl w-auto-xs" ng-controller="SignupCtrl" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Sign up below</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="Name" class="form-control no-border" ng-model="user.name" required>
                </div>
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="user.email" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" ng-model="user.password" required>
                </div>
                <div class="list-group-item">
                    <input type="tel" placeholder="Landline" class="form-control no-border" ng-model="user.landline">
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Mobile" class="form-control no-border" ng-model="user.mobile">
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Address Line 1" class="form-control no-border" ng-model="user.addressLine1" required>
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Address Line 2" class="form-control no-border" ng-model="user.addressLine2">
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="City" class="form-control no-border" ng-model="user.City" required>
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="State" class="form-control no-border" ng-model="user.State" required>
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Country" class="form-control no-border" ng-model="user.Country" required>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" ng-model="agree" required><i></i> Agree the <a href>terms and policy</a>
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup(user)" ng-disabled='form.$invalid'>Sign up</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>Already have an account?</small></p>
            <a ui-sref="signIn" class="btn btn-lg btn-default btn-block">Sign in</a>
        </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
        {% include 'blocks/page_footer.html' %}
    </div>
</div>
