<div class="panel padder-v item block {{backgroundClass}}" style="text-align: center;">
    <div class="h1 {{valueClass}} font-thin h1">{{value}}</div>
    <span class="{{titleClass}} text-xs">{{title}}</span>
    <ng-transclude></ng-transclude>
</div>
