<div ng-controller="adminFileManagementCtrl">
    <div class="TitleBar">
        <page-title title="'File Management'"></page-title>
    </div>

    <div class="container">
        <directive-file-management></directive-file-management>
    </div>
</div>
