<div ng-controller="landAppendCtrl" class="">
    <div class="TitleBar">
        <page-title title="'Append Land'">
            <a href class="btn btn-primary btn-addon btn-sm" ui-sref="app.adminLand">
                <i class="fa fa-plus"></i>
                <span>View Land</span>
            </a>
        </page-title>
    </div>

    <div>
        <div class="adminContent container-fluid">
            <div>
                <form name="form">
                    <div class="form-group">
                        <label>Lot Number</label>
                        <input class="form-control no-border" ng-model="page.lotNumber">
                    </div>
                    <div class="form-group">
                        <label>Stage</label>
                        <input class="form-control no-border" ng-model="page.stage">
                    </div>
                    <div class="form-group">
                        <label>price</label>
                        <input type="number" class="form-control no-border" ng-model="page.landPrice">
                    </div>
                    <div class="form-group">
                        <label>Size (m2)</label>
                        <input type="number" class="form-control no-border" ng-model="page.landSize">
                    </div>
                    <div class="form-group">
                        <label>Frontage</label>
                        <input type="number" class="form-control no-border" ng-model="page.frontage">
                    </div>
                    <div class="form-group">
                        <label>Depth</label>
                        <input type="number" class="form-control no-border" ng-model="page.depth">
                    </div>
                    <div>
                        <div ng-click="page.hold = !page.hold">
                            <span>Hold </span>
                            <i class="fa fa-check" aria-hidden="true" ng-show="page.hold"></i>
                            <i class="fa fa-times" aria-hidden="true" ng-hide="page.hold"></i>
                        </div>
                    </div>
                    <div>
                        <div ng-click="page.sold = !page.sold">
                            <span>Sold </span>
                            <i class="fa fa-check" aria-hidden="true" ng-show="page.sold"></i>
                            <i class="fa fa-times" aria-hidden="true" ng-hide="page.sold"></i>
                        </div>
                    </div>

                    <div>
                        <h2>Files</h2>
                        <directive-file-management currentdoc="page" currentdoctype="'land'" ng-if="page._id"></directive-file-management>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-lg btn-danger" ng-click="delete(page)">Delete Page</button>
                        <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
