extends layout

block content
  .containerPadding
    .container.textCenter
      h1.fontLightDarker #{pageContent.name}
      .pageContent!= pageContent.pageContent

  #searchResults
    .container
      +displayBuilderResults()