extends layout


block content
  +headerSlider()

  .sectionContent
    .container
      h1.highlightHeading #{pageContent.name}
      .pageContent!= pageContent.pageContent

  .sectionContent
    .container
      include ./include/builderFiles.pug