extends layout

block content
  #builderLogoDiv.displayFlex.flexHorizontalCenter.flexVerticalMiddle
    - var x = 0
    each associatedFile, fileIndex in builderDetails.associatedFiles
      if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
        img(src='http://clientstorage.altitudepm.com.au/' + associatedFile.storeName)
        - x++

      if ((fileIndex == builderDetails.associatedFiles.length - 1) && (x == 0))

  .containerBorder.containerPadding.backgroundDark.fontWhite
    .container
      h2.textUppercase #{builderDetails.name}
      .displayFlex.flexRow.mobileFlexColumn
        .description.flexGrow #{builderDetails.description}
        .highlights.flexGrow.textRight
          if builderDetails.highlights
            - var x = 0
            each highlight in builderDetails.highlights
              if x < 3
                .highlightItem #{highlight}
              - x++

  #HLContainer.displayFlex.flexRow.mobileFlexColumn.sides
    #searchResults.flexGrow
      +packageResults()