extends layout

block content
  .container
    .pad20
      h1 Frequently Asked Questions
      #faqs

  script.

    var $faqs = [
      {
        question: 'What is the buying Process?',
        answer: 'You select a site, home design and list of inclusions. You will be given a schedule detailing the cost of your home. If you are happy with the price, you will be asked to enter a standard building contract for the construction of your new home and pay a further amount.'
      },
      {
        question: 'What is the difference between Leasehold and Freehold?',
        answer: 'The two main differences are firstly in Freehold villages the resident owns the unit, and the land beneath the unit. The second difference is that Freehold villages are governed by the Body Corporate and Community Management Act 1997 (Qld) [BC & CMA] in addition to the Retirement Villages Act 1999 (Qld) (RV Act) which governs ALL retirement villages.\n' + 'Under the BC & CMA Freehold villages must have a Body Corporate Committee, and may also have a Residents’ Committee. The two committees have different roles and responsibilities under the two Acts.\n'
      },
      {
        question: 'Is my home guaranteed?',
        answer: 'All homes are covered by a government approved statutory structural guarantee for six years and six months.'
      },
      {
        question: 'Do I own my Oakland Village Home?',
        answer: 'WIth Oakland Villages unique ownership structure whereby active over 55’s retain all the rights of freehold home owners, yet still benefit from the security and community atmosphere of a retirement village. \n' + 'All residents are homeowners, there are no rental properties. Oakland Village homes are affordable because ownership of the land is separate from ownership of the home. Although you do not own the land, your right to live in your home is guaranteed and protected by law for an indefinite period. Homebuyers enter a site agreement over the land on which their home is situated.'
      },
      {
        question: 'What is the Monthly Service Fee and what does this provide?',
        answer: 'Levies are set annually, following consultation with the Resident Committees, and usually depend on the size of your villa/apartment. They are usually payable monthly. There may be additional charges for personal services if required. \n' + 'This fee covers the cost of operating and maintaining the services and facilities you enjoy within the village.\n' + ' It can include such things as council rates, water rates, on site management, building insurance, maintaining the gardens of the common areas, administration and costs associated with the village bus.\n'
      },
      {question: 'Is NBN available?', answer: 'Yes! The Village is NBN ready'},
      {
        question: 'Are pets welcome at Oakland Village?',
        answer: 'Of course! Approved animals are welcome to join you in your new home as part of your family.'
      },
      {question: 'Do you provide Caravan Parking?', answer: 'Yes! On site storage is available subject to space.'},
      {
        question: 'What are your Exit Policies?',
        answer: 'When you leave the village, the value of your villa will more than likely have increased. Upon the resale of your villa you are refunded an amount calculated as a percentage of the next ingoing contribution.\n' + 'A departure/exit fee is payable when you leave, which is calculated on the sale price of your villa. The departure/exit fee is calculated at 5% per annum to a maximum of 7 years based on the new sale price (ingoing contribution) which means you share in capital gain growth of the property. For further information, please consult the sales consultants at the Village Sales Office.\n' + 'This is extensively covered in the Public Information Document (Queensland)\n'
      },
      {
        question: 'Who Maintains the Gardens and Lawns?',
        answer: 'Resort management maintains lawns at the front of all homes, street areas, the gardens in the common areas and around the country club. Residents are responsible for maintaining the rear and sides of their site.'
      },
      {
        question: 'Can I have my family and friends come stay?',
        answer: 'Yes! You are welcome to have visitors in accordance with the Village policies.'
      },
      {
        question: 'Why Independent Living?',
        answer: 'Choosing to live independently at Oakland Village means that you have made a quality lifestyle choice. Below are some of the benefits of living at Oakland VIllage:\n' +
        'Every unit has been designed and furnished with the intent on providing a luxurious standard of living.\n' +
        'Pleasant common garden areas are maintained so you can undertake the activities you enjoy, when you want to do them.\n' +
        'In identified areas, you can do the gardening if you wish and there are also raised communal garden beds.\n' +
        'Each unit is architecturally designed and purpose built with your future in mind; providing comfort and security should your mobility needs change.\n' +
        'Our Resort Manager will keep you busy with organised day trips, happy hours, exercise, classes, events as well as indoor and outdoor activities.\n' +
        'You have 24 hour access to our Community Centre that includes studios for craft, workshop, men’s shed, business centre, meeting room and wellness centre.\n' +
        'Each unit has a Care Alert call system to ensure that in an emergency, emergency care can be provided.\n' +
        'Should you require, we can arrange for Care to be provided for you in your unit by an appropriately accredited care provider.\n' +
        'A community environment with people who share similar interests.\n' +
        'A whole new group of friends with which to enjoy the best years of your life.\n'
      }]


    function loadFaq() {
      for (var i = 0; i < $faqs.length; i++) {
        var num = i.toString();
        document.getElementById("faqs").innerHTML +=
          "<div class='jacordian fontDark'>" +
          "    <div class='tab'>" +
          "      <input id='tab-" + num + "' type='checkbox' name='tabs'>" +
          "      <div class='displayFlex faq'>" +
          "       <label class='textUppercase fontDark flexGrow' for='tab-" + num + "'>" + $faqs[i].question + "</label> " +
          "       <i class='fas fa-angle-down fontDark padCenter'></i>" +
          "      </div>" +
          "      <div class='tab-content'>" +
          "        <p class='fontDarkest'> " + $faqs[i].answer + "</p>"  +
          "      </div>" +
          "   </div>" +
          "</div>";

      }
    }
    $(document).ready(function () {
      loadFaq();
    })
