extends layout


block content
  +headerSlider()

  .containerPadding
    .container.textCenter
      h1.fontLightDarker #{pageContent.name}
      .blockText!= pageContent.pageContent

  +newContentBlocks()
