extends layout


block content
  #landDetails
    .containerpadding
      .container
        h2 Somerfield Estate, Holmview - Stage #{landDetails.stage} - Lot #{landDetails.lotNumber}
        .displayFlex.mobileFlexColumn
          .flexGrow
            div(class=landDetails.sold ? "landSold" : (landDetails.hold ? "landHold" : ""))
              div
                if landDetails.sold
                  div.ribbon.soldRibbon sold
                else if landDetails.hold
                  div.ribbon.holdRibbon hold
              div
                img.imgResponsive(src='/assets/images/land/images/lot' + landDetails.lotNumber + '.png')
          .flexGrow
            div
              span  Lot #{landDetails.lotNumber}
              span.small  (Stage #{landDetails.stage})
            h2(style="margin-top:0; margin-bottom:0;")
              | $
              if landDetails.sold
                span  SOLD
              else
                span #{landDetails.landPrice.toLocaleString('en')}
            div.small
              span #{landDetails.landSize}m2
              span  (
              span #{landDetails.frontage}m
              span  x
              span  #{landDetails.depth}m)
            .landDownload.backgroundDark.textCenter.fontLight
              .sessionHide.landDownloadItem
                a.fontLight.displayFlex.flexVerticalMiddle.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
                "mandrillTemplate: 'somerfield-land', " +
                "land: " + JSON.stringify(landDetails) +
                "})")
                  | Download Lot Disclosure
                  i.fas.fa-download.iconPadLeft
              .sessionShow
                .landDownloadHeading.textBold.textUnderline Lot Disclosure
                .displayFlex
                  - var f = 0;
                  each associatedFile, fileIndex in landDetails.associatedFiles
                    if ((associatedFile.fileType == '59c050a1074c13c12070aa71') && (f == 0))
                      .landDownloadItem.flexGrow
                        a.fontLight.displayFlex.flexVerticalMiddle.flexHorizontalCenter(href="http://clientstorage.altitudepm.com.au/" + associatedFile.storeName, target="_blank")
                          | Download
                          i.fas.fa-download.iconPadLeft
                        - f++
                  .landDownloadItem.flexGrow
                    a.fontLight.displayFlex.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
                    "mandrillTemplate: 'somerfield-land', " +
                    "land: " + JSON.stringify(landDetails) +
                    "})")
                      | Email
                      i.far.fa-envelope.iconPadLeft

  .containerBorder.containerPadding
    h2 Stage #{landDetails.stage} - Lot #{landDetails.lotNumber}: House & Land Packages

    #HLContainer.displayFlex.flexRow.mobileFlexColumn
      #searchCriteria.backgroundDark.fontWhite
        +packageSearch()
      #searchResults.flexGrow
        +packageResults()