include ./mixins/contentBlocks.pug
include ./mixins/facebook.pug
include ./mixins/locationmap.pug
include ./mixins/menus.pug
include ./mixins/slider.pug
include ./mixins/submitForm.pug
include ./mixins/sessionHandling.pug
include ./mixins/messageHandling.pug
include ./mixins/searchFilters.pug
include ./mixins/landResults.pug
include ./mixins/packageResults.pug
include ./mixins/builderResults.pug

doctype html(xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#", xmlns:fb="https://www.facebook.com/2008/fbml")
html
  head
    if !title
      title Oakland Estate, Beaudesert
    else
      title!= 'Oakland Estate, Beaudesert | ' +title

    include ./include/htmlHead.pug

    link(rel="alternate", href="http://oaklandestate.com.au", hreflang="en-au")
    meta(property="og:title", content="About Our Company")
    meta(property="og:type", content="article")
    meta(property="og:url", content="http://www.mysite.com/article/")
    meta(property="og:image", content="http://www.mysite.com/articleimage.jpg")
    meta(property="og:site_name", content="My Company Name")
    meta(property="fb:app_id", content="1234567890987654321")
    meta(property="og:description", content="A description of our services and company profile.")


  body(class=session.enquiry ? 'hasSession' : 'noSession')
    .displayFlex.flexColumn.flexFullHeight.noScroll
      include ./include/header.pug

      .flexGrow.scroll
        block titleBar

        block content

        .completeFooter
          include ./include/footer.pug

    +showEnquiryForm()
    +sessionHandler()
    +siteMessageHandler()
    +menuScript()