extends layout


block content
  .sectionContent.margin-top
    .container
      h1.highlightHeading #{pageContent.name}
      .pageContent!= pageContent.pageContent

  .containerBorder.containerPadding
    .container
      #fbFeed
        if facebookFeed
          each post in facebookFeed.posts.data
            .fbPost
              .fbPostContent
                .fbIntro.displayFlex
                  if facebookFeed.picture && facebookFeed.picture.data && facebookFeed.picture.data.url
                    img.fbPageIcon.containerBorder(src='' + facebookFeed.picture.data.url)
                  .fbPostDetails.flexGrow.displayFlex.flexColumn
                    a.fbPageName(href="https://www.facebook.com/" + facebookFeed.id, target="_blank") #{facebookFeed.name}
                    .fbCreatedTime #{dateFunction(post.created_time)}
                  a.fbFacebookIcon(href="https://www.facebook.com/" + post.id, target="_blank")
                    i.fab.fa-facebook-square
                if post.message
                  .fbMessage !{post.message.replace(/\n/g, "<br/>")}
                .fbImages
                  if post.full_picture
                    img.imgResponsive(src='' + post.full_picture)
              .fbSocial.displayFlex.flexVerticalMiddle.textCenter
                .flexGrow
                  a.fbLikes(href="https://www.facebook.com/" + post.id, target="_blank")
                    .fbSocialLink
                      span #{post.likes.summary.total_count || 0}
                      i.far.fa-thumbs-up
                      span Likes
                .flexGrow
                  a.fbComments(href="https://www.facebook.com/" + post.id, target="_blank")
                    .fbSocialLink
                      span #{post.comments.summary.total_count || 0}
                      i.far.fa-comment-alt
                      span Comments
                .flexGrow
                  a.fbShares(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fsomerfieldestate%2Fposts%2F" + post.id.split("_")[1] + "&display=popup", target="_blank")
                    .fbSocialLink
                      span #{post.shares || 0}
                      i.fas.fa-share
                      span Shares