extends layout


block content
  .textCenter
    h1.marginBottom Individual Plans
    p More information on unit plans.
  .displayFlex.flexWrap.margin20
    .planType#asingle
      .displayFlex.flexWrap
        h1.textLeft.fontMain.margin20.flexGrow Type A
        h1.fontLight.margin20 Stand Alone
      img.imgSize(src="/assets/images/fp/asingle1.png")
      img.imgSize(src="/assets/images/fp/asingle.png")
      .displayFlex.flexWrap.fontDark.fontBold.font20.margin20
        .flexGrow.unitInfo
          i.fas.fa-bed
          span 2
          i.fas.fa-bath
          span 2
          i.fas.fa-car
          span 2

        span 155m2
      +brief()
    .planType#aduplex
      .displayFlex.flexWrap
        h1.textLeft.fontMain.margin20.flexGrow Type A
        h1.fontLight.margin20 Duplex
      img.imgSize(src="/assets/images/fp/aduplex1.png")
      img.imgSize(src="/assets/images/fp/aduplex.png")
      .displayFlex.flexWrap.fontDark.fontBold.font20.margin20
        .flexGrow.unitInfo
          i.fas.fa-bed
          span 2
          i.fas.fa-bath
          span 2
          i.fas.fa-car
          span 2

        span 138 m2
      +brief()
    .planType#bsingle
      .displayFlex.flexWrap
        h1.textLeft.fontMain.margin20.flexGrow Type B
        h1.fontLight.margin20 Stand Alone
      img.imgSize(src="/assets/images/fp/bsingle1.png")
      img.imgSize(src="/assets/images/fp/bsingle.png")
      .displayFlex.flexWrap.fontDark.fontBold.font20.margin20
        .flexGrow.unitInfo
          i.fas.fa-bed
          span 2
          i.fas.fa-bath
          span 2
          i.fas.fa-car
          span 1

        span 142m2
      +brief()
    .planType#bduplex
      .displayFlex.flexWrap
        h1.textLeft.fontMain.margin20.flexGrow Type B
        h1.fontLight.margin20 Duplex
      img.imgSize(src="/assets/images/fp/bduplex1.png")
      img.imgSize(src="/assets/images/fp/bduplex.png")
      .displayFlex.flexWrap.fontDark.fontBold.font20.margin20
        .flexGrow.unitInfo
          i.fas.fa-bed
          span 2
          i.fas.fa-bath
          span 2
          i.fas.fa-car
          span 1

        span 142m2
      +brief()

mixin brief()
  .pad20
    h2.flexGrow Full Turnkey Package Includes
    h2 introductry price - $300,000
    hr
    li Caesarstone Benchtops
    li Oven, Cooktop & Dishwasher
    li Carpets & Tiles / Vinyl Planks Throughout
    li Window Coverings & Flyscreensz
    li Wall mount Clothes Line
    li Landscaping & Fencing
    li 2 x Split System Air Conditioners (Living & Bed 1)
    li LED Ceiling Lights
    li Ceiling Fans (Bed 1 & 2)
    li Automatic Garage Door