extends layout


block content
  link(rel='stylesheet', href='/assets/stylesheets/map.css')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
  .margin20.textCenter
    h1.marginBottom Search Units
    p.font20 Select a a Unit Type below to explore your options.
  +packageSearch
  .backgroundGreen
    +svg
  .textCenter
    h1.marginBottom Search Results
    p.font20
  .container
    #results.displayFlex.flexWrap