mixin displayBuilderResults()
  if builderResults.length > 0
    h2 builder results
    #builderResults.displayFlex.flexWrap
      each builderResult in builderResults
        +builderDisplay(builderResult)
  else
    div
      | No builders available within your current search criteria.
      a(href="/i/builders")  Clear Search


mixin builderScroller()
  if builderScroller.length > 0
    .containerPadding.containerBorder
      .container
        #builderScroller
          #builderScrollerHeading.displayFlex.mobileFlexColumn
            h2.flexGrow Potential Builders
            a(href="/i/builders") Find More Potential Builders
          #builderScrollerResults.displayFlex.flexWrap
            each builderResult in builderScroller
              +builderDisplay(builderResult)
          #builderScrollerFooter.textRight
            a(href="/i/builders") Find More Potential Builders


mixin builderDisplay(builder)
  a.searchResultItem.textUppercase.backgroundLight(href="/i/builder/" + builder._id)
    .packageDetails.backgroundCream.fontDarkest.fontBold
      .buildersName #{builder.name}
    .builderImage.positionRelative
      .displayFlex.flexHorizontalCenter.flexVerticalMiddle
      - var x = 0
      each associatedFile, fileIndex in builder.associatedFiles
        if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
          img.imgResponsive(src='http://clientstorage.altitudepm.com.au/' + associatedFile.storeName)
    .packageDetails.backgroundCream.fontDarkest
      .builderPackages.textCenter #{builder.packageCount || 'No'} House & Land Packages
      if builder.highlights
        - var x = 0
        ul.buildHighlights
          each highlight in builder.highlights
            if x < 3
              li.highlightItem #{highlight}
            - x++
      a.btn.btn-small.btn-default.builderDetails.textCenter(href="/i/builder/" + builder._id) View Builder
