mixin newContentBlocks()
  if blockContent
    if Object.keys(blockContent).length > 0
      .newBlockSection
        each contentBlock in blockContent[Object.keys(blockContent)[0]]
          case contentBlock.pugTemplate
            when 'imageLeft'
              +blockSideImage(contentBlock, 'imageLeft')
            when 'imageRight'
              +blockSideImage(contentBlock, 'imageRight')
            when 'backgroundImage'
              +blockBackgroundImage(contentBlock)
            when 'displayImage'
              +blockDisplayImage(contentBlock)
            default
              +blockStandard(contentBlock)



mixin blockStandard(contentBlock)
  hr
  .contentBlock.blockStandard
    .container.textCenter
      h1.marginBottom!= contentBlock.heading
      h3.fontMain.margin20!= contentBlock.subHeading
      .blockText!= contentBlock.pageContent



mixin blockSideImage(contentBlock, imageSide)
  hr
  .container
    .contentBlock.blockSideImage(class='' + contentBlock.cssClass)
      .displayFlex.mobileFlexColumn(class='' + imageSide == "imageRight" ? "flexRowReverse" : "")
        .blockImage.flexGrow
          if contentBlock.associatedFiles
            - var i = 0
            each associatedFile in contentBlock.associatedFiles
              if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (i == 0))
                img.pop.imgResponsive(src='http://clientstorage.altitudepm.com.au/' + associatedFile.storeName)
                - i++
        .flexGrow
          .blockContent
            h1.marginBottom!= contentBlock.heading
            h3.fontMain!= contentBlock.subHeading
            .blockText!= contentBlock.pageContent

mixin blockDisplayImage(contentBlock)
  hr
  .contentBlock
    .container
      .blockContent.textCenter
        h1.marginBottom!= contentBlock.heading
        h3.fontMain!= contentBlock.subHeading
        .blockText!= contentBlock.pageContent
      if contentBlock.associatedFiles
        - var i = 0
        each associatedFile in contentBlock.associatedFiles
          if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (i == 0))
            .container
              img.pop.imgResponsive(src='http://clientstorage.altitudepm.com.au/' + associatedFile.storeName)
              - i++

mixin blockBackgroundImage(contentBlock)
  hr
  if contentBlock.associatedFiles
    - var x = 0
    each associatedFile, fileIndex in contentBlock.associatedFiles
      if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
        .contentBlock.blockBackgroundImage(style={"background-image": "url(http://clientstorage.altitudepm.com.au/" + associatedFile.storeName + ")"})
          +blockBackgroundImageContent(contentBlock)
        - x++
      if ((fileIndex == contentBlock.associatedFiles.length - 1) && (x == 0))
        .contentBlock.blockBackgroundImage(style={"background-image": "url(/assets/images/PackageImage.png)"})
          +blockBackgroundImageContent(contentBlock)

mixin blockBackgroundImageContent(contentBlock)
  .container.textCenter
    h1.fontLightDarker!= contentBlock.heading
    h4!= contentBlock.subHeading
    .blockText!= contentBlock.pageContent