mixin FbNewsFeed()
  #fb-root
  script.
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=270508556350366";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  .container
    .row
      .col-sm-6
        h3 News
        .fb-page(data-href="https://www.facebook.com/somerfieldestate/",
          data-tabs="timeline",
          data-small-header="true",
          data-adapt-container-width="true",
          data-hide-cover="false",
          data-show-facepile="true",
          data-width="500")

          blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/somerfieldestate/")
            a(href="https://www.facebook.com/somerfieldestate/") Somerfield Estate - Holmview

      .col-sm-6
        h3 Events
        .fb-page(data-href="https://www.facebook.com/somerfieldestate/",
          data-tabs="events",
          data-small-header="true",
          data-adapt-container-width="true",
          data-hide-cover="false",
          data-show-facepile="true")

          blockquote.fb-xfbml-parse-ignore(cite="https://www.facebook.com/somerfieldestate/")
            a(href="https://www.facebook.com/somerfieldestate/") Somerfield Estate - Holmview