mixin landResults()
  if landResults.landDetails.length > 0
    #landResults.displayFlex.flexWrap
      each landResult in landResults.landDetails
        +landDisplay(landResult)
  else
    div
      | No properties available within your current search criteria.
      a(href="/i/land")  Clear Search


mixin landScroller()
  if landScroller.length > 0
    .containerPadding.container-light
      .container.text-center
        h1.fontLightDarker AVAILABLE PACKAGES
        .displayFlex.flexWrap
          each landResult in landScroller
            +landDisplay(landResult)


mixin landDisplay(landResult)
  .searchResultItem.positionRelative.textUppercase(class=landResult.sold ? "landSold" : (landResult.hold ? "landHold" : ""))
    .backgroundWhite.padfive.smallFont
      .displayFlex.marginBottom
        a.button.backgroundCream.padten.marginRight.displayFlex.flexGrow.flexHorizontalCenter.fontWhite(href="/i/lotDetails/" + landResult._id) Available Packages
        if landResult.sold
          .landStatus.fontWhite.landDetails.fontBold.red
            | Sold
        else if landResult.hold
          .landStatus.fontWhite.landDetails.fontBold.orange
            //span (Stage #{landResult.stage})
            | Hold
        else
          .landStatus.fontWhite.landDetails.fontBold.green
            //span (Stage #{landResult.stage})
            | Available
      .landImage
        - var x = 0
        each associatedFile, fileIndex in landResult.associatedFiles
          if ((associatedFile.fileType == '59c0b28744c464c9c912a9ba') && (x == 0))
            img.imgResponsive(src='http://clientstorage.altitudepm.com.au/' + associatedFile.storeName)
            - x++
          if ((fileIndex == landResult.associatedFiles.length - 1) && (x == 0))
            img.img-responsive(src='/assets/images/LandImage.png')
      .landDetails.displayFlex.backgroundLight
        .landDet.landDetImage.marginRight.displayFlex.flexVerticalMiddle.flexHorizontalCenter.fontBold.padten
          .landPrice $#{landResult.landPrice.toLocaleString('en')}
        .landDet.landDetImage.marginRight.displayFlex.padten.fontBold
          a.fontDarkLighter.fontCaptilize(href="/i/lotDetails/" + landResult._id) #{landResult.landSize}m2
        .fontWhite.backgroundCream.displayFlex.flexVerticalMiddle.flexHorizontalCenter.padten.fontBold.flexGrow
          span.textSpaceRight Lot #{landResult.lotNumber}
          a.fontWhite.fontCaptilize(href="/i/lotDetails/" + landResult._id) (Stage #{landResult.stage})
      .backgroundCream.textCenter.fontWhite
        .sessionHide
          a.button.backgroundCream.padten.displayFlex.flexGrow.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
          "mandrillTemplate: 'somerfield-land', " +
          "land: " + JSON.stringify(landResult) +
          "})")
            | Lot Disclosure
            i.iconPadLeft.fas.fa-download
        .sessionShow
          .displayFlex
            - var f = 0;
            each associatedFile, fileIndex in landResult.associatedFiles
              if ((associatedFile.fileType == '59c050a1074c13c12070aa71') && (f == 0))
                .landDownloadItem.flexGrow
                  a.fontWhite.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="http://clientstorage.altitudepm.com.au/" + associatedFile.storeName, target="_blank")
                    | Download
                    i.fas.fa-download
                  - f++
            .landDownloadItem.flexGrow
              a.fontWhite.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
              "mandrillTemplate: 'somerfield-land', " +
              "land: " + JSON.stringify(landResult) +
              "})")
                | Email
                i.far.fa-envelope


