mixin locationMap()
  #locationMap(style="width: 100%; height: 100%;")

  script.
    // If you're adding a number of markers, you may want to drop them on the map
    // consecutively rather than all at once. This example shows how to use
    // window.setTimeout() to space your markers' animation.

    /*
    var neighborhoods = {
      education: [
        {
          name: 'Canterbury College',
          geo: {lat: -27.70858, lng: 153.1487033} // -27.70858,153.1487033
        },
        {
          name: 'Eden Landing State School',
          geo: {lat: -27.705926, lng: 153.170174} // -27.705926, 153.170174
        }
      ],
      recreation: [
        {
          name: 'Kingston Park Raceway',
          geo: {lat: 52.520, lng: 13.410}
        }
      ]
    };
    */

    var categories = !{JSON.stringify(locationCategories).replace(/<\//g, "<\\/")}
    var neighborhoods = !{JSON.stringify(groupedLocations).replace(/<\//g, "<\\/")}
    var neighborhoodsKeys = Object.keys(neighborhoods);
    // console.log("neighborhoodsKeys: ", neighborhoodsKeys);

    var markers = [];
    var newmap;
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;

    function initMap2() {
      console.log("execute map")
      newmap = new google.maps.Map(document.getElementById('locationMap'), {
        zoom: 12,
        center: {lat: -27.724434, lng: 153.169119},
        optimized: false,
        styles: [
          {
            featureType: "poi",
            stylers: [
              {visibility: "off"}
            ]
          }
        ]
      });
      drop(neighborhoodsKeys[0]);
      drawEstate();
    }


    // Define the LatLng coordinates for the polygon.
    var estateCenter = {lat: -27.724287, lng: 153.168334};
    var estateCoordinates = [
      {lat: -27.725977, lng: 153.166382},
      {lat: -27.722397, lng: 153.167047},
      {lat: -27.722872, lng: 153.170265},
      {lat: -27.725655, lng: 153.169750},
      {lat: -27.725977, lng: 153.166382}
    ];

    function drawEstate() {
      // Construct the polygon.
      var landEstate = new google.maps.Polygon({
        paths: estateCoordinates,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 3,
        fillColor: '#FF0000',
        fillOpacity: 0.35
      });
      landEstate.setMap(newmap);

      infoWindow = new google.maps.InfoWindow;
      infoWindow.setContent('<img src="/assets/images/SomerfieldLogo.png" style="width:100px;"/>');
      infoWindow.setPosition(estateCenter);
      infoWindow.open(newmap);
    }

    function drop(category) {
      labelIndex = 0;
      clearMarkers();
      for (var i = 0; i < neighborhoods[category].length; i++) {
        addMarkerWithTimeout(neighborhoods[category][i], (i + 1) * 600);
      }
    }

    function addMarkerWithTimeout(markerpoint, timeout) {
      window.setTimeout(function () {
        markers.push(new google.maps.Marker({
          position: markerpoint.geo,
          map: newmap,
          title: markerpoint.name,
          label: labels[labelIndex++ % labels.length],
          animation: google.maps.Animation.DROP
        }));
      }, timeout);
    }

    function bounceMarker(markerIndex) {
      markers[markerIndex].setAnimation(google.maps.Animation.BOUNCE);
      setTimeout(function () {
        markers[markerIndex].setAnimation(null);
      }, 1400); // timeout value lets marker bounce twice before deactivating
    }

    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }
  // script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMzHcfavnRoDVV84cRCghWPzYSAOlDunE&libraries=places&callback=initMap", async="", defer="")