mixin buildMenu(thisMenu)
  if thisMenu.parentMenus
    .siteMenu.displayFlex.flexHorizontalCenter.mobileFlexColumn(class="" + thisMenu.menuCssClass + ' ' + thisMenu.menuId)
      each parentMenu in thisMenu.parentMenus
        if parentMenu.useSubMenuLink || parentMenu.subMenus.length > 0
          .fontsmall.fontLighter
            +dropdownMenuItem(parentMenu)
        else
          .fontLighter.fontbig
            +menuItem(parentMenu)

mixin dropdownMenuItem(parentItem)
  .menuItem.showDropdown
    a.parentItem.item.fontbig.fontLighter(href="#") #{parentItem.name}
      i.fontLighter.fas.fa-caret-down.iconPadLeft
    .menuSubItems.dropdownMenu.fontPaper(class="" + parentItem.subMenuCssClass)
      if parentItem.useSubMenuLink && parentItem.subMenuLink
        if parentItem.subMenuCssClass == 'MegaMenu'
          +megaMenu(menus.byId[parentItem.subMenuLink])
        else if parentItem.subMenuCssClass == 'PackageMenu'
          +packageMenu()
        else
          if menus.byId[parentItem.subMenuLink]
            .subMenuItem
              +buildMenu(menus.byId[parentItem.subMenuLink])
      else if parentItem.subMenus.length > 0
        each subMenu in parentItem.subMenus
          .dropitem
            +menuItem(subMenu)
      else
        .menuItem No Item

mixin menuItem(item)
  .menuItem.textUppercase.textBold
    a.item(href="" + item.link) #{item.name}


mixin megaMenu(thisMenu)
  if thisMenu.parentMenus
    .container
      .siteMegaMenu.displayFlex.flexFullWidth.flexSpaceBetween.mobileFlexColumn(class="" + thisMenu.menuCssClass + ' ' + thisMenu.menuId)
        each parentMenu in thisMenu.parentMenus
          .megaMenuColumn
            if parentMenu.useSubMenuLink || parentMenu.subMenus.length > 0
              .megaMenuHeading
                h3 #{parentMenu.name}
              if parentMenu.subMenus.length > 0
                .megaMenuContent
                  each subMenu in parentMenu.subMenus
                    +menuItem(subMenu)
            else
              +menuItem(parentMenu)

mixin packageMenu()
  .displayFlex.flexFullWidth.flexSpaceBetween.container
    .PackageMenuItem
      img.imgResponsive.flexFullHeight(src="/assets/images/displayLand.jpg")
      a.buttonDark.displayFlex.flexHorizontalCenter.flexGrow(href="/i/land") SEARCH LAND
    .PackageMenuItem
      img.imgResponsive.flexFullHeight(src="/assets/images/displayHome.jpg")
      a.buttonDark.displayFlex.flexHorizontalCenter.flexGrow(href="/i/home-land") SEARCH PACKAGES
    .PackageMenuItem
      img.imgResponsive.flexFullHeight(src="/assets/images/displayBuilder.jpg")
      a.buttonDark.displayFlex.flexHorizontalCenter.flexGrow(href="/i/builders") SEARCH BUILDERS





mixin menuScript()
  script.
    function showMobileMainMenu() {
      $('body').toggleClass('showMainMenu')
      return false;
    }

    $(document).ready(function () {
      $('a.parentItem').click(function (e) {
        e.preventDefault();

        console.log("bang!")

        $(this).parent().toggleClass('mobileMenuOpen')
      });
    })