mixin siteMessageHandler()
  #siteMessageHandler
    .siteMessageOuter

  script.
    var pretext = "siteMessage";
    var currentSiteMessages = {};

    function addMessages(itemId, itemContent, autohide) {
      if (!currentSiteMessages[itemId]) {
        currentSiteMessages[itemId] = itemContent;
        var addThisMessage = "<div id='" + pretext + itemId + "' class='siteMessage'>";
        addThisMessage += '<a href="" class="pull-right" onclick="return deleteMessages(' + "'" + itemId + "')" + '">X</a>';
        addThisMessage += "<span>" + itemContent + "</span>";
        addThisMessage += "</div>";
        $(".siteMessageOuter").append(addThisMessage)

        if (autohide) {
          setTimeout(function() {
            removeMessages(itemId)
          }, 5000); // 5000 = 5 seconds
        } else {
          setTimeout(function () {
            removeMessages(itemId)
          }, 10000); // 5000 = 10 seconds
        }
      }
    }

    function deleteMessages(itemId) {
      removeMessages(itemId)
      return false;
    }

    function removeMessages(itemId) {
      if (currentSiteMessages[itemId]) {
        delete currentSiteMessages[itemId];
        $('#' + pretext + itemId).remove()
      }
    }