mixin packageSearch()
  ul.displayFlex.flexWrap
    .asingle.unit(onclick="itemClick('a','single')")
      .unitTitle.textUppercase.textCenter
        h2.fontBold Type A
      .unitInfo.textCenter.fontDark
        i.fas.fa-bed
        span 2
        i.fas.fa-bath
        span 2
        i.fas.fa-car
        span 2
      img.unitImage(src="/assets/images/fp/asingle.png")
      h3.textCenter.fontBlack Stand Alone
      .textCenter.btn.btn-default.btn-small
        a(href="#results").fontLighter Search 6 units
    .aduplex.unit(onclick="itemClick('a','duplex')")
      .unitTitle.textUppercase.textCenter
        h2.fontBold Type A
      .unitInfo.textCenter.fontDark
        i.fas.fa-bed
        span 2
        i.fas.fa-bath
        span 2
        i.fas.fa-car
        span 2
      img.unitImage(src="/assets/images/fp/aduplex.png")
      h3.textCenter.fontBlack Duplex
      .textCenter.btn.btn-default.btn-small
        a(href="#results").fontLighter Search 2 Units
    .bsingle.unit(onclick="itemClick('b','single')")
      .unitTitle.textUppercase.textCenter
        h2.fontBold Type B
      .unitInfo.textCenter.fontDark
        i.fas.fa-bed
        span 2
        i.fas.fa-bath
        span 2
        i.fas.fa-car
        span 2
      img.unitImage(src="/assets/images/fp/bsingle.png")
      h3.textCenter.fontBlack Stand Alone
      .textCenter.btn.btn-default.btn-small
        a(href="#results").fontLighter Search 11 Units
    .bduplex.unit(onclick="itemClick('b','duplex')")
      .unitTitle.textUppercase.textCenter
        h2.fontBold Type B
      .unitInfo.textCenter.fontDark
        i.fas.fa-bed
        span 2
        i.fas.fa-bath
        span 2
        i.fas.fa-car
        span 2
      img.unitImage(src="/assets/images/fp/bduplex.png")
      h3.textCenter.fontBlack Duplex
      .textCenter.btn.btn-default.btn-small
        a(href="#results").fontLighter Search 16 Units

mixin landSearch()
  #refineSearch.mobileShow.displayFlex.flexRow
    a(href='', onclick="return refineSearch()").displayFlex.flexRow
      span.flexGrow REFINE SEARCH
      i.fas.fa-caret-down
      i.fas.fa-times

  - var searchCategories = ['design','duplex']
  - var currentSearch = landResults.lotSearch;
  #searchPanel.mobileHide
    form#landSearch(action="", method="POST")
      +buildSearchCategories(searchCategories, currentSearch)

  +searchScript()


mixin buildSearchCategories(searchCategories, currentSearch)
  - for (i = 0; i < 4; i++)
    .container.marginTen
      img.filter-img(src="/assets/images/displayHome.jpg")
      //img.filter-img(src="/assets/images/displayHome.jpg")
      .displayFlex.backgroundCream
        .padten
          .packageAttribute 152m2
        .displayFlex.flexGrow.padten.fontLightest
          i.fas.fa-bed.padSide
          .packageAttribute.margin10Right 1
          i.fas.fa-bath.padSide
          .packageAttribute.margin10Right 1
          i.fas.fa-car.padSide
          .packageAttribute.margin10Right 1
        .fontLight.flexHorizontalCenter.backgroundDark.flex-end.padten 12 Lots Available

    //whiteBackground
      left
        size
      right
        icons



mixin inlineSelect(searchCategory, currentSearch)
  - var currentSearchCategoryFilters = false;
  - var currentFilterApplied = 'No';

  if (currentSearch[searchCategory])
    - currentSearchCategoryFilters = currentSearch[searchCategory];
    if Array.isArray(currentSearchCategoryFilters)
      if currentSearchCategoryFilters.length > 0
        - currentFilterApplied = 'Array';
      else
        - currentFilterApplied = 'No';
    else
      - currentFilterApplied = 'Item';

  .displayFlex.flexRight
    .filter-group.displayFlex.flexVerticalMiddle(id="select" + searchCategory)
      each selectionOption in searchRanges[searchCategory].items
        if selectionOption.value === null
          // a.filter-item(href="#", class={"active": currentFilterApplied == "No"})
            span #{selectionOption.text}
            input(type="checkbox", name="" + searchCategory, value="")
        else
          case currentFilterApplied
            when 'Array'
              - var inArray = false
              each currentFilter, filterIndex in currentSearchCategoryFilters
                if selectionOption.value == currentFilter
                  - inArray = true

                if (filterIndex == currentSearchCategoryFilters.length -1)
                  a.filter-item(href="#", class={"active": inArray})
                    span #{selectionOption.text}
                    input(type="checkbox", name="" + searchCategory, value="" + selectionOption.value, checked=(inArray ? "checked" : undefined))
            when 'Item'
              a.filter-item(href="#", class={"active": selectionOption.value == currentSearchCategoryFilters})
                span #{selectionOption.text}
                input(type="checkbox", name="" + searchCategory, value="" + selectionOption.value, checked=(selectionOption.value == currentSearchCategoryFilters ? "checked" : undefined))
            default
              a.filter-item(href="#")
                span #{selectionOption.text}
                input(type="checkbox", name="" + searchCategory, value="" + selectionOption.value)



mixin dropdownSelect(searchCategory, currentSearch)
  - var currentSearchCategoryFilters = false;
  - var currentFilterApplied = 'No';

  if (currentSearch[searchCategory])
    - currentSearchCategoryFilters = currentSearch[searchCategory];
    if Array.isArray(currentSearchCategoryFilters)
      if currentSearchCategoryFilters.length > 0
        - currentFilterApplied = 'Array';
      else
        - currentFilterApplied = 'No';
    else
      - currentFilterApplied = 'Item';

  .displayFlex
    select.flexGrow(id="select" + searchCategory, name="" + searchCategory)
      each selectionOption in searchRanges[searchCategory].items
        if selectionOption.value === null
          option(value="", selected=(currentFilterApplied == "No" ? "selected": undefined)) #{selectionOption.text}
        else
          case currentFilterApplied
            when 'Array'
              - var inArray = false
              each currentFilter, filterIndex in currentSearchCategoryFilters
                if selectionOption.value == currentFilter
                  - inArray = true

                if (filterIndex == currentSearchCategoryFilters.length -1)
                  option(value="" + selectionOption.value, selected=(inArray ? "selected": undefined)) #{selectionOption.text}
            when 'Item'
              option(value="" + selectionOption.value, selected=(selectionOption.value == currentSearchCategoryFilters ? "selected": undefined)) #{selectionOption.text}
            default
              option(value="" + selectionOption.value) #{selectionOption.text}


mixin minMaxSelect(searchCategory, currentSearch)
  - var minMaxOptions = ['gte','lte'];
  .displayFlex
    each currentMinMaxOption in minMaxOptions
      - var currentMinMaxItem = currentMinMaxOption;
      - var UrlCode = searchCategory + currentMinMaxItem.charAt(0).toUpperCase() + currentMinMaxItem.slice(1);
      - var filterCode = '$' + currentMinMaxOption;

      - var currentFilter = false;
      if (currentSearch[searchCategory] && currentSearch[searchCategory][filterCode])
        - currentFilter = currentSearch[searchCategory][filterCode];

      select(id="select" + searchCategory, name="" + UrlCode)
        each selectionOption in searchRanges[searchCategory].items
          if selectionOption.value === null
            option(value="", selected=(currentFilter ? "selected": undefined)) #{selectionOption.text}
          else
            if currentFilter
              option(value="" + selectionOption.value, selected=(selectionOption.value == currentFilter ? "selected": undefined)) #{selectionOption.text}
            else
              option(value="" + selectionOption.value) #{selectionOption.text}
