mixin sessionHandler()
  script.
    var currentSession = !{JSON.stringify(session)};

    function actionSession() {
      if (currentSession.enquiry && currentSession.enquiry._id) {
        $('body').addClass('hasSession')
        $('body').removeClass('noSession')
      } else {
        $('body').removeClass('hasSession')
        $('body').addClass('noSession')
      }
    }

    function checkMobile() {
      var current_width = $(window).width();
      console.log('no problem')
      if (current_width <= 805) {
        $('body').addClass("mobile").removeClass("desktop").removeClass("tablet");
      } else if (current_width <= 900) {
        $('body').addClass("tablet").removeClass("desktop").removeClass("mobile");
      } else if (current_width > 900) {
        $('body').addClass("desktop").removeClass("mobile").removeClass("tablet");
      }
    }


    $(document).ready(function () {
      $(function () {
        actionSession();
        checkMobile();
      })

      $(window).resize(function () {
        checkMobile();
      });
    })

    checkMobile()

