mixin headerSlider()
  #headerSlider
    if !pageContent.hideHero || pageContent.hideHero === false
      if pageContent.headerSlider
        if pageHeaderSlider.length > 1
          +displaySlideShow()
        else
          - var x = 0
          each associatedFile, fileIndex in pageHeaderSlider[0].associatedFiles
            if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
              #headerSliderSingle
                +displaySlide(pageHeaderSlider[0].subHeading, pageHeaderSlider[0].pageContent, associatedFile.storeName)
              - x++
      else if pageContent.coverHero
        +displaySingleImage(pageContent)
      else
        if pageContent.associatedFiles
          #headerSingleImage
            - var x = 0
            each associatedFile, fileIndex in pageContent.associatedFiles
              if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
                img.imgResponsive(src="http://clientstorage.altitudepm.com.au/" + associatedFile.storeName)
                - x++

mixin displaySlideShow()
  #headerSliderCarousel
    each pageHeaderSlide in pageHeaderSlider
      - var x = 0
      if pageHeaderSlide.associatedFiles && pageHeaderSlide.associatedFiles.length > 0
        each associatedFile, fileIndex in pageHeaderSlide.associatedFiles
          if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
            +displaySlide(pageHeaderSlide.subHeading, pageHeaderSlide.pageContent, associatedFile.storeName)
            - x++

          if ((fileIndex == pageHeaderSlide.associatedFiles.length - 1) && (x == 0))
            +displaySlide(pageHeaderSlide.subHeading, pageHeaderSlide.pageContent)
      else
        +displaySlide(pageHeaderSlide.subHeading, pageHeaderSlide .pageContent)
    button.sliderButton.sliderButtonLeft(onclick="changeSlide(-1)") &#10094;
    button.sliderButton.sliderButtonRight(onclick="changeSlide(1)") &#10095;
    +sliderScript()


mixin displaySlide(thisSubHeading, thisContent, thisImage)
  .sliderItem
    .sliderBlock.sliderBackgroundImage.popin(style= thisImage ? "background-image: url(http://clientstorage.altitudepm.com.au/" + thisImage + ");" : "")
      .sliderContent.displayFlex.flexHorizontalCenter.flexVerticalMiddle.textCenter.flexFullHeight
        h1.fontLightDarker!= thisSubHeading
        .blockText!= thisContent


mixin displaySingleImage(thisContent)
  if thisContent.associatedFiles
    #headerSliderSingle
      - var x = 0
      each associatedFile, fileIndex in thisContent.associatedFiles
        if ((associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa') && (x == 0))
          .sliderBlock.sliderBackgroundImage(style={"background-image": "url(http://clientstorage.altitudepm.com.au/" + associatedFile.storeName + ")"})
          - x++



mixin sliderScript()
  script.
    var currentSlide = 1;

    var playSlideshow = false;
    function playSlides() {
      clearInterval(playSlideshow);
      playSlideshow = setInterval(function () {
        changeSlide(1);
      }, 5000)
    }

    function pauseSlides() {
      clearInterval(playSlideshow);
      playSlideshow = false;
    }

    $(document).ready(function () {
      transitionSlide(currentSlide);
      playSlides()
    })

    function changeSlide(n) {
      transitionSlide(currentSlide += n);
    }

    function transitionSlide(n) {
      var i;
      var x = $(".sliderItem");
      if (n > x.length) {
        currentSlide = 1
      }
      if (n < 1) {
        currentSlide = x.length
      }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      x[currentSlide - 1].style.display = "block";
    }