mixin footerForm()
  .displayFlex.flexVerticalMiddle.flexHorizontalCenter
    form.contactForm#footerForm
      h4.textCenter.textUppercase Make an Enquiry
      .footerFormBody
        .footerFormIntro.displayFlex.flexHorizontalCenter.padten If you have any questions, please feel free to get in touch.
        .contactInputs.displayFlex.mobileFlexColumn
          .footerFormLeft.flexGrow.displayFlex.flexColumn.padSides
            .formGroup
              label(for='name') Name
              input(type='text', name="name")
            .formGroup
              label(for='email') Email
              input(type='text', name="email")
            .formGroup
              label(for='phone') Phone
              input(type='text', name="phone")
            .formGroup
              label(for='phone') Your Message
              textarea(rows='3', name="message")
            .displayFlex
              button.button.backgroundDark.padten.marginRight.flexGrow.textCenter(type='submit') SUBMIT
      .sendSuccessful
        .sendSuccessfulText Thank you for your enquiry. We will be in touch shortly.
        a(href, onclick="return clearMessageSendSuccessful('#footerForm')") Click here to send another enquiry.

mixin showEnquiryForm()
  #enquiryModal.customModal.modalHidden
    .modalOuter.fontLight
      .modalHeading
        a.pull-right.fontBold.fontLighter(href="", onclick="return closeEnquiryModal()") X
        h4.displayFlex.flexVerticalMiddle.flexHorizontalCenter.modalTitle.fontLighter Enquire Now
      .modalBody
        .modalIntro
        .modalForm
          form.contactForm#enquiryForm
            .contactInputs.padten.margten
              .formGroup
                label(for='name') Name
                input(type='text', name="name")
              .formGroup
                label(for='email') Email
                input(type='text', name="email")
              .formGroup
                label(for='phone') Phone
                input(type='text', name="phone")
              .formGroup
                label(for='phone') Your Message
                textarea(rows='3', name="message")
              .displayFlex.flexHorizontalCenter
                button.btn.btn-small.textCenter.fontLighter(type='submit') SUBMIT
        .modalSendSuccessful
          .sendSuccessfulText
          a(href, onclick="return clearMessageSendSuccessful('#enquiryModal')") Click here to send another enquiry.

  script.
    var additionalFormData = {}

    function closeEnquiryModal() {
      $('body').removeClass('modalOpen');
      additionalFormData = {};

      return false;
    }

    function openEnquiryModal(enquiryData) {
      additionalFormData = enquiryData;
      console.log("Opening: ", additionalFormData);
      populateModal();
      $('body').addClass('modalOpen');
      $('#enquiryModal').removeClass('messageSendSuccessful');

      return false;
    }

    function clearMessageSendSuccessful(currentFormId) {
      $(currentFormId).removeClass('messageSendSuccessful');

      return false;
    }

    $(document).ready(function () {
      $('#enquiryForm').submit(function (e) {
        e.preventDefault();
        var formInputs = $(this).serializeArray();
        processForm(formInputs, '#enquiryModal');
      });

      $('#footerForm').submit(function (e) {
        e.preventDefault();
        var formInputs = $(this).serializeArray();
        processForm(formInputs, '#footerForm');
      });

      populateInputs();


      $(".formGroup input, .formGroup textarea").focus(function () {
        $(this).parent().addClass('activeInput');
      }).blur(function () {
        if ($(this).val().length < 1) {
          $(this).parent().removeClass('activeInput');
        }
      })
    })

    function processForm(formInputs, currentFormContainerId) {
      console.log('form actioned');
      var formData = {};
      for (var i = 0; i < formInputs.length; i++) {
        formData[formInputs[i].name] = formInputs[i].value;

        if (i == formInputs.length - 1) {
          if ((formData.name.length > 2) && validateEmail(formData.email) && (formData.phone.length >= 8)) {
            removeMessages('invalidForm');
            formData.additionalFormData = additionalFormData;
            console.log("formData: ", formData);
            sendMandrill(formData, currentFormContainerId)
          } else {
            addMessages('invalidForm', 'Please ensure you have entered your Name, Email and Phone Number into the enquiry form.');
          }
        }
      }
    }

    // validate email content from form input. Pass the input.val
    function validateEmail(checkThis) {
      var emailReg = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
      var checkEmail = emailReg.test(checkThis);

      if (checkEmail === false) {
        addMessages('invalidEmail', 'You have not entered a valid email');
        return false;
      } else {
        removeMessages('invalidEmail');
        return true;
      }
    }

    function sendMandrill(allData, currentFormContainerId) {
      addMessages('sendMandrill', 'We are currently sending you an email');
      console.log("allData: ", allData);
      request = $.ajax({
        url: '/api/emails/send',
        contentType: 'application/json; charset=utf-8',
        crossBrowser: true,
        type: 'POST',
        data: JSON.stringify(allData)
      });
      request.done(function (msg) {
        console.log("send done report: ", msg);
        currentSession = msg.session
        actionSession();
        removeMessages('sendMandrill');
        $(currentFormContainerId).addClass('messageSendSuccessful');
        addMessages('sendMandrillSuccess', 'Email sent successfully');
      });
      request.fail(function (jqXHR, textStatus) {
        console.log("send fail report: ", textStatus);
        addMessages('sendMandrillFailure', 'Your Email has failed to send. Please try again later, or give us a call.');
      });
    }


    // Populate form inputs with Current Session information
    function populateInputs() {
      if (currentSession.enquiry) {
        $("input[name='name']").each(function () {
          $(this).val(currentSession.enquiry.name)
        })
        $("input[name='email']").each(function () {
          $(this).val(currentSession.enquiry.email)
        })
        $("input[name='phone']").each(function () {
          $(this).val(currentSession.enquiry.phone)
        })

        applyActiveInputs();
      }
    }

    function applyActiveInputs() {
      $('.formGroup input').each(function () {
        if ($(this).val().length > 0) {
          $(this).parent().addClass('activeInput');
        }
      })
    }

    /*
     * Populate Content in the Form Screens
     */
    var templateContent = {
      titleContent: 'Discover Oakland Village',
      introContent: "Please submit your details and we will be in touch.",
      sendSuccessful: "Thank you for your enquiry. We will be in touch shortly."
    }
    var modalContent = templateContent;
    function populateModal() {
      if (additionalFormData.mandrillTemplate == "oakland-package") {
        packageInfo()
      } else if (additionalFormData.mandrillTemplate == "oakland-land") {
        landInfo()
      } else {
        enquiryInfo()
      }
      $('#enquiryModal .modalTitle').html(modalContent.titleContent);
      $('#enquiryModal .modalIntro').html(modalContent.introContent);
      $('#enquiryModal .sendSuccessfulText').html(modalContent.sendSuccessful);
    }

    function enquiryInfo() {
      modalContent = templateContent;
    }

    function packageInfo() {
      modalContent = {
        titleContent: 'Package Enquiry',
        introContent: ""
      }
      modalContent.introContent = "" +
        "<p>" +
        "You're enquiring into package " + additionalFormData.package.house +
        " from " + additionalFormData.package.builder.name +
        " on Lot " + additionalFormData.package.land.lotNumber +
        ".</p>" +
        "<p>" +
        "if you have any other specific queries, please let us know in the message below." +
        "</p>";


      var pdfCount = 0;
      var packagePDFUrl = '';
      var imgCount = 0;
      var packageImage = '';
      for (var i = 0; i < additionalFormData.package.associatedFiles.length; i++) {
        if ((additionalFormData.package.associatedFiles[i].fileType === '59c47ec81e66a3e5ca44a0ec') && (pdfCount == 0)) {
          packagePDFUrl = "http://clientstorage.altitudepm.com.au/" + additionalFormData.package.associatedFiles[i].storeName;
          pdfCount++
        }

        if ((additionalFormData.package.associatedFiles[i].fileType === '59c4903c6fbf80ee889d2039') && (imgCount == 0)) {
          packageImage = "http://clientstorage.altitudepm.com.au/" + additionalFormData.package.associatedFiles[i].storeName;
          imgCount++
        }

        if (i == additionalFormData.package.associatedFiles.length -1) {
          modalContent.sendSuccessful = "<p>Thank you for your enquiry. We will be in touch shortly.</p>";
          modalContent.sendSuccessful += "<p>You can now download the brochure from the following link:</p>";
          modalContent.sendSuccessful += "<p><a href='" + packagePDFUrl + "'>" + packagePDFUrl + "</a></p>";
          modalContent.sendSuccessful += "<p>We have also sent this to you as an email.</p>";
          modalContent.sendSuccessful += "<p>Please get in touch if there's anything else we can help you with.</p>";

          additionalFormData.customEmailContent = "<p><strong>Package Specific Details</strong></p>";
          additionalFormData.customEmailContent += "<p>You have enquired about the following package by " + additionalFormData.package.builder.name + " on Lot " + additionalFormData.package.land.lotNumber + " in Stage " + additionalFormData.package.land.stage + " at Oakland Estate</p>";
          additionalFormData.customEmailContent += "<table style='width:100%; padding: 0; margin: 0;'><tr>";
          additionalFormData.customEmailContent += "<td style='width:50%'><img class='imgResponsive' src='" + packageImage + "'/></td>";
          additionalFormData.customEmailContent += "<td style='width:50%'>";
          additionalFormData.customEmailContent += "<p><strong>Package Details</strong></p>";
          additionalFormData.customEmailContent += "<p>Bedrooms: " + additionalFormData.package.bedrooms + "</p>";
          additionalFormData.customEmailContent += "<p>Bathrooms: " + additionalFormData.package.bathrooms + "</p>";
          additionalFormData.customEmailContent += "<p>Garaged Car Space: " + additionalFormData.package.cars + "</p>";
          additionalFormData.customEmailContent += "<p>House Size: " + additionalFormData.package.houseSize + "m2</p>";
          additionalFormData.customEmailContent += "<p>Package Price: $" + additionalFormData.package.packagePrice.toLocaleString('en') + "</p>";
          additionalFormData.customEmailContent += "<p><strong>Land Details</strong></p>";
          additionalFormData.customEmailContent += "<p>Land Size: " + additionalFormData.package.land.landSize + "m2</p>";
          additionalFormData.customEmailContent += "<p>Land Frontage: " + additionalFormData.package.land.frontage + "m</p>";
          additionalFormData.customEmailContent += "<p>Land Price: $" + additionalFormData.package.land.landPrice.toLocaleString('en') + "</p>";
          additionalFormData.customEmailContent += "</td>";
          additionalFormData.customEmailContent += "</tr></table>";
          additionalFormData.customEmailContent += "<p>You can now download details for this package from the following link:</p>";
          additionalFormData.customEmailContent += "<ul><li><a href='" + packagePDFUrl + "'>" + packagePDFUrl + "</a></li></ul>";
          additionalFormData.customEmailContent += "<p>Additional information available at:</p>";
          additionalFormData.customEmailContent += "<ul>";
          additionalFormData.customEmailContent += "<li><a href='http://oaklandestate.com.au/i/builder/" + additionalFormData.package.builder._id + "'>More House & Land Packages by " + additionalFormData.package.builder.name + "</a></li>";
          additionalFormData.customEmailContent += "<li><a href='http://oaklandestate.com.au/i/lotDetails/" + additionalFormData.package.land._id + "'>Lot Details</a></li>";
          additionalFormData.customEmailContent += "</ul>";
        }
      }

    }

    function landInfo() {
      modalContent = {
        titleContent: 'Land Enquiry',
        introContent: ""
      }
      modalContent.introContent = "" +
        "<p>" +
        "You're enquiring into lot " + additionalFormData.land.lotNumber +
        ".</p>" +
        "<p>" +
        "if you have any other specific queries, please let us know in the message below." +
        "</p>";

      var pdfCount = 0;
      var lotPDFUrl = '';
      var imgCount = 0;
      var lotImage = '';
      if (additionalFormData.land && additionalFormData.land.associatedFiles) {
        for (var i = 0; i < additionalFormData.land.associatedFiles.length; i++) {
          if ((additionalFormData.land.associatedFiles[i].fileType === '59c050a1074c13c12070aa71') && (pdfCount == 0)) {
            lotPDFUrl = "http://clientstorage.altitudepm.com.au/" + additionalFormData.land.associatedFiles[i].storeName;
            pdfCount++
          }

          if ((additionalFormData.land.associatedFiles[i].fileType === '59c0b28744c464c9c912a9ba') && (imgCount == 0)) {
            lotImage = "http://clientstorage.altitudepm.com.au/" + additionalFormData.land.associatedFiles[i].storeName;
            imgCount++
          }

          if (i == additionalFormData.land.associatedFiles.length - 1) {
            modalContent.sendSuccessful =  "<p>Thank you for your enquiry. We will be in touch shortly.</p>";
            modalContent.sendSuccessful += "<p>You can now download the lot disclosure for this lot from the following link:</p>";
            modalContent.sendSuccessful += "<p><a href='" + lotPDFUrl + "'>" + lotPDFUrl + "</a></p>";
            modalContent.sendSuccessful += "<p>We have also sent this to you as an email.</p>";
            modalContent.sendSuccessful += "<p>Please get in touch if there's anything else we can help you with.</p>";

            additionalFormData.customEmailContent =  "<p><strong>Land Specific Details</strong></p>";
            additionalFormData.customEmailContent += "<p>You have enquired about Lot " + additionalFormData.land.lotNumber + " in Stage " + additionalFormData.land.stage + " at Oakland Estate</p>";
            additionalFormData.customEmailContent += "<table style='width:100%; padding: 0; margin: 0;'><tr>";
            additionalFormData.customEmailContent += "<td style='width:50%'><img class='imgResponsive' src='" + lotImage + "'/></td>";
            additionalFormData.customEmailContent += "<td style='width:50%'>";
            additionalFormData.customEmailContent += "<p>Land Size: " + additionalFormData.land.landSize + "m2</p>";
            additionalFormData.customEmailContent += "<p>Land Frontage: " + additionalFormData.land.frontage + "m</p>";
            additionalFormData.customEmailContent += "<p>Land Price: $" + additionalFormData.land.landPrice.toLocaleString('en') + "</p>";
            additionalFormData.customEmailContent += "</td>";
            additionalFormData.customEmailContent += "</tr></table>";
            additionalFormData.customEmailContent += "<p>You can now download the lot disclosure for this lot from the following link:</p>";
            additionalFormData.customEmailContent += "<ul><li><a href='" + lotPDFUrl + "'>" + lotPDFUrl + "</a></li></ul>";
            additionalFormData.customEmailContent += "<p>Additional information available at:</p>";
            additionalFormData.customEmailContent += "<ul>";
            additionalFormData.customEmailContent += "<li><a href='http://oaklandestate.com.au/i/lotDetails/" + additionalFormData.land._id + "'>Lot Details</a></li>";
            additionalFormData.customEmailContent += "<li><a href='http://oaklandestate.com.au/i/home-land/'>House & Land Packages</a></li>";
            additionalFormData.customEmailContent += "<li><a href=' http://oaklandestate.com.au/i/builders/'>Builders</a></li>";
            additionalFormData.customEmailContent += "</ul>";
          }
        }
      }
    }