<div ng-controller="adminFileTypesCtrl">
    <div class="TitleBar">
        <page-title title="'File Types'">
            <a href class="btn btn-primary btn-sm" ng-click="editPage({})">
                <i class="fa fa-plus"></i>
                <span>New File Type</span>
            </a>
        </page-title>
    </div>

    <div class="container">
        <div class="ttable lotList">
            <div class="trow">
                <h2 class="tcell">File Type Name</h2>
                <h2 class="tcell">ID</h2>
                <h2 class="tcell">Action</h2>
            </div>
            <div class="trow" ng-repeat="fileType in fileTypes" >
                <div class="tcell">{{fileType.fileTypeName}}</div>
                <div class="tcell">{{fileType._id}}</div>
                <div class="tcell">
                    <a href ng-click="editPage(fileType)">edit</a>
                    <a href ng-click="deleteFileType(fileType)">delete</a>
                </div>
            </div>
        </div>
    </div>


    <div class="overlayWindow animate-show" ng-hide="hideThis">
        <div class="">
            <a href ng-click="hidePage()">Close</a>
        </div>

        <div class="content container" >
            <div>
                <form name="form">
                    <div class="form-group">
                        <label>File Type</label>
                        <input class="form-control no-border" ng-model="page.fileTypeName">
                    </div>
                    <div>
                        <a href ng-click="saveFileType(page)">Save</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
