.builder-wrap
    each builder in builderResults
        .builder
            each thisOption in searchRanges.builder
                if thisOption.value === null
                    if builder.name
                        if Array.isArray(builder.name)
                            if builder.name.length > 0
                                a.buildername #{builder.name}
                                    input(type="checkbox", name="name", value="" + thisOption.value)

                            else
                                a.buildername.active #{builder.name}
                                    input(type="checkbox", name="bedrooms", value="" + thisOption.value, selected)
                        else
                            a.buildername #{builder.name}
                                input(type="checkbox", name="bedrooms", value="" + thisOption.value)
                    else
                        a.buildername.active #{builder.name}
                            input(type="checkbox", name="bedrooms", value="" + thisOption.value)
                else
                    if Array.isArray(builder.name)
                        - var inArray = false
                        - for (i = 0; i < builder.name.length; i++)
                        if thisOption.value == builder.name[i]
                            - inArray = true

                        if i == builder.name.length - 1
                            if inArray == true
                                a.buildername #{builder.name}
                            else
                                a.buildername.active #{builder.name}
                        else
                            a.buildername #{builder.name}
                    else
                        a.buildername.active #{builder.name}