.flexRow
  .packageText REFINE SEARCH
  i.packageMenuButton.fa.fa-caret-down
  i.packageMenuButton.fa.fa-times

.packageMenu
  form(id="searchFields", action="", method="POST")
    .displayFlex
      .searchHeading Price
      .searchSelection
        select#priceMin(name="priceMin")
          each thisOption in searchRanges.price
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if landResults.lotSearch.price
                if landResults.lotSearch.price.$gte
                  option(value="" + thisOption.value, selected= landResults.lotSearch.price.$gte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
      .searchSelection
        select#priceMax(name="priceMax")
          each thisOption in searchRanges.price
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if landResults.lotSearch.price
                if landResults.lotSearch.price.$lte
                  option(value="" + thisOption.value, selected= landResults.lotSearch.price.$lte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}

    .displayFlex
      .searchHeading Price
      .searchSelection
        select#sizeMin(name="sizeMin")
          each thisOption in searchRanges.landSize
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if landResults.lotSearch.size
                if landResults.lotSearch.size.$gte
                  option(value="" + thisOption.value, selected= landResults.lotSearch.size.$gte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
      .searchSelection
        select#sizeMax(name="sizeMax")
          each thisOption in searchRanges.landSize
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if landResults.lotSearch.size
                if landResults.lotSearch.size.$lte
                  option(value="" + thisOption.value, selected= landResults.lotSearch.size.$lte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}

    .displayFlex
      .searchHeading Lot Width (Frontage)
      .searchSelection
        select#frontageMin(name="frontageMin")
          each thisOption in searchRanges.frontage
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if landResults.lotSearch.frontage
                if landResults.lotSearch.frontage.$gte
                  option(value="" + thisOption.value, selected= landResults.lotSearch.frontage.$gte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
      .searchSelection
        select#frontageMax(name="frontageMax")
          each thisOption in searchRanges.frontage
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if landResults.lotSearch.frontage
                if landResults.lotSearch.frontage.$lte
                  option(value="" + thisOption.value, selected= landResults.lotSearch.frontage.$lte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + value) #{thisOption.text}
    .searchButton
      input.btn-default.btn-sm.btn(type="submit", value="Search")

.packageResults2
  include ./landResults.pug