if landResults.landDetails.length > 0
  #landResults.displayFlex.flexWrap
    each landResult in landResults.landDetails
      .searchResultItem.textUppercase(class=landResult.sold ? "landSold" : (landResult.hold ? "landHold" : ""))
        .landHeader.overlay.fontWhite.displayFlex
          a.flexGrow.fontWhite(href="/i/lotDetails/" + landResult._id) View Available Packages
          .landStatus
            if landResult.sold
              .landStatusSold Sold
            else if landResult.hold
              .landStatusHold Hold
            else
              .landStatusAvailable Available
        .landImage
          img.imgResponsive(src='/assets/images/somerfield/land/images/Lot' + landResult.lotNumber + '.png')
        .landDetails.displayFlex.backgroundLight
          .landPrice.flexGrow $#{landResult.landPrice.toLocaleString('en')}
          .landAttributes.displayFlex
            a.fontDark(href="/i/lotDetails/" + landResult._id) Stage #{landResult.stage}: Lot #{landResult.lotNumber}
        .landDownload.backgroundDark.textCenter.fontLight
          .sessionHide.landDownloadItem
            a.fontLight.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
            "mandrillTemplate: 'somerfield-land', " +
            "land: " + JSON.stringify(landResult) +
            "})")
              | Download Lot Disclosure
              i.fa.fa-download
          .sessionShow
            .landDownloadHeading.textBold.textUnderline Lot Disclosure
            .displayFlex
              - var f = 0;
              each associatedFile, fileIndex in landResult.associatedFiles
                if ((associatedFile.fileType == '59c050a1074c13c12070aa71') && (f == 0))
                  .landDownloadItem.flexGrow
                    a.fontLight.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="http://clientstorage.altitudepm.com.au/" + associatedFile.storeName, target="_blank")
                      | Download
                      i.fa.fa-download
                    - f++
              .landDownloadItem.flexGrow
                a.fontLight.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
                "mandrillTemplate: 'somerfield-land', " +
                "land: " + JSON.stringify(landResult) +
                "})")
                  | Email
                  i.fa.fa-envelope

else
  div
    | No properties available within your current search criteria.
    a(href="/i/land")  Clear Search
