.flexRow
  .packageText REFINE SEARCH
  i.packageMenuButton.fa.fa-caret-down
  i.packageMenuButton.fa.fa-times

.packageMenu
  form(id="packageSearch", action="", method="POST")
    .displayFlex
      .searchHeading Bedrooms
      .filter-group
        each thisOption in searchRanges.bedrooms.items
          if thisOption.value === null
            if packageResults.packageSearch.bedrooms
              if Array.isArray(packageResults.packageSearch.bedrooms)
                if packageResults.packageSearch.bedrooms.length > 0
                  a.filter-item(href="#")
                    span #{thisOption.text}
                    input(type="checkbox", name="bedrooms", value="" + thisOption.value)
                else
                  a.filter-item.active(href="#")
                    span #{thisOption.text}
                    input(type="checkbox", name="bedrooms", value="" + thisOption.value, selected)
              else
                a.filter-item(href="#")
                  span #{thisOption.text}
                  input(type="checkbox", name="bedrooms", value="" + thisOption.value)
            else
              a.filter-item.active(href="#")
                span #{thisOption.text}
                input(type="checkbox", name="bedrooms", value="" + thisOption.value, selected)
          else
            if packageResults.packageSearch.bedrooms
              if Array.isArray(packageResults.packageSearch.bedrooms)
                - var inArray = false
                - for (i = 0; i < packageResults.packageSearch.bedrooms.length; i++)
                  if thisOption.value == packageResults.packageSearch.bedrooms[i]
                    - inArray = true

                  if i == packageResults.packageSearch.bedrooms.length -1
                    if inArray == true
                      a.filter-item.active(href="#")
                        span #{thisOption.text}
                        input(type="checkbox", name="bedrooms", value="" + thisOption.value, selected)
                    else
                      a.filter-item(href="#")
                        span #{thisOption.text}
                        input(type="checkbox", name="bedrooms", value="" + thisOption.value)
              else if packageResults.packageSearch.bedrooms == thisOption.value
                a.filter-item.active(href="#")
                  span #{thisOption.text}
                  input(type="checkbox", name="bedrooms", value="" + thisOption.value, selected)
              else
                a.filter-item(href="#")
                  span #{thisOption.text}
                  input(type="checkbox", name="bedrooms", value="" + thisOption.value)
            else
              a.filter-item(href="#")
                span #{thisOption.text}
                input(type="checkbox", name="bedrooms", value="" + thisOption.value)
    .displayFlex
      .searchHeading Bathrooms
      .filter-group
        a.filter-item(href="#")
          span 1
          input(type="checkbox", name="bathrooms", value="1")
        a.filter-item(href="#")
          span 2
          input(type="checkbox", name="bathrooms", value="2")
        a.filter-item(href="#")
          span 3
          input(type="checkbox", name="bathrooms", value="3")
    .displayFlex
      .searchHeading Cars (Garaged)
      .filter-group
        a.filter-item(href="#")
          span 1
          input(type="checkbox", name="cars", value="1")
        a.filter-item(href="#")
          span 2
          input(type="checkbox", name="cars", value="2")
    .displayFlex
      .searchHeading Home Levels
      .filter-group
        a.filter-item(href="#")
          span 1
          input(type="checkbox", name="houseLevels", value="1")
        a.filter-item(href="#")
          span 2
          input(type="checkbox", name="houseLevels", value="2")
    .displayFlex
      .searchHeading Builder
      .searchSelection
        select#builder(name="builder")
          each thisOption in searchRanges.builders.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.builder
                option(value="" + thisOption.value, selected= packageResults.packageSearch.builder == thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}

    .displayFlex
      .searchHeading Package Price
      .searchSelection
        select#packagePriceMin(name="packagePriceMin")
          each thisOption in searchRanges.price.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.price
                if packageResults.packageSearch.price.$gte
                  option(value="" + thisOption.value, selected= packageResults.packageSearch.price.$gte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
      .searchSelection
        select#packagePriceMax(name="packagePriceMax")
          each thisOption in searchRanges.price.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.packagePrice
                if packageResults.packageSearch.packagePrice.$lte
                  option(value="" + thisOption.value, selected= packageResults.packageSearch.packagePrice.$lte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}

    .displayFlex
      .searchHeading Land Size
      .searchSelection
        select#sizeMin(name="sizeMin")
          each thisOption in searchRanges.landSize.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.size
                if packageResults.packageSearch.size.$gte
                  option(value="" + thisOption.value, selected= packageResults.packageSearch.size.$gte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
      .searchSelection
        select#sizeMax(name="sizeMax")
          each thisOption in searchRanges.landSize.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.size
                if packageResults.packageSearch.size.$lte
                  option(value="" + thisOption.value, selected= packageResults.packageSearch.size.$lte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}

    .displayFlex
      .searchHeading House Size
      .searchSelection
        select#houseSizeMin(name="houseSizeMin")
          each thisOption in searchRanges.houseSize.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.houseSize
                if packageResults.packageSearch.houseSize.$gte
                  option(value="" + thisOption.value, selected= packageResults.packageSearch.houseSize.$gte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
      .searchSelection
        select#houseSizeMax(name="houseSizeMax")
          each thisOption in searchRanges.houseSize.items
            if thisOption.value === null
              option(value="") #{thisOption.text}
            else
              if packageResults.packageSearch.houseSize
                if packageResults.packageSearch.houseSize.$lte
                  option(value="" + thisOption.value, selected= packageResults.packageSearch.houseSize.$lte == thisOption.value) #{thisOption.text}
                else
                  option(value="" + thisOption.value) #{thisOption.text}
              else
                option(value="" + thisOption.value) #{thisOption.text}
    .searchButton
      input.btn-default.btn-sm.btn(type="submit", value="Search")
