if packageResults.packageDetails.length > 0
  #packageResults.displayFlex.flexWrap
    each packageResult in packageResults.packageDetails
      .searchResultItem.textUppercase
        .packageHeader.overlay.fontWhite.displayFlex
          a.flexGrow.fontWhite(href="/i/builder/" + packageResult.builder._id)!= packageResult.builder.name
          a.fontWhite(href="/i/lotDetails/" + packageResult.land._id)  Lot #{packageResult.land.lotNumber}
        .packageImage
          - var x = 0
          each associatedFile, fileIndex in packageResult.associatedFiles
            if ((associatedFile.fileType == '59c4903c6fbf80ee889d2039') && (x == 0))
              img.imgResponsive(src='http://clientstorage.altitudepm.com.au/' + associatedFile.storeName)
              - x++
            if ((fileIndex == packageResult.associatedFiles.length -1) && (x == 0))
              img.img-responsive(src='/assets/images/PackageImage.png')
        .packageDetails.displayFlex.backgroundLight
          .packagePrice.flexGrow $#{packageResult.packagePrice.toLocaleString('en')}
          .packageAttributes.displayFlex
            .packageAttribute
              i.fa.fa-bed
            .packageAttribute!= packageResult.bedrooms
            .packageAttribute
              i.fa.fa-bath
            .packageAttribute!= packageResult.bathrooms
            .packageAttribute
              i.fa.fa-car
            .packageAttribute!= packageResult.cars
        .packageDownload.backgroundDark.textCenter.fontLight
          .sessionHide.packageDownloadItem
            a.fontLight.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
            "mandrillTemplate: 'somerfield-package', " +
            "package: " + JSON.stringify(packageResult)  +
            "})")
              | Download Brochure
              i.fa.fa-download
          .sessionShow
            .packageDownloadHeading.textBold.textUnderline Brochure
            .displayFlex
              - var f = 0;
              each associatedFile, fileIndex in packageResult.associatedFiles
                if ((associatedFile.fileType == '59c47ec81e66a3e5ca44a0ec') && (f == 0))
                  .packageDownloadItem.flexGrow
                    a.fontLight.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="http://clientstorage.altitudepm.com.au/" + associatedFile.storeName, target="_blank")
                      | Download
                      i.fa.fa-download
                    - f++
              .packageDownloadItem.flexGrow
                a.fontLight.displayFlex.flexFullHeight.flexVerticalMiddle.flexHorizontalCenter(href="", onclick="return openEnquiryModal({" +
                "mandrillTemplate: 'somerfield-package', " +
                "package: " + JSON.stringify(packageResult) +
                "})")
                  | Email
                  i.fa.fa-envelope


else
  div
    | No properties available within your current search criteria.
    a(href="/i/home-land")  Search All Lots