#siteAdmin .navbar-brand {
    line-height: 50px;
}

#siteAdmin .pageContent {
    margin-top: 50px;
}


.bg-light.lter,
.bg-light .lter {
    background-color: #f6f8f8;
}
.b-b {
    border-bottom: 1px solid #dee5e7;
}
.wrapper-md {
    padding: 20px;
}
.font-thin {
    font-weight: 300 !important;
}
.m-n {
    margin: 0 !important;
}

body.ng-scope {
    padding-top: 0;
}

body.ng-scope .TitleBar .wrapper-md {
    padding: 2px;
}

body.ng-scope .navbar-inverse .navbar-nav > li > a,
body.ng-scope a.navbar-brand {
    text-decoration: none;
    color: #ffffff;
}

body.ng-scope .navbar-inverse .navbar-nav > li > a:hover,
body.ng-scope a.navbar-brand:hover,
body.ng-scope .navbar-default .navbar-nav > .active > a,
body.ng-scope .dropdown-menu > li > a:hover {
    background-color: #a8183b;
}

body.ng-scope .dropdown-menu,
body.ng-scope .dropdown-menu > li > a {
    background-color: #d6345c;
    color: #ffffff;
    text-decoration: none;
}

body.ng-scope .btn.btn-primary,
body.ng-scope #gpcHead {
    background-color: #d21e4a;
    border-color: #a8183b;
}

body.ng-scope .adminContent {
    padding: 10px;
    font-size: 12px;
}

body.ng-scope .adminContent .ttable {

}

body.ng-scope .adminContent .ttable h2 {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Helvetica';
    -webkit-font-smoothing: antialiased;
    margin-top: 0;
    margin-bottom: 0;
}

body.ng-scope .adminContent .ttable .tcell {
    padding: 4px;
}

body.ng-scope .adminContent .ttable .trow:nth-child(odd) {
    background-color: #eee;
}

body.ng-scope .adminContent .ttable .trow:first-child {
    background-color: #d6345c;
    color: #ffffff;
}

body.ng-scope .adminContent .ttable.hoverRows .trow:hover {
    background-color: #e6e6e6;
}

body.ng-scope .adminContent .ttable.hoverRows .trow:first-child:hover {
    background-color: #d6345c;
}

body.ng-scope .adminContent .ttable .trow .tcell:last-child {
    text-align: right;
}

.ttable {
    display: table;
    width: 100%;
}

.trow {
    display: table-row;
}
.tcell {
    display: table-cell;
}

.adminContentTable {
    position: absolute;
    height: 80%;
}


body.ng-scope .adminContent input {
    background: rgba(0,0,0,0.02);
    padding:1em;
    border: none;
    height: 100%;
}


.leftMenu {
    width: 200px;
    border-right: 1px solid #eee;
}
.leftMenu .menuItem {
    padding: 15px 5px;
    border-bottom: 1px solid #eee;
}

.rightside .content {
    padding: 25px;
}

.uploadImageArea {
    line-height: 150px;
}

.uploadArea {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
}


.imageDisplay .imageList {
    display: inline-block;
    vertical-align: top;
}

.staffContent.sectionContent {

}

.overlayWindow {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lotList .form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid rgb(230, 230, 230);
    background-color: transparent;
    margin-bottom: 2px;
    border-radius: unset;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.wysiwygModal {

}

.wysiwygModal form {
    height: 100%;
    position: relative;
}

.wysiwygModal .modal-dialog {
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    width: 80%;
}

.wysiwygModal .modal-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wysiwygModal .modal-header {
    position: absolute;
    width: 100%;
}

.wysiwygModal .modal-body {
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    top: 56px;
    width: 100%;
}

.wysiwygModal .modal-body-wrapper {
    margin-bottom: 120px;
}

.wysiwygModal .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.wysiwygModal .selectedImage {
    background-color: #e6e6e6
}

.pageFileInsertModal {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageFileInsertModal .modalOuter {
    background-color: #ffffff;
    width: 80%;
    height: 80%;
}

.pageFileInsertModal .modalBody {
    overflow-y: scroll;
}

.pageFileInsertModal .modalBody .modalBodyInner {
    display: flex;
    align-items: center;
    justify-content: center;
    /* You can set flex-wrap and
       flex-direction individually */
    flex-direction: row;
    flex-wrap: wrap;
    /* Or do it all in one line
      with flex flow */
    flex-flow: row wrap;
    /* tweak where items line
       up on the row
       valid values are: flex-start,
       flex-end, space-between,
       space-around, stretch */
    align-content: flex-end;
}

.flexRows {
    flex-direction: column;
}

.flexGrow {
    flex: 1;
}

.pageFileInsertModal .modal-body {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}


.hoverRows .trow:hover {
    background-color: #e6e6e6;
}



.landController input.form-control {
    padding-left: 0;
}

.googleUpdateAvailableTop .tcell {
    border-top: solid 1px #000;
}
.googleUpdateAvailableBottom {
    background-color: #eee;
    line-height: 30px;
}

.googleUpdateAvailableBottom .tcell {
    border-bottom: solid 1px #000;
}
.googleUpdateAvailableBottom .tcell:first-child,
.googleUpdateAvailableTop .tcell:first-child {
    border-left: solid 1px #000;
}
.googleUpdateAvailableTop .tcell:last-child,
.googleUpdateAvailableBottom .tcell:last-child {
    border-right: solid 1px #000;
}
