.navbar-default {
    background-color: #e9e0d2;
}

.headerRow2 {
    background-color: #fff;
}

#siteNavBar ul.nav li.active,
#siteNavBar ul.nav a:hover,
.dropdown-menu,
.headerForm button,
.contactForm button,
#homepageContainer .newsItem,
form#searchFields input[type="submit"],
form#packageSearch input[type="submit"],
.icon-bg {
    background-color: #e9e0d2;
}

#siteNavBar ul.nav a,
.headerForm h2 {
    color: #3c3c3c;
}
.cleanSelect{
    border-radius: none;
}
#siteNavBar ul.dropdown-menu a:hover,
.dropdown-menu>.active>a {
    background-color: #d0c0a7;
}


#homepageContainer .newsItem {
    color: #fff !important;
}

@media screen and (max-width: 767px) {
    #siteNav a,
    #siteNav.collapsing, #siteNav.collapse.in {
        background-color: #d0c0a7 !important;
    }
}

input::placeholder {
    color: #b59c75 !important;
    opacity: 1;
}

.contactInputs input {
    width: 100%;
    font-size: 14px;
    height: 3.5em;
    line-height: 12px;
}

.contactInputs input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
