/* PUT ALL YOUR CSS CHANGES IN HERE, THEN WE CAN MIGRATE THEM TOGETHER LATER */

/* NAVIGATION BAR, HAMBURGER ANIMATION  */

body{
    --lighter: #EEF8B4;
    --light: #C7D579;
    --main: #9eae47;
    --dark: #7D8C26;
    --darker: #55620A;
    --paper: #F4F4F4;
    --char: #373737;
}

.wrapper-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}
.wrapper-menu.open {
    transform: rotate(-45deg);
}
.line-menu {
    background-color: #EEF8B4;
    border-radius: 1px;
    width: 100%;
    height: 4px;
}
.line-menu.half {
    width: 50%;
}
.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}
.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}
.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}
.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

.backgroundWhite {
    background-color: #fff;
}
.megamenu{
    padding: 0 0 50px 0;
    border-top: 1px solid #9eae47;
}
input{
    border: none;
}
a:hover{
    text-decoration: none;
}
div #searchPanel{
 margin: 10px;
}
.padten{
padding: 10px;
}

#refineSearch{
    padding: 20px;
}
.blockSideImage .flexRowReverse .blockContent .contentBlockLand{
    text-align: center;
    margin: 100px 0;
}#siteMessageHandler{
    background: #fff;
    text-transform: uppercase;
    color: #9eae47
}
.modalTitle{
    text-transform: uppercase;
    font-size: 24px;
    margin: 10px 0 0 0;
    padding: 10px 0;
}
.fileItem, .folderItem{
    padding: 15px;
    margin: 3px;
    background-color: #fff;
}
.fileItem a, .folderItem a{
    color: #9eae47;
}.mobile #siteFooter{
    padding: 0 20px 20px 20px;
}
#siteMessageHandler .siteMessage {
    padding: 10px;
}ul{padding-left: 0;}

.medium .searchResultItem {
    width: calc(100% * (1 / 2) - 10px - 6px);
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.landStatus{
    padding: 5px;
    letter-spacing: 1px;
}.flexGrow{
    flex-grow: 1;
}
.fontCaptilize{
    text-transform: capitalize;
}
.textSpaceRight{
    padding-right: 5px;
}
.button{
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    border: none;
    color: white;
    background: #9eae47;
    font-size: 11px;
    cursor: pointer;
}

.fontBold{
    font-weight: bold;
}
.padfive{
    padding: 5px;
}.marginRight{
    margin-right: 5px;
}.marginBottom{
    margin-bottom: 5px;
}.smallFont{
    font-size: 11px;
}.landDetImage{
    background-image: url("/assets/images/tile.png");
}.landDet{
    height: auto;
}.button:hover{
    background: #ced7ac;
    transition: 0.5s;
}.padsides{
    padding: 0 20px;
}
.marginTen{
    margin: 10px;
}
.modalIntro{
    padding:  0 0 25px 0;
    color: var(--lighter);
    text-align: center;
    font-size: 16px;
}.backgroundGray{
    background-color: #eee;
}.pad20{
    padding: 20px;
}.buttonMargin{
    margin: 10px;
    padding: 10px 20px;
}
.buttonLight{border-bottom: #aa936e;}
.buttonLighter{border-bottom: #ddd0bb;}
.buttonDark{border-bottom: #1a1a1a;}

.items{
    margin: 20px;
    width: calc(100%/3);
}.clip{
     clip: rect(0px,280px,180px,0px);
}

.backgroundCream{
    background: #5B5B5B;
}

.fontWhite{
    color: #fff;
}
.fontBlack{
    color: #333;
}
.phoneSection1, .phoneSection2{
    display: inline-block;
}
#headingPhoneButton a{
    margin-left: 15px;
    font-size: 16px;
    text-transform: uppercase;
}
.phoneSection1{
    font-size: 38px;
    font-weight: bold;
    padding-right: 5px;
}
.phoneLine2{
    line-height: 8px;
    letter-spacing: 1px;
    font-weight: bold;
}.enquire{
    background: #444;
    border: 2px solid #444;
    font-size: 16px;
    height: 60px;
    margin: 10px;
    color: #ffffff;
}
.enquire:hover{
    background: #9eae47;
    border: 2px solid #9eae47;
    color: white;
    transition: 0.3s;
}
.marketer{
    width: 150px;
}
.navbar-mobile, .navbar-desktop{
    width: 100%;
    z-index: 1;
    background: #9FAE47;
    display: flex;
    position: fixed;
    align-items: center;
    border-bottom: 3px solid rgba(199,213,121,0.5);
}
.margin20{
    margin: 20px;
}
ul .item, ul .dropItem{
    margin: 0 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--lighter);
    background: var(--main);
    font-size: 12px;
    transition: 0.3s;
}
.mobile .dropItem{
    background: transparent;
}
ul .item:hover{
    opacity: 0.7;
    
}
.navbar-mobile img, .navbar-desktop img{
    max-height: 100px;
    max-width: 100px;
    padding: 11px
}
.navbar-section{
    flex: 1;
}
.navbar-mobile .btn, .navbar-desktop .btn{
    text-align: right;
}
.btn{
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    border: none;
    font-family: 'Brandon Grotesque', 'Helvetica';
    cursor: pointer;
    outline: none;
}
.btn-small{
    padding: 10px 20px;
    margin: 10px;
}
.btn-mini{
    padding: 10px;
    margin: 5px 5px 0 0;
    font-size: 13px;
    
}
.btn-large{
    padding: 20px 30px;
    margin: 10px;
}
.btn-light{
    background: #EEF8B4;
    color: #55620A;
}
.btn:hover{
    outline: 2px solid;
    outline-offset: 2px;
}
.btn-light:hover{
    background: #C7D579;
    outline-color: #C7D579;
}
.btn-default{
    background: #9eae47;
    color: #EEF8B4;
}
.btn-default:hover{
    background: #C7D579;
    outline-color: #C7D579;
}

.displayFlex{
    display: flex;
}
.flexEnd{
    justify-content: flex-end;
}
.btn-light-border{
    padding: 5px;
    border: 1px solid green;
}
.navbar-icon-bars{
    width: 30px;
    height: 3px;
    margin: 7px 0;
    background: #C7D579;
}
.mobile .navbar-desktop, .tablet .navbar-desktop, .desktop .navbar-mobile{
    display: none;
}
#siteNavigation{
    margin-top: 80px;
    background: #C7D579;
}
.fontDarkest{
    color: #55620A;
}
.desktop #siteNavigation, .tablet #siteNavigation{
    display: none;
}
.font-thin{
    font-weight: lighter;
}
.margin-none{
    margin: 0;
}
.containerPadding p{
    padding: 0 20px;
}
.backgroundCream{
    background: #F8F6E8;
}
.margin10right{
    margin-right: 10px;
}
.padSide{
    padding: 0 8px
}
#packageSearch .unitActive #unit{
    height: 300px;
}
.filter-img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.unit-image{
    height: 150px;
    object-fit: cover;
    width: auto;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-35%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}
.text{
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.dropItem:hover .dropdownMenu,.dropItem.dropdownMenu:hover{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 50px;
    flex-wrap: wrap;
}
.contentImage{
    object-fit: cover;
}
.img-icon{
    height: 40px;
    width:auto;
    margin: 10px;
}
.menu-icon{
    color: #EEF8B4;
    font-size: 32px;
}
.overflow{
    overflow: auto;
}
.bgPaper{
    background-color: var(--paper);
}

.backgroundGreen{
    background: #B4C597;
}

/**Doprdown**/

.float-right {
    float: right;
}

.fa {
    font-size: .8em;
    line-height: 22px !important;
}

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome and Safari */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
}

/* Acordian styles */
.tab {
    position: relative;
    width: 100%;
    color: var(--lighter);
    overflow: hidden;
}
.jacordian input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.faq{
    position: relative;
    padding: 0 0 0 1em;
    margin-top: 5px;
    margin-bottom: 0;
    background: var(--light);
    font-weight: bold;
    line-height: 3;
}
.jacordian label{
    cursor: pointer;
}
.blue label, .blue i{
    background: var(--light);
}
.tab-content {
    max-height: 0;
    overflow: hidden;
    background: var(--paper);
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height 0.35s;
    border-bottom: 3px solid var(--light);
}
.tab-content p {
    margin: 1em;
}
/* :checked */
.jacordian input:checked ~ .tab-content {
    max-height: 100%;
    transition: max-height 1s ease-in;
}
.scroll{
    margin-top: 80px;
}
.accord{
    background: var(--light);
    color: var(--dark);
}
.mobile .dropItem{
    padding: 0;
}
.dropitem{
    min-width: 140px;
    width: 100%;
    text-align: center;
    padding: 20px 0 10px 0;
}
.fixedtopleft{
    margin: 10px;
}
.btn-mini:hover{
    opacity: 0.5;
    cursor: pointer;
}

button, input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
#footerForm{
    max-width: 700px;
    width: 100%;
    width: auto;
}
.mobile #HLContainer{
    flex-direction: column-reverse;
}
.unitInfo span{
    padding: 0 13px 0 5px;
    color: var(--darker);
}

.details{
    max-width: 200px;
    width: 100%;
}
.imgSize{
    max-width: 980px;
    width: 100%;
    height: auto;
}
.bottomBorder{
    padding-bottom: 10px;
    border-bottom: 2px solid #888;
}
.font20{
    font-size: 20px;
}
.margin50{
    margin: 50px
}
.padCenter{
    padding: 1em;
}
.mobile .fontbig{
    font-size: 20px;
}
.mobile .fontsmall{
    font-size: 16px;
    color: var(--lighter);
}
.mobile #siteNavigation .item,.mobile #siteNavigation .dropItem{
    display: block;
    text-align: center;
}
.unit{
    width: calc(100%/4 - 20px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    margin: 20px 10px;
}
.mobile .unit{
    max-width: 100%;
    width: 100%;
}
.unitInfo{
    font-size: 18px;
    font-weight: bold;
}
.unitImage{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.desktop #results{
    max-width: 980px;
    width: 100%;
}
.mobile #results{
    margin: 0 10px;
}
.result{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 10px;
}
.desktop .result{
    max-width: calc(100%/4 - 20px);
    width: 100%;
}
.mobile .result{
    max-width: 980px;
    width: 100%;
}
.flexWrap{
    flex-wrap: wrap;
}
.map{
    background-color: var(--main);
}

hr{
    border: 0;
    border-top: 1px solid var(--main);
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.planType{
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    margin: 20px;
}
.desktop .planType{
    max-width: calc(100% / 2 - 80px);
    width: 100%;
}
.mobile .planType{
    max-width: calc(100% / 1 - 40px);
    width: 100%;
}
.planType li{
    margin: 5px 0;
}

.st0{fill:#ADBC7E;}
.st1{fill:#C4C4C4;}
.st2{fill:#D2D2D1;}
.st3{fill:#E5E5E5;}
.st4{fill:#A0DCED;}
.st5{fill:#97CD75;}
.st6{fill:none;stroke:#FCFCFC;stroke-miterlimit:10;}
.st7{fill:#4D4D4E;}
.st8{fill:#D2D3D1;}
.st9{fill:#A2DCED;}
.st10{fill:#98CD75;}
.st11{fill:none;stroke:#FDFEFF;stroke-miterlimit:10;}
.st12{fill:#78AD5F;}
.st13{fill:#F9F9FA;}
.st14{fill:#D8D8D8;}
.st15{fill:#B4C597;}
.st16{fill:none;}
.st17{font-family:'Brandon Grotesque'; font-weight: bold}
.st18{font-size:12px;}
rect{fill:none;}

.pop{
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
.popin{
    box-shadow: inset 0 -20px 50px rgba(0,0,0,0.2);
}
.middle-image{
    margin: auto 0;
}
.thirds{
    max-width: calc(100%/3);
    width: 100%;
}
.imgStamp{
    width: auto;
    height: 200px;
}
.desktop .btn-top{
    margin: 10px 10px 0 10px;
}
.desktop .btn-bottom{
    margin: 0 10px 10px 10px;
}
