

.seperate{
    stroke: red;
    stroke-width: 3px;
}
.unitInfo{
    padding: 2px 10px 20px 10px;
}
.unit{
    color: var(--main);
}
.result:hover{
    cursor: pointer;
}
.whole{
    border: 1px solid #eee;
}
.highlight{
    stroke-width: 2px;
    stroke: #444;
    fill: #eee;
    stroke-dasharray: 10;
    animation: dash 1200ms infinite;
}

ul, ol{
    padding: 0;
    margin: 0;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 20;
    }
    100% {
        stroke-dashoffset:-40;
    }
}

#info, .info{
    margin: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    padding: 20px;
    background: var(--paper);
    color: var(--darker);
}
.mobile #search{
    width: 100%;
}

.center{
    margin: auto;
}
