/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
input:focus, textarea:focus, button:focus{ outline: none }
/* End extract */


/**
 * FLEXBOX ATTRIBUTES
 */
.displayFlex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.flexColumnReverse {
    flex-direction: row-reverse;
}

.flexRow {
    flex-direction: row;
}

.flexRowReverse {
    flex-direction: row-reverse;
}


.flexFullHeight {
    top: 0;
    bottom: 0;
    height: 100%;
}

.flexFullWidth {
    left: 0;
    right: 0;
    width: 100%;
}

.flexGrow {
    flex: 1;
}

.flexVerticalMiddle {
    align-items: center;
}

.flexHorizontalCenter {
    justify-content: center;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexLeft {
    justify-content: flex-start;
}

.flexRight {
    justify-content: flex-end;
}

.noScroll {
    overflow: hidden;
}

.scroll {
    overflow: auto;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.positionRelative {
    position: relative;
}

.overflowHidden {
    overflow: hidden;
}

/**
 * end FLEXBOX ATTRIBUTES
 */


/**
 * SITE STYLES
 */

body,
.siteFont {
    font-family: 'Brandon Grotesque', 'Helvetica';
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 1.42857143;
}

body {
    padding-top: 0;
    margin: 0;
}



a {
    text-decoration: none;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    box-sizing: border-box;
}

.imgResponsive {
    width: 100%;
    height: auto;
}

.textUppercase {
    text-transform: uppercase;
}

.textBold {
    font-weight: bold;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.textUnderline {
    text-decoration: underline;
}

.container {
    max-width: 980px;
    width: 100%;
    margin: 50px auto;
}

.mobile .container {
    width: 100%;
}

.containerBorder {
    border: 1px solid #dee5e7;
}

.containerPadding {
    padding: 90px 0;
}

.padSides {
    padding-left: 10px;
    padding-right: 10px;
}

.iconPadRight {
    padding-right: 5px;
}

.iconPadLeft {
    padding-left: 5px;
}
.container-light{
    background: #F8F6E8;
}

/**
 * END SITE STYLES
 */





/**
 * CUSTOMISE - SITE COLOURS
 */

.backgroundLight {
    background-color: var(--light);
}

.backgroundLightDarker {
    background-color: #ced7ac;
}

.backgroundDark {
    background-color: #9eae47;
}

a:hover {
    text-decoration: underline;
}

.fontDarker,
.fontDarker a,
.fontDarker a:hover,
a.fontDarker,
a.fontDarker:hover {
    color: var(--darker);
}

.fontDark,
.fontDark a,
.fontDark a:hover,
a.fontDark,
a.fontDark:hover {
    color: var(--dark);
}

.fontMain,
.fontMain a,
.fontMain a:hover,
a.fontMain,
a.fontMain:hover {
    color: var(--main);
}

.fontLight,
.fontLight a,
.fontLight a:hover,
a.fontLight,
a.fontLight:hover {
    color: var(--light);
}

.fontLighter,
.fontLighter a,
.fontLighter a:hover,
a.fontLighter,
a.fontLighter:hover {
    color: var(--lighter);
}

.fontWhite,
.fontWhite a,
.fontWhite a:hover,
a.fontWhite,
a.fontWhite:hover {
    color: #ffffff;
}

.fontMain {
    color: var(--main);
}
.fontPaper{
    color: var(--paper);
}


h1, h2, h3 {
    text-transform: uppercase;
}


/**
 * END CUSTOMISE - SITE COLOURS
 */



/**
 * MENU HANDLER
*/
.tablet #siteNavigation, .mobile #siteNavigation {
    display: none;
    
}

.tablet.showMainMenu #siteNavigation, .mobile.showMainMenu #siteNavigation {
    display: block;
    overflow: scroll;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.showDropdown {
    position: relative;
}

.showDropdown .dropdownMenu {
    display: none;
    position: fixed;
    top: 50px;
    z-index: 200;
}

.mobile .showDropdown .dropdownMenu {
    position: relative;
    top: auto;
    z-index: inherit;
}

body:not(.mobile) .showDropdown:hover .dropdownMenu {
    display: block;
}

body.mobile .showDropdown.mobileMenuOpen .dropdownMenu {
    display: block;
}

.showDropdown .MegaMenu,.showDropdown .PackageMenu{
    left: 0;
    right: 0;
}

.siteMegaMenu .megaMenuHeading {
    height: 25px;
}

.menuSubItems .showDropdown {
    display: block;
}

.menuSubItems .showDropdown .dropdownMenu {
    position: inherit;
    top: unset;
}
.tablet .siteMenu .flexHorizontalCenter, .mobile .siteMenu .flexHorizontalCenter {
    justify-content: left;
}

#siteHeader #siteNavigation,
#siteHeader #siteNavigation .mainMenu {
    height: 40px;
}

.tablet #siteHeader #siteNavigation, .mobile #siteHeader #siteNavigation {
    position: static;
    background-color: #ffffff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

.tablet #siteHeader #siteNavigation .mainMenu, .mobile #siteHeader #siteNavigation .mainMenu {
    height: auto;
}

#siteHeader #siteNavigation .mainMenu .menuItem {
    line-height: 40px;
    padding: 0 10px;
}


#siteHeader #siteNavigation,
#siteHeader #siteNavigation .mainMenu {
    height: 100px;
}

.tablet #siteHeader #siteNavigation, .mobile #siteHeader #siteNavigation {
    position: static;
    background-color: #ffffff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 100;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}


/**
 * END MENU HANDLER
 */




/**
 * SITE HEADER
 */
#siteHeader {
}

#siteHeader #siteIntro {
    height: 80px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}

#siteHeader #siteIntro #siteLogo {
}

#siteHeader #siteIntro #headingEnquireButton a,
#siteHeader #siteIntro #headingPhoneButton a {
    max-width: 100%;
    width: 250px;
}

#siteHeader #siteIntro #mobileMenu a {
    width: 50px;
}


/**
 * END SITE HEADER
 */







/**
 * MOBILE HANDLER
 */

.mobile .mobileHide {
    display: none;
}

.mobileShow {
    display: none;
}

.mobile .mobileShow {
    display: block;
}

.mobile .mobileFlexColumn {
    flex-direction: column;
}

/**
 * END MOBILE HANDLER
 */




/**
 * SITE SESSION HANDLER
 */
.sessionShow {
    display: none;
}

.hasSession .sessionShow {
    display: block;
}

.hasSession .sessionHide {
    display: none;
}

/**
 * END SITE SESSION HANDLER
 */



/**
 * SITE MESSAGE HANDLER
 */
#siteMessageHandler {
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
    z-index: 99999999999;
    color: #ffffff;
}
/**
 * END SITE MESSAGE HANDLER
 */



/**
 * SITE FORM HANDLER
 */

.customModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: var(--main);
    display: none;
}

body.modalOpen {
    overflow: hidden;
}

body.modalOpen .customModal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet .customModal, .mobile .customModal {
    align-items: normal;
    padding-bottom: 50px;
}

.modalOuter {
    width: 500px;
    padding: 25px;
    overflow: auto;
}

.modalHeading {
}
.modal-body {
    padding-top: 10px;
    color: var(--lighter)
}

.modalSendSuccessful,
.sendSuccessful {
    display: none;
}

.messageSendSuccessful .modalSendSuccessful,
.messageSendSuccessful .sendSuccessful {
    display: block;
}

.messageSendSuccessful .modalForm,
.messageSendSuccessful .footerFormBody {
    display: none;
}

textarea{
    border: none;
}
.contactForm input,
.contactForm textarea {
    max-width: 580px;
    width: 100%;
    border-bottom: 2.5px solid var(--light);
    font-size: 18px;
    padding: 15px;
    background: transparent;
    margin: 5px 0;
}
.formGroup{
    width: 100%;
}
 .contactForm textarea,#footerForm .contactForm input{
    border-bottom: 2.5px solid var(--main);
}

.formGroup {
    position: relative;
}

.formGroup label {
    position: absolute;
    padding: 1px 5px;
    left: 10px;
    font-size: 12px;
    top: 3px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.formGroup:not(.activeInput) label {
    top: 7px;
    line-height: 46px;
    font-size: 14px;
}


/**
 * SITE FORM HANDLER
 */




/**
 * TABLE LAYOUT
 */
.ttable {
    display: table;
    width: 100%;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
}


/**
 * END TABLE LAYOUT
 */




/**
 * SITE SEARCH
 */


#searchCriteria{
    max-width: 360px;
    width: 100%;
}

#searchCriteria select,
#searchCriteria input[type="submit"] {
    width: 100%;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #9eae47;
    font-size: 11px;
    line-height: 1.3;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    color: #9eae47;
    text-transform: uppercase;
    margin: 2px;
}

#searchCriteria .filter-group {
    border: 0.5px solid #9eae47;
    border-radius: 22px;
    height: 44px;
    display: flex;
    padding: 0 5px;
}

#searchCriteria .filter-group a.filter-item {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    color: #9eae47;
    font-size:12px;
    text-align: center;
    line-height: 32px;
}

#searchCriteria .filter-group a.filter-item.active,
#searchCriteria .filter-group a.filter-item:hover {
    background: #9eae47;
    color: #fff;
    transition: 1s;
}

#searchCriteria input[type="checkbox"] {
    display: none;
}

#searchCriteria .searchButton {
    text-align: center;
    margin: 20px 0;
}

#searchCriteria .searchHeading {
    font-size: 12px;
    font-weight: 500;
    width: 100px;
    color: #9eae47;
    text-transform: uppercase;
}

#searchCriteria.refineMenuOpen #searchPanel {
    display: block;
}

/**
 * SITE SEARCH
 */





/**
 * SEARCH RESULTS
 */

.desktop .searchResultItem{
    width: calc(100% * (1 / 2) - 20px);
    margin: 5px 10px;
}

.imgConatiner{
    width: calc(100% * (1 / 3) - 20px);
    margin: 5px 10px;
    height: auto;
}
.searchResultItem{
    margin: 5px 10px;
    position: relative;
}
.searchResultItem .packageHeader,
.searchResultItem .packageDetails,
.searchResultItem .landDetails {
    padding: 10px;
}

.searchResultItem .packagePrice,
.searchResultItem .landPrice {
    letter-spacing: 2px;
}

.searchResultItem .packageAttribute {
    padding-left: 10px;
}

.searchResultItem .packageAttribute i {
    line-height: 1.42857143;
}

/**
 * END SEARCH RESULTS
 */



/**
 * CONTENT BLOCKS
 */

.blockSideImage .blockContent {
    padding-left: 40px;
    text-align: left;
}

.blockSideImage .flexRowReverse .blockContent {
    padding-right: 40px;
    text-align: right;
}


.newBlockSection .contentBlock:nth-child(odd) {
    background-color: #fff;
}
.blockText{
    font-family: 'Helvetica';
}
/**
 * END CONTENT BLOCKS
 */



/**
 * HEADER SLIDER
 */

#headerSliderCarousel {
    position: relative;
}

.sliderBackgroundImage {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60%;
}

#headerSliderCarousel .sliderItem {
    animation:fading 10s infinite;
}

button.sliderButton {
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #f1f1f1;
}

button.sliderButton.sliderButtonLeft {
    left: 0%;
}

button.sliderButton.sliderButtonRight {
    right: 0%;
}


/**
 * END HEADER SLIDER
 */




/**
 * ANIMATIONS
 */

@keyframes fading {
    0% {opacity:0}
    50% {opacity:1}
    100% {opacity:0}
}

@keyframes spin {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(359deg)}
}

@keyframes animatetop {
    from {top:-300px;opacity:0}
    to {top:0;opacity:1}
}

@keyframes animateleft {
    from {left:-300px;opacity:0}
    to {left:0;opacity:1}
}

@keyframes animateright {
    from {right:-300px;opacity:0}
    to {right:0;opacity:1}
}

@keyframes animatebottom {
    from {bottom:-300px;opacity:0}
    to {bottom:0;opacity:1}
}

@keyframes animatezoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/**
 * END ANIMATIONS
 */





/**
 * FACEBOOK NEWS FEED
 */

#fbFeed {
    max-width: 500px;
}

.fbPost {
    margin: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.fbPostContent {
    padding: 10px;
}

.fbPageIcon {
    border-radius: 50%;
}

.fbPostDetails {
    padding-left: 10px;
    padding-top: 5px;
}

a.fbPageName {
    font-weight: bold;
    color: #365899;
}

.fbFacebookIcon {
    color: #4267b2;
    font-size: 25px;
}

.fbMessage {
    margin: 6px 0 10px 0;
}

.fbImages img {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #e5e5e5;
}

.fbSocial {
    border-top: 1px solid #e5e5e5;
    padding: 10px;
}

.fbSocial a {
    color: #616770;
    font-weight: 500;
}

.fbSocial a .fbSocialLink {
    width: 90%;
    margin: auto;
    line-height: 25px;
}

.fbSocial a .fbSocialLink span {
    margin: 0 5px;
}

.fbSocial a:hover .fbSocialLink {
    background-color: #e5e5e5;
}


/**
 * END FACEBOOK NEWS FEED
 */


/**
 * CONTACT BAR
 */
