<div ng-controller="buildersAppendCtrl">
    <div class="TitleBar">
        <page-title title="'Append Builder'">
            <a href class="btn btn-primary btn-sm" ui-sref="app.adminBuilders">
                <span>View Builders</span>
            </a>
        </page-title>
    </div>

    <div class="adminContent container-fluid" >
        <div>
            <form name="form">
                <div class="form-group">
                    <label>Builders Name</label>
                    <input class="form-control no-border" ng-model="builder.name">
                </div>

                <div class="form-group">
                    <label>Builders Description</label>
                    <textarea class="form-control no-border" rows="3" ng-model="builder.description" />
                </div>

                <div class="form-group">
                    <label>Builders highlights</label>
                    <div class="ttable lotList">
                        <div class="trow">
                            <h2 class="tcell">Hightlight</h2>
                            <h2 class="tcell">Action</h2>
                        </div>
                        <div class="trow" ng-repeat="highlight in builder.highlights">
                            <div class="tcell">
                                <input class="form-control no-border" ng-model="highlight">
                            </div>
                            <div class="tcell">
                                <a href ng-click="blockShiftDown(highlight)" ng-hide="$last">Down</a>
                                <a href ng-click="blockShiftUp(highlight)" ng-hide="$first">Up</a>
                                <a href ng-click="blockDelete(highlight)">Delete</a>
                            </div>
                        </div>
                        <div class="trow">
                            <div class="tcell">
                                <input class="form-control no-border" ng-model="newHighlight">
                            </div>
                            <div class="tcell">
                                <a href ng-click="addHighlight()">Add</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h2>Builders Files</h2>
                    <directive-file-management currentdoc="builder" currentdoctype="'builders'" ng-if="builder._id"></directive-file-management>
                </div>

                <hr/>

                <div ng-if="displaySaving || displaySaved" class="alert alert-danger">
                    <div ng-if="displaySaving">We are currently saving...</div>
                    <div ng-if="displaySaved">Saved..</div>
                    <hr>
                    <directive-display-joke></directive-display-joke>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-warning" ng-click="remove(builder)" ng-if="builder._id">Delete</button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-click="save(builder)">Save Page</button>
                </div>
            </form>
        </div>
    </div>


</div>

