<div ng-controller="homepageCtrl">
    <div class="TitleBar">
        <page-title title="'Website Homepage'" sub-title="'click to edit content'">
            <div class="text-right">
                <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
            </div>
        </page-title>
    </div>

    <div>
        <div class="ttable adminContentTable">
            <div class="trow row">
                <div class="tcell">

                    <div>
                        <div ng-hide="editSlides" ng-click="editSlides = true;">
                            <div ng-show="page.sliderImages.length > 0">
                                <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                    <uib-slide ng-repeat="sliderItem in page.sliderImages track by sliderItem.storeName" index="slide.id">
                                        <!-- <img ng-src="{{'https://res.cloudinary.com/thermosmart/image/upload/' + sliderItem.storeName +'.png'}}" style="margin:auto; width:100%"> -->
                                        <img cl-src="{{sliderItem.storeName}}" style="margin:auto; width:100%">
                                    </uib-slide>
                                </uib-carousel>
                            </div>

                            <div ng-hide="page.sliderImages.length > 0">
                                <div class="sectionContent">
                                    <div class="container">
                                        Currently no slides
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div ng-show="editSlides" class="container">
                            <div class="form-group">
                                <label>Slider Images</label>
                                <div>
                                    <div class="uploadArea uploadImageArea" ngf-drop ngf-select ng-model="sliderImages" class="drop-box"
                                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                         accept="image/*,application/pdf"
                                         ngf-pattern="'image/*,application/pdf'">
                                        <span>Drop product images here</span>
                                        <span>or</span>
                                        <span class="btn btn-primary">click to upload</span>
                                    </div>
                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                </div>
                                <div ng-show="sliderImages.length">
                                    <div>Uploading:</div>
                                    <ul>
                                        <li ng-repeat="f in sliderImages" style="font:smaller">{{f.name}} - {{uploadProgress_sliderImages[f.name]}}%</li>
                                    </ul>
                                </div>
                                <div class="imageDisplay">
                                    <div ng-repeat="thisImage in page.sliderImages" class="imageList" ng-mouseover="this1 = true" ng-mouseleave="this1 = false">
                                        <div>
                                            <img class="img-thumbnail" cl-src="{{thisImage.storeName}}" width="100" height="100" crop="fill" dpr="auto" fetch-format="auto">
                                        </div>
                                        <div class="imageActions text-center" ng-show="this1">
                                            <a href class="leftIcon iconBackground" ng-click="imageShiftUp(thisImage)" ng-hide="$first">
                                                <i class="fa fa-arrow-left"></i>
                                            </a>
                                            <a href class="deleteIcon iconBackground" ng-click="imageDelete(thisImage)">
                                                <i class="fa fa-times"></i>
                                            </a>
                                            <a href class="rightIcon iconBackground"ng-click="imageShiftDown(thisImage)" ng-hide="$last">
                                                <i class="fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a href ng-click="save(page);editSlides = false;">save</a>
                                <a href ng-click="editSlides = false;">cancel</a>
                            </div>
                        </div>
                    </div>


                    <div class="sectionContent">
                        <div class="container">
                            <div ng-hide="editIntro" ng-click="editIntro = true;">
                                <h1>{{page.intro.title || 'Edit Intro Title'}}</h1>
                                <div ng-bind-html="page.intro.content || 'Edit Intro Content'"></div>
                            </div>

                            <div ng-show="editIntro">
                                <div class="form-group">
                                    <input class="form-control no-border" ng-model="page.intro.title">
                                </div>
                                <div class="form-group">
                                    <div text-angular ng-model="page.intro.content"></div>
                                </div>
                                <a href ng-click="save(page);editIntro = false;">Save</a>
                                <a href ng-click="editIntro = false;">cancel</a>
                            </div>

                        </div>
                    </div>



                    <div class="sectionContent">
                        <div ng-hide="editWhy" ng-click="editWhy = true;">
                            <div class="container">
                                <h1>{{page.why.title || 'Edit Why Title'}}</h1>
                                <div ng-bind-html="page.why.content || 'Edit Why Content'"></div>
                            </div>

                            <div>
                                <div class="whyItemsContainer">
                                    <div ng-repeat="why in page.why.contentAreas" class="whyItem" ng-style="setWhyStyle(why)">
                                        <h2>{{why.title}}</h2>
                                        <div>{{why.content}}</div>
                                        <div text-align="center">
                                            <a ng-href="why.link" class="btn btn-default">{{why.buttonText}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-show="editWhy" class="container clearfix">
                            <div class="form-group">
                                <input class="form-control no-border" ng-model="page.why.title">
                            </div>
                            <div class="form-group">
                                <div text-angular ng-model="page.why.content"></div>
                            </div>

                            <div class="row">
                                <div class="ttable">
                                    <div class="trow row">
                                        <div class="tcell bg-light lter leftMenu">
                                            <div ng-repeat="why in page.why.contentAreas"
                                                 ng-click="editWhyContent(why);">
                                                {{why.title}}
                                            </div>
                                        </div>
                                        <div class="tcell rightside">
                                            <div ng-repeat="why in page.why.contentAreas" ng-show="$index == editWhyIndex">
                                                <div class="form-group">
                                                    <label>Title</label>
                                                    <input class="form-control no-border" ng-model="why.title">
                                                </div>
                                                <div class="form-group">
                                                    <label>Content</label>
                                                    <input class="form-control no-border" ng-model="why.content">
                                                </div>
                                                <div class="form-group">
                                                    <label>Link</label>
                                                    <input class="form-control no-border" ng-model="why.link">
                                                </div>
                                                <div class="form-group">
                                                    <label>Button Text</label>
                                                    <input class="form-control no-border" ng-model="why.buttonText">
                                                </div>
                                                <div class="form-group">
                                                    <label>Background Colour</label>
                                                    <input class="form-control no-border" ng-model="why.backgroundColor">
                                                </div>
                                                <div class="form-group">
                                                    <label>Text Colour</label>
                                                    <input class="form-control no-border" ng-model="why.textColor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href ng-click="save(page);editWhy = false;">Save</a>
                            <a href ng-click="editWhy = false;">cancel</a>
                        </div>
                    </div>




                    <div class="sectionContent">
                        <div class="container">
                            <div ng-hide="editAssociateLogos" ng-click="editAssociateLogos = true;">
                                <h1>{{page.associateLinks.title || 'Edit Associate Links Title'}}</h1>
                                <div>
                                    <span ng-repeat="thisImage in page.associateLinks.logoLinks">
                                        <img class="img-thumbnail" cl-src="{{thisImage.storeName}}" width="100" height="100" crop="fill" dpr="auto" fetch-format="auto">
                                    </span>
                                </div>
                            </div>


                            <div ng-show="editAssociateLogos">
                                <div class="form-group">
                                    <label>Section Title</label>
                                    <input class="form-control no-border" ng-model="page.associateLinks.title">
                                </div>

                                <div class="form-group">
                                    <label>Associate Logos</label>
                                    <div>
                                        <div class="uploadArea uploadImageArea" ngf-drop ngf-select ng-model="associateLogos" class="drop-box"
                                             ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                                             accept="image/*,application/pdf"
                                             ngf-pattern="'image/*,application/pdf'">
                                            <span>Drop product images here</span>
                                            <span>or</span>
                                            <span class="btn btn-primary">click to upload</span>
                                        </div>
                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                    </div>
                                    <div ng-show="associateLogos.length">
                                        <div>Uploading:</div>
                                        <ul>
                                            <li ng-repeat="f in associateLogos" style="font:smaller">{{f.name}} - {{uploadProgress_associateLogos[f.name]}}%</li>
                                        </ul>
                                    </div>
                                    <div class="imageDisplay">
                                        <div ng-repeat="thisImage in page.associateLinks.logoLinks" class="imageList" ng-mouseover="this1 = true" ng-mouseleave="this1 = false">
                                            <div>
                                                <img class="img-thumbnail" cl-src="{{thisImage.storeName}}" width="100" height="100" crop="fill" dpr="auto" fetch-format="auto">
                                            </div>
                                            <div class="imageActions text-center" ng-show="this1">
                                                <a href class="leftIcon iconBackground" ng-click="associateLogoShiftUp(thisImage)" ng-hide="$first">
                                                    <i class="fa fa-arrow-left"></i>
                                                </a>
                                                <a href class="deleteIcon iconBackground" ng-click="associateLogoDelete(thisImage)">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                                <a href class="rightIcon iconBackground"ng-click="associateLogoShiftDown(thisImage)" ng-hide="$last">
                                                    <i class="fa fa-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <a href ng-click="save(page);editAssociateLogos = false;">save</a>
                                    <a href ng-click="editAssociateLogos = false;">cancel</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
