<div ng-controller="userCtrl">
    <div class="TitleBar">
        <page-title title="'User'">
            <a class="btn btn-primary btn-addon btn-lg" ng-click="toggleAdd()">
            <i class="fa fa-plus"></i>New User</a>
        </page-title>
    </div>


    <div class="table-body">
        <div class="table-row row">

            <div class="leftside">
                <div class="wrapper-md">
                    <div class="row list-group-item" ng-repeat="thisresult in results">
                        <div class="col-sm-10">
                            <div><strong>{{thisresult.firstname}} {{thisresult.lastname}}</strong> - {{thisresult.email}}</div>
                            <div>
                                <strong>Roles: </strong>
                                <span ng-show="thisresult.role_seller">Seller, </span>
                                <span ng-show="thisresult.role_admin">Admin</span>
                            </div>
                        </div>
                        <div class="col-sm-2 text-right">
                            <a ng-click="edit(thisresult)">Edit</a>
                            <a ng-click="delete(thisresult)">Delete</a>
                        </div>
                    </div>
                    <div class="list-group-item" ng-show="!results.length">There are currently no {{pagetypeplural}}.</div>
                </div>
            </div>


            <div class="rightside">
                <content>
                    <div class="wrapper-md animate-show" ng-show="showAdd">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold">Add New {{pagetypesingle}}</div>
                            <div class="panel-body">
                                <form name="form">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input class="form-control no-border" ng-model="user.firstname" >
                                    </div>

                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input class="form-control no-border" ng-model="user.lastname" >
                                    </div>

                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control no-border" ng-model="user.email" >
                                    </div>

                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="form-control no-border" ng-model="user.password" >
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input class="form-control no-border" ng-model="user.mobile" >
                                    </div>

                                    <div class="form-group">
                                        <div class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="user.role_seller"> Seller
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="user.role_admin"> Admin
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="text-right">
                                        <button type="submit" class="btn btn-lg btn-primary" ng-click="signup(user)">Save Page</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="wrapper-md animate-show" ng-hide="showAdd">Select a User</div>
                </content>
            </div>
        </div>
    </div>


</div>
