@font-face {
    font-family: 'fonticons';
    src: url('./fonticons/fonticons.eot');
    src: url('./fonticons/fonticons.eot#iefix') format('embedded-opentype'),
    url('./fonticons/fonticons.woff2') format('woff2'),
    url('./fonticons/fonticons.woff') format('woff'),
    url('./fonticons/fonticons.ttf') format('truetype'),
    url('./fonticons/fonticons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fonticons';
    src: url('./fonticons/fonticons.svg') format('svg');
  }
}
*/

[class^="fonticon-"]:before, [class*=" fonticon-"]:before {
    font-family: "fonticons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fonticon-garage:before { content: '\e800'; } /* 'î €' */
.fonticon-shower:before { content: '\e801'; } /* 'î ' */
.fonticon-play-circled:before { content: '\e802'; } /* 'î ‚' */
.fonticon-chain:before { content: '\e803'; } /* 'î ƒ' */
.fonticon-arrow-top-right:before { content: '\e804'; } /* 'î „' */
.fonticon-arrow-right:before { content: '\e805'; } /* 'î …' */
.fonticon-phone-circled:before { content: '\e806'; } /* 'î †' */
.fonticon-bed:before { content: '\e807'; } /* 'î ‡' */
.fonticon-down-arrow:before { content: '\e808'; } /* 'î ˆ' */
.fonticon-slide-right:before { content: '\e809'; } /* 'î ‰' */
.fonticon-slide-left:before { content: '\e80a'; } /* 'î Š' */
.fonticon-ball:before { content: '\e80b'; } /* 'î ‹' */
.fonticon-bus:before { content: '\e80c'; } /* 'î Œ' */
.fonticon-flag:before { content: '\e80d'; } /* 'î ' */
.fonticon-train:before { content: '\e80e'; } /* 'î Ž' */
.fonticon-tree:before { content: '\e80f'; } /* 'î ' */
.fonticon-cart:before { content: '\e810'; } /* 'î ' */
.fonticon-lock-open:before { content: '\e811'; } /* 'î ‘' */
.fonticon-menu:before { content: '\e812'; } /* 'î ’' */
.fonticon-down-dir:before { content: '\e813'; } /* 'î “' */
.fonticon-filter:before { content: '\e814'; } /* 'î ”' */
.fonticon-location:before { content: '\e815'; } /* 'î •' */
.fonticon-left-dir:before { content: '\e816'; } /* 'î –' */
.fonticon-right-dir:before { content: '\e817'; } /* 'î —' */
.fonticon-play:before { content: '\e818'; } /* 'î ˜' */
.fonticon-left:before { content: '\e819'; } /* 'î ™' */
.fonticon-magnify:before { content: '\e81a'; } /* 'î š' */
.fonticon-right-open-mini:before { content: '\e81b'; } /* 'î ›' */
.fonticon-grad-cap:before { content: '\e81c'; } /* 'î œ' */
.fonticon-right:before { content: '\e81d'; } /* 'î ' */
.fonticon-share:before { content: '\e81e'; } /* 'î ž' */
.fonticon-mail:before { content: '\e81f'; } /* 'î Ÿ' */
.fonticon-down-open-big:before { content: '\e821'; } /* 'î ¡' */
.fonticon-cancel:before { content: '\e85f'; } /* 'î¡Ÿ' */
.fonticon-download:before { content: '\e860'; } /* 'î¡ ' */