<div>
    <div class="clearfix">
        <div class="pull-right">
            <a href ng-click="showhide('archive')">show / hide</a>
        </div>
    </div>


    <div class="clearfix">
        <div class="ttable lotList">
            <div class="trow">
                <h2 class="tcell">Id</h2>
                <h2 class="tcell">File Name</h2>
                <h2 class="tcell">Affiliation</h2>
                <h2 class="tcell">MimeType</h2>
                <h2 class="tcell">File Type</h2>
                <h2 class="tcell">Archive</h2>
                <h2 class="tcell">Action</h2>
            </div>
            <div class="trow" ng-repeat="mediaFile in mediaFiles" ng-if="!mediaFile[hideThis]">
                <div class="tcell">{{mediaFile._id}}</div>
                <div class="tcell">
                    <a href
                       ng-href="http://clientstorage.altitudepm.com.au/{{mediaFile.storeName}}"
                       target="_blank">{{mediaFile.originalName}}
                    </a>
                </div>
                <div class="tcell">
                    <div ng-repeat="fileAssociation in fileAssociations" ng-if="mediaFile[fileAssociation]">
                        <strong>{{fileAssociation}}:</strong>
                        <span>{{mediaFile[fileAssociation]}}</span>
                    </div>
                </div>

                <div class="tcell">{{mediaFile.mimetype}}</div>
                <div class="tcell">
                    <select ng-model="mediaFile.fileType" ng-change="updateMediaFile(mediaFile)">
                        <option value="null">---Please select---</option>
                        <option ng-repeat="fileType in fileTypes" value="{{fileType._id}}">{{fileType.fileTypeName}}</option>
                    </select>
                </div>
                <div class="tcell">
                    <a ng-show="mediaFile.archive" ng-click="archiveMediaFile(mediaFile)"><i class="fa fa-check-square-o"></i></a>
                    <a ng-hide="mediaFile.archive" ng-click="archiveMediaFile(mediaFile)"><i class="fa fa-square-o"></i></a>
                </div>
                <div class="tcell">
                    <a href ng-click="updateMediaFile(mediaFile)">save</a>
                </div>
            </div>
    </div>

</div>
