<div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
    JAMES TEST
    <div class="carousel-inner" ng-transclude></div>
    <a role="button" href class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">previous</span>
    </a>
    <a role="button" href class="right carousel-control" ng-click="next()" ng-show="slides.length > 1">
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">next</span>
    </a>
    <div class="carousel-indicators" ng-show="slides.length > 1">
        <div ng-repeat="slide in slides" ng-class="{ active: isActive(slide) }" ng-click="select(slide)" style="width:200px; height:200px; display:inline-block;">
            <img ng-src="{{slide.fullImageURL || '//:0'}}" />
        </div>
    </div>
</div>
