<div ng-controller="buildersListCtrl">
    <div class="TitleBar">
        <page-title title="'Builders'">
            <a href class="btn btn-primary btn-addon btn-lg" ng-click="editPage({})">
                <i class="fa fa-plus"></i>
                <span>New Builder</span>
            </a>
        </page-title>
    </div>


    <div class="adminContent container-fluid">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">Builder Logo</h2>
                <h2 class="tcell">Builder Name</h2>
                <h2 class="tcell">Builder Packages</h2>
                <h2 class="tcell">Files</h2>
                <h2 class="tcell">Actions</h2>
            </div>
            <div class="trow" ng-repeat="thisresult in buildersResults">
                <div class="tcell">
                    <a href ng-repeat="thisFile in thisresult.associatedFiles"
                       ng-if="thisFile.fileType == '59c4903c6fbf80ee889d2039'"
                       ng-href="http://clientstorage.altitudepm.com.au/{{thisFile.storeName}}"
                       target="_blank">
                        <img ng-src="http://clientstorage.altitudepm.com.au/{{thisFile.storeName}}"
                             style="height:30px;"/>
                    </a>
                </div>

                <div class="tcell">
                    <div>{{thisresult.name}}</div>
                </div>

                <div class="tcell">
                    <div>{{thisresult.packageCount}}</div>
                </div>

                <div class="tcell">
                    <div>{{thisresult.associatedFiles.length}}</div>
                </div>

                <div class="tcell">
                    <a href ui-sref="app.adminBuilderId({builderId: thisresult._id})">edit</a>
                </div>
            </div>

        </div>
    </div>


</div>
