    <div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;" ng-controller="SigninCtrl">
        <div class="middleThis-outer">
            <div class="middleThis">
                <div>
                    <h1 class="text-center">Oakland Village - Admin</h1>
                </div>

                <div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="signUpBody well well-large">
                                <div class="m-b-lg">
                                    <div class="wrapper text-center">
                                        <strong>Sign in below</strong>
                                    </div>
                                    <form name="form" class="form-validation">
                                        <div class="text-danger wrapper text-center" ng-show="authError">
                                            {{authError}}
                                        </div>
                                        <div class="list-group list-group-sm">
                                            <div class="list-group-item">
                                                <input type="email" placeholder="Email" class="form-control no-border" ng-model="userLogin.email" required>
                                            </div>
                                            <div class="list-group-item">
                                                <input type="password" placeholder="Password" class="form-control no-border" ng-model="userLogin.password" required>
                                            </div>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block" ng-click="login(userLogin.email, userLogin.password)" ng-disabled="!(userLogin.email && userLogin.password)">Log in</button>
                                        <div class="text-center m-t m-b" onclick="alert('Not yet implemented')">Forgot password?</div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
