<div id="siteAdmin">
    <toolbar app="app"></toolbar>
    <div class="pageContent">
        <div class="app-content-body fade-in-up" ui-view></div>
    </div>
    <footer app="app"></footer>
</div>

