<div ng-controller="adminListContentBlocksCtrl">
    <div class="TitleBar">
        <page-title title="'Content Blocks : Page Sub-Content'">
            <a href class="btn btn-primary btn-sm" ui-sref="app.adminNewContentBlock()">
                <i class="fa fa-plus"></i>
                <span>New Content Block</span>
            </a>
        </page-title>
    </div>


    <div class="adminContent container-fluid">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">Content Block</h2>
                <h2 class="tcell">Order</h2>
                <h2 class="tcell">Block Title</h2>
                <h2 class="tcell">Files</h2>
                <h2 class="tcell">Feature Image</h2>
                <h2 class="tcell">Link</h2>
                <h2 class="tcell">Action</h2>
            </div>
            <div class="trow" ng-repeat="thisresult in resultsContentBlocks | orderBy: 'contentBlockType'" >
                <div class="tcell">{{contentBlockTypesObject[thisresult.contentBlockType].name}}</div>
                <div class="tcell">{{thisresult.order}}</div>
                <div class="tcell">{{thisresult.heading}}</div>
                <div class="tcell">{{thisresult.associatedFiles.length}}</div>
                <div class="tcell">
                    <a href ng-repeat="associatedFile in thisresult.associatedFiles"
                       ng-if="associatedFile.fileType == '59cb1573d1fe2c7bc46efdaa'"
                       ng-href="http://clientstorage.altitudepm.com.au/{{associatedFile.storeName}}"
                       target="_blank">
                        <img ng-src="http://clientstorage.altitudepm.com.au/{{associatedFile.storeName}}"
                             style="height:30px;"/>
                    </a>
                </div>
                <div class="tcell">
                    <a ng-href="{{thisresult.link}}" target="_blank">{{thisresult.link}}</a>
                </div>
                <div class="tcell">
                    <a href ui-sref="app.adminContentBlockId({blockId: thisresult._id})">Edit</a>
                </div>
            </div>
        </div>
        <div>
            <a href ui-sref="app.adminNewContentBlock()">Add Content Block</a>
        </div>
    </div>



</div>
