<div ng-controller="adminAppendHomesCtrl">
    <div class="TitleBar">
        <page-title title="'Append Homes'">
            <a href class="btn btn-primary btn-addon btn-sm" ui-sref="app.adminHomes">
                <i class="fa fa-plus"></i>
                <span>View Homes</span>
            </a>
        </page-title>
    </div>

    <div class="adminContent container-fluid">
        <div>
            <form name="form">
                <div class="form-group">
                    <label>House Name</label>
                    <input class="form-control no-border" ng-model="page.name">
                </div>
                <div class="form-group">
                    <label>Builder</label>
                    <select ng-model="page.builder">
                        <option ng-repeat="builder in buildersResults" value="{{builder._id}}">{{builder.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>House Price</label>
                    <input class="form-control no-border" ng-model="page.housePrice">
                </div>
                <div class="form-group">
                    <label>House Size (m2)</label>
                    <input class="form-control no-border" ng-model="page.houseSize">
                </div>
                <div class="form-group">
                    <label>Bedrooms</label>
                    <input class="form-control no-border" ng-model="page.bedrooms">
                </div>
                <div class="form-group">
                    <label>Bathrooms</label>
                    <input class="form-control no-border" ng-model="page.bathrooms">
                </div>
                <div class="form-group">
                    <label>Cars</label>
                    <input class="form-control no-border" ng-model="page.cars">
                </div>
                <div class="form-group">
                    <label>House Levels</label>
                    <input class="form-control no-border" ng-model="page.houseLevels">
                </div>

                <div>
                    <h2>Files</h2>
                    <directive-file-management currentdoc="page" currentdoctype="'homes'" ng-if="page._id"></directive-file-management>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-lg btn-warning" ng-click="remove(page)">Delete</button>
                    <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>
