<div ng-controller="adminMenuCtrl">
    <div class="TitleBar">
        <page-title title="'Menus'">
            <a href class="btn btn-primary btn-addon btn-lg" ng-click="editPage({})">
                <i class="fa fa-plus"></i>
                <span>New Menu</span>
            </a>
        </page-title>
    </div>

    <div class="ttable adminContentTable">
        <div class="trow row">

            <div class="tcell bg-light lter leftMenu">
                <div class="menuItem" ng-repeat="thisresult in menuResults" ng-mouseover="this1 = true" ng-mouseleave="this1 = false">
                    <div>{{thisresult.name}}</div>
                    <div ng-show="this1">
                        <a href ng-click="editPage(thisresult)">Edit</a>
                        <a href ng-click="delete(thisresult)">Delete</a>
                    </div>
                </div>
                <div class="menuItem" ng-show="!menuResults.length">
                    <div>There are currently no {{pagetypeplural}}.</div>
                </div>
                <div class="menuItem text-center">
                    <a href ng-click="editPage({})">
                        <span>Add Builder</span>
                    </a>
                </div>
            </div>

            <div class="tcell rightside">
                <div class="content">
                    <div class="animate-show" ng-hide="hideThis">
                        <form name="form">
                            <div class="form-group">
                                <label>ID</label>
                                <div>{{page._id}}</div>
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control no-border" ng-model="page.name">
                            </div>

                            <div class="form-group">
                                <label>Menu Id</label>
                                <input class="form-control no-border" ng-model="page.menuId">
                            </div>

                            <div class="form-group">
                                <label>Menu Custom CSS Class</label>
                                <input class="form-control no-border" ng-model="page.menuCssClass">
                            </div>

                            <uib-accordion close-others="oneAtATime">
                                <div uib-accordion-group class="panel-default" ng-repeat="thisParentMenu in page.parentMenus">
                                    <uib-accordion-heading>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input class="form-control no-border" ng-model="thisParentMenu.name">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Link</label>
                                                    <input class="form-control no-border" ng-model="thisParentMenu.link">
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <a href ng-click="parentItemDelete(thisParentMenu)">Delete</a>
                                                    <a href ng-click="parentItemUp(thisParentMenu)" ng-hide="$first">Up</a>
                                                    <a href ng-click="parentItemDown(thisParentMenu)" ng-hide="$last">Down</a>
                                                </div>
                                                <div>
                                                    Sub Menu Items: {{thisParentMenu.subMenus.length}}
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">

                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label>Submenu Custom CSS Class</label>
                                                    <input class="form-control no-border" ng-model="thisParentMenu.subMenuCssClass">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Use SubMenu Link</label>
                                                    <span ng-click="thisParentMenu.useSubMenuLink = !thisParentMenu.useSubMenuLink">
                                                        <div >
                                                            <i class="fa fa-check" aria-hidden="true" ng-show="thisParentMenu.useSubMenuLink"></i>
                                                            <i class="fa fa-times" aria-hidden="true" ng-hide="thisParentMenu.useSubMenuLink"></i>
                                                        </div>
                                                    </span>
                                                    <select ng-show="thisParentMenu.useSubMenuLink"
                                                            ng-options="selectedSub._id as selectedSub.name for selectedSub in menuResults"
                                                            ng-model="thisParentMenu.subMenuLink"></select>
                                                </div>
                                            </div>
                                        </div>

                                    </uib-accordion-heading>

                                    <div class="row" ng-repeat="thisSubMenu in thisParentMenu.subMenus">
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input class="form-control no-border" ng-model="thisSubMenu.name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Link</label>
                                                        <input class="form-control no-border" ng-model="thisSubMenu.link">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <a href ng-click="subItemDelete(thisSubMenu, thisParentMenu)">Delete</a>
                                                <a href ng-click="subItemUp(thisSubMenu, thisParentMenu)" ng-hide="$first">Up</a>
                                                <a href ng-click="subItemDown(thisSubMenu, thisParentMenu)" ng-hide="$last">Down</a>
                                            </div>
                                        </div>
                                    </div>

                                    <hr/>

                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input class="form-control no-border" ng-model="addSubMenu.name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Link</label>
                                                        <input class="form-control no-border" ng-model="addSubMenu.link">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <a href ng-click="subItemAdd(addSubMenu, thisParentMenu)">Add</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </uib-accordion>

                            <hr/>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control no-border" ng-model="addParentMenu.name">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label>Link</label>
                                        <input class="form-control no-border" ng-model="addParentMenu.link">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <a href ng-click="parentItemAdd(addParentMenu)">Add</a>
                                    </div>
                                </div>
                            </div>




                            <div class="text-right">
                                <button type="submit" class="btn btn-lg btn-danger" ng-click="delete(page)">Delete</button>
                                <button type="submit" class="btn btn-lg btn-default" ng-click="close(page)">Close</button>
                                <button type="submit" class="btn btn-lg btn-primary" ng-click="save(page)">Save Page</button>
                            </div>
                        </form>
                    </div>

                    <div ng-show="hideThis">
                        <span>Select to edit an existing page from the left menu, or</span>
                        <a ng-click="editPage({})">click to add a new page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
