<div ng-controller="adminListPackagesCtrl">
    <div class="TitleBar">
        <page-title title="'Packages'">
            <a href class="btn btn-primary btn-addon btn-sm" ui-sref="app.adminNewPackage">
                <i class="fa fa-plus"></i>
                <span>New Package</span>
            </a>
        </page-title>
    </div>

    <div class="adminContent container-fluid">
        <div class="ttable lotList hoverRows">
            <div class="trow">
                <h2 class="tcell">
                    <a href="" ng-click="selectAllRows()">
                        <span ng-show="Object.keys(selectedRows).length == homeResults.length">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="Object.keys(selectedRows).length == homeResults.length">
                            <i class="fas fa-square" ></i>
                        </span>
                    </a>
                </h2>
                <h2 class="tcell">Package Image</h2>
                <h2 class="tcell">House Name</h2>
                <h2 class="tcell">Builder</h2>
                <h2 class="tcell">Stage / Lot</h2>
                <h2 class="tcell">Lot Size (m2)</h2>
                <h2 class="tcell">House Size (m2)</h2>
                <h2 class="tcell">Bed</h2>
                <h2 class="tcell">Bath</h2>
                <h2 class="tcell">Car</h2>
                <h2 class="tcell">Levels</h2>
                <h2 class="tcell">Package Price</h2>
                <h2 class="tcell">Land Price</h2>
                <h2 class="tcell">Build Price</h2>
                <h2 class="tcell">Brochure</h2>
                <h2 class="tcell">Files</h2>
                <h2 class="tcell">Actions</h2>
            </div>
            <div class="trow" ng-repeat="thisresult in packageResults">
                <div class="tcell">
                    <a href="" ng-click="selectRow(thisresult)">
                        <span ng-show="selectedRows[thisresult._id]">
                            <i class="fas fa-check-square" ></i>
                        </span>
                        <span ng-hide="selectedRows[thisresult._id]">
                            <i class="fas fa-square" ></i>
                        </span>
                    </a>
                </div>

                <div class="tcell">
                    <a href ng-repeat="thisFile in thisresult.associatedFiles"
                       ng-if="thisFile.fileType == '59c4903c6fbf80ee889d2039'"
                       ng-href="http://clientstorage.altitudepm.com.au/{{thisFile.storeName}}"
                       target="_blank">
                        <img ng-src="http://clientstorage.altitudepm.com.au/{{thisFile.storeName}}"
                             style="height:30px;"/>
                    </a>
                </div>

                <div class="tcell">{{thisresult.houseName}}</div>
                <div class="tcell">{{thisresult.builder.name}}</div>
                <div class="tcell">{{thisresult.land.lotNumber}}</div>
                <div class="tcell">{{thisresult.landSize}}m2</div>
                <div class="tcell">{{thisresult.houseSize}}</div>
                <div class="tcell">{{thisresult.bedrooms}}</div>
                <div class="tcell">{{thisresult.bathrooms}}</div>
                <div class="tcell">{{thisresult.cars}}</div>
                <div class="tcell">{{thisresult.houseLevels}}</div>
                <div class="tcell">{{thisresult.packagePrice}}</div>
                <div class="tcell">{{thisresult.landPrice}}</div>
                <div class="tcell">{{thisresult.buildPrice}}</div>
                <div class="tcell">
                    <a href ng-repeat="thisFile in thisresult.associatedFiles"
                       ng-if="thisFile.fileType == '59c47ec81e66a3e5ca44a0ec'"
                       ng-href="http://clientstorage.altitudepm.com.au/{{thisFile.storeName}}"
                       target="_blank">Brochure</a>
                </div>
                <div class="tcell">{{thisresult.associatedFiles.length}}</div>

                <div class="tcell">
                    <a href ng-click="remove(thisresult)">remove</a>
                    <a href ui-sref="app.adminPackageId({packageId: thisresult._id})">edit</a>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="Object.keys(selectedRows).length > 0" class="navbar-fixed-bottom bg-lightGrey">
        <a href="" class="btn btn-danger" ng-click="deleteRows()">Delete</a>
    </div>

</div>
